Repository kevinhervieux-koveo/koveo-gestion-saas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve how system alerts are handled and displayed
  tests/unit/notification-service.test.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add comprehensive documentation validation to project checks
  client/src/components/admin/organization-form-dialog.tsx
  client/src/components/admin/user-list.tsx
  client/src/components/auth/registration-wizard.tsx
  client/src/components/auth/steps/password-creation-step.tsx
  client/src/components/auth/steps/profile-completion-step.tsx
  replit.md
  scripts/docs-validation.ts
  scripts/enhanced-validation.ts
  tests/unit/quality-metrics.test.ts
  tests/unit/ssl-renewal-job.test.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve code quality and error handling throughout the application
  client/src/components/admin/organization-form-dialog.tsx
  client/src/components/admin/user-list.tsx
  client/src/components/auth/registration-wizard.tsx
  client/src/components/auth/steps/profile-completion-step.tsx
  client/src/components/auth/steps/quebec-privacy-consent-step.tsx
  client/src/components/auth/steps/token-validation-step.tsx
  client/src/components/dashboard/replit-ai-monitoring.tsx
  client/src/components/filter-sort/FilterSort.tsx
  client/src/components/forms/feature-form.tsx
  client/src/components/forms/organization-form.tsx
  client/src/components/layout/sidebar.tsx
  client/src/components/roadmap/actionable-items-panel.tsx
  client/src/pages/admin/documentation.tsx
  client/src/pages/admin/roadmap.tsx
  client/src/pages/manager/user-management.tsx
  scripts/docs-validation.ts
  server/api/ai-monitoring.ts
  server/api/ssl.ts
  server/api/users.ts
  server/services/email-routes.ts
  server/services/metric-validation.ts
  tests/unit/notification-service.test.ts
  tests/unit/quality-metrics.test.ts
  tests/unit/ssl-renewal-job.test.ts
  tools/smart-context-manager.ts
  types/global.d.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve form validation and error handling across the platform
  client/src/components/auth/steps/password-creation-step.tsx
  server/services/email-service.ts
  server/services/gemini-analysis.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Fix hamburger menu not opening and improve error handling in permissions
  client/src/App.tsx
  client/src/components/layout/header.tsx
  server/api/permissions.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve error handling and logging across the application
  client/src/components/layout/header.tsx
  server/api/ai-monitoring.ts
  server/api/organizations.ts
  server/api/permissions.ts
  server/api/users.ts
  server/auth/invitation-rbac.ts
  server/database-optimization.ts
  server/init-database-optimizations.ts
  server/jobs/index.ts
  server/jobs/ssl_renewal_job.ts
  server/middleware/validation-middleware.ts
  server/optimized-db-storage.ts
  server/performance-api.ts
  server/query-cache.ts
  server/rbac.ts
  server/services/email-routes.ts
  server/services/notification_service.ts
  server/services/ssl_service.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Fix issues with data insertion and validation to ensure app stability
  server/auth/invitation-rbac.ts
  server/middleware/validation-middleware.ts
  server/optimized-db-storage.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Fix issue preventing the mobile menu from opening on click
  client/src/App.tsx
  client/src/components/layout/header.tsx
  client/src/components/layout/sidebar.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Provide mobile menu functionality across the application
  client/src/App.tsx
  client/src/components/layout/header.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Refactor mobile menu functionality into a dedicated hook and provider
  client/src/App.tsx
  client/src/components/layout/header.tsx
  client/src/components/layout/sidebar.tsx
  client/src/hooks/use-mobile-menu.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Fix mobile menu to reliably open and close with backdrop
  replit.md
Due: prettier --write

Improve how project progress is calculated for the roadmap display
  attached_assets/Screenshot_20250818-063107_1755513072444.png
  client/src/pages/admin/roadmap.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Display all available features within their respective categories
  attached_assets/Screenshot_20250818-063245_1755513190979.png
  client/src/pages/admin/roadmap.tsx
  server/routes.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve feature display by debugging API calls and database queries
  server/routes.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve feature retrieval with enhanced API error handling and logging
  client/src/pages/admin/roadmap.tsx
  server/routes.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add authentication and authorization to the features API endpoint
  client/src/pages/admin/roadmap.tsx
  server/routes.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Refresh feature data more frequently to show latest updates
  client/src/pages/admin/roadmap.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve feature loading by directly querying the database for roadmap data
  client/src/pages/admin/roadmap.tsx
  server/routes.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve error handling for feature loading and server responses
  client/src/pages/admin/roadmap.tsx
  server/routes.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add emergency route to bypass middleware for features data
  attached_assets/image_1755515058720.png
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Fix issue preventing roadmap features from displaying correctly
  client/src/pages/admin/roadmap.tsx
  replit.md
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Allow users to update the status of their features
  attached_assets/image_1755515511886.png
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve performance by streamlining data handling and updating core logic
  attached_assets/image_1755515612711.png
Due: none

Improve roadmap display and status updates by prioritizing API routes
  replit.md
Due: prettier --write

Saved your changes before starting work
  attached_assets/image_1755515691407.png
Due: none

Remove two-factor authentication options from invitations
  client/src/components/admin/invitation-management.tsx
  client/src/components/admin/send-invitation-dialog.tsx
  server/routes.ts
  shared/schema.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Simplify user invitations by removing two-factor authentication requirements
  replit.md
Due: prettier --write

Add screenshot illustrating missing organization view
  attached_assets/Screenshot_20250818-072500_1755516313970.png
Due: none

Improve organization data fetching and filtering for user invitations
  client/src/components/admin/send-invitation-dialog.tsx
  server/routes.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add logging to user organization access checks
  server/rbac.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve organization data fetching and add new API route
  client/src/components/admin/send-invitation-dialog.tsx
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Enable users to see their associated organizations
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve invitation process by filtering out invalid organization IDs
  attached_assets/Screenshot_20250818-073713_1755517060693.png
  client/src/components/admin/send-invitation-dialog.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve organization filtering for invitation dialog to ensure data validity
  client/src/components/admin/send-invitation-dialog.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve filtering and display of organizations for invitations
  attached_assets/Screenshot_20250818-075927_1755518379290.png
  client/src/components/admin/send-invitation-dialog.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve organization selection by simplifying logic and removing unnecessary logging
  client/src/components/admin/send-invitation-dialog.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update organization selection to fix invitation errors
  client/src/components/admin/send-invitation-dialog.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve invitation dialog by switching to native select elements
  attached_assets/Screenshot_20250818-081056_1755519086554.png
  client/src/components/admin/send-invitation-dialog.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update project documentation with current technical details
  replit.md
Due: prettier --write

Saved your changes before starting work
  attached_assets/image_1755536579723.png
Due: none

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md,yml,yaml})
  bash -c 'npm run typecheck': any of: *.{ts,tsx}
