Repository kevinhervieux-koveo/koveo-gestion-saas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Task #1066: bulk-import staging janitor
  server/api/bulk-import.ts
  server/index.ts
  tests/integration/bulk-import-staging-janitor.test.ts
  tests/unit/api/bulk-import-staging-janitor.test.ts
Due: eslint --fix, prettier --write

Git commit prior to merge
  server/tests/fixtures/french-upload.pdf
Due: none

Stop test runs from getting stuck on a loading spinner (Task #1076)
  tests/unit/components/bulk-document-import-detail-panel.test.tsx
Due: eslint --fix, prettier --write

Task #1082: Hide manually-completed files from the incomplete list
  client/src/pages/admin/bulk-document-import.tsx
  tests/unit/components/bulk-document-import-detail-panel.test.tsx
Due: eslint --fix, prettier --write

Task #1067: Memory-bound regression test for bulk-import upload
  tests/integration/bulk-import-upload-large-batch-memory.test.ts
Due: eslint --fix, prettier --write

Task #1080 — Make the bulk-import staging root configurable for tests and ops
  server/api/bulk-import.ts
  tests/integration/bulk-import-staging-janitor.test.ts
  tests/unit/api/bulk-import-staging-janitor.test.ts
Due: eslint --fix, prettier --write

feat(bulk-import): inline residence picker in per-item reassign panel (Task #1083)
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
  tests/unit/api/bulk-import-reassign-with-residence.test.ts
Due: eslint --fix, prettier --write

Task #1074: Frontend test for "Retry step from scratch" button
  tests/unit/components/bulk-document-import-reset-step.test.tsx
Due: eslint --fix, prettier --write

Document BULK_IMPORT_STAGING_ROOT for ops (Task #1087)
  docs/deployment/bulk-import-staging.md
  docs/deployment/deployment-guide.md
Due: prettier --write

Task #1086: Pin BULK_IMPORT_STAGING_ROOT across remaining bulk-import tests
  tests/integration/bulk-import-lite-fiscal-year-period-hint.test.ts
  tests/integration/bulk-import-rest-endpoints.test.ts
  tests/integration/bulk-import-screening-rotation-badge.test.ts
  tests/unit/api/bulk-import-upload-disk-streaming.test.ts
Due: eslint --fix, prettier --write

Task #1085: Component tests for reassign residence dropdown pre-fill
  tests/unit/components/bulk-document-import-reassign-residence-prefill.test.tsx
Due: eslint --fix, prettier --write

Add residence picker to bulk "Reassign all in group" panel
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
  tests/unit/api/bulk-import-bulk-reassign-with-residence.test.ts
Due: eslint --fix, prettier --write

Task #1081: Apply Task #1076's queryClient isolation fix to sibling bulk-document-import test files prophylactically.
  tests/helpers/queryClientIsolation.ts
  tests/unit/components/bulk-document-import-bulk-reassign.test.tsx
  tests/unit/components/bulk-document-import-period-date-picker.test.tsx
  tests/unit/components/bulk-document-import-polled-retry-spinner.test.tsx
  tests/unit/components/bulk-document-import-retry-isolation.test.tsx
  tests/unit/components/bulk-document-import-sorting-decision.test.tsx
Due: eslint --fix, prettier --write

Task #1088: warn ops when bulk-import staging disk is filling up
  docs/deployment/bulk-import-staging.md
  server/api/bulk-import.ts
  tests/unit/api/bulk-import-staging-disk-usage.test.ts
Due: eslint --fix, prettier --write

Task #1090: Pin AI hint disappears when admin overrides residence pick
  tests/unit/components/bulk-document-import-reassign-residence-prefill.test.tsx
Due: eslint --fix, prettier --write

Git commit prior to merge
  attached_assets/image_1777167941992.png
  attached_assets/image_1777169828575.png
Due: none

Task #1095: Surface bulk-import staging disk usage on admin health page
  client/src/components/dashboard/PerformanceDashboard.tsx
  server/api/health-handler.ts
  server/index.ts
  tests/integration/api-health-bulk-import-staging.test.ts
Due: eslint --fix, prettier --write

Task #1096 — Catch the staging disk-low alert in an automated test
  server/api/bulk-import.ts
  tests/unit/api/bulk-import-staging-disk-low-alert.test.ts
Due: eslint --fix, prettier --write

Task #1092: integration coverage for the bulk reassign residence picker
  tests/integration/bulk-import-rest-endpoints.test.ts
Due: eslint --fix, prettier --write

Block reassign Save until a residence is picked (Task #1101)
  client/src/pages/admin/bulk-document-import.tsx
  tests/unit/components/bulk-document-import-reassign-residence-prefill.test.tsx
Due: eslint --fix, prettier --write

Task #1097: Pin violet AI hint hidden after admin confirms AI residence
  tests/unit/components/bulk-document-import-reassign-residence-prefill.test.tsx
Due: eslint --fix, prettier --write

Task #1102: pin the server-side defensive path that backs the Task #1101 client guard on the bulk-import per-item reassign endpoint.
  tests/unit/api/bulk-import-reassign-residence-without-id.test.ts
Due: eslint --fix, prettier --write

ci: run bulk-import memory test on a regular schedule (Task #1077)
  CONTRIBUTING.md
  README.md
  package.json
Due: prettier --write

Task #1089: Pin staging-root env var in perf bulk-import upload test
  tests/integration/bulk-import-upload-large-batch-memory.test.ts
Due: eslint --fix, prettier --write

Task #1099 — Fix the broken replace-file integration tests
  server/api/bulk-import.ts
  tests/integration/bulk-import-rest-endpoints.test.ts
Due: eslint --fix, prettier --write

feat: edit tags inline on identification step of bulk import (Task #1103)
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
Due: eslint --fix, prettier --write

Git commit prior to merge
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-bu_1777171679895.txt
  attached_assets/image_1777171676134.png
Due: none

Task #1078: memory regression test for inline "Replace file" bulk-import upload route.
  server/api/bulk-import.ts
  tests/integration/bulk-import-replace-file-large-memory.test.ts
Due: eslint --fix, prettier --write

fix(tests): de-flake bulk-import auto-screening tests (Task #1098)
  server/api/bulk-import.ts
  tests/integration/bulk-import-rest-endpoints.test.ts
Due: eslint --fix, prettier --write

Fix bulk-import screen-all integration tests (Task #1106)
  server/tests/fixtures/french-upload.pdf
Due: none

Git commit prior to merge
  attached_assets/image_1777172082741.png
Due: none

Task #1112: Auto-apply AI tag suggestions on bulk-import rows
  server/api/bulk-import.ts
  server/tests/bulk-import-tag-resolution.test.ts
Due: eslint --fix, prettier --write

Task #1104: add automated coverage for bulk-import tag editor
  tests/unit/api/bulk-import-commit-tag-assignments.test.ts
  tests/unit/api/bulk-import-set-tags.test.ts
  tests/unit/components/bulk-document-import-tag-editor.test.tsx
Due: eslint --fix, prettier --write

Task #1105 — Pre-populate tag picks in bulk-import wizard
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
  tests/unit/api/bulk-import-identify-tag-mapping.test.ts
  tests/unit/components/bulk-document-import-period-date-picker.test.tsx
  tests/unit/components/bulk-document-import-polled-retry-spinner.test.tsx
  tests/unit/components/bulk-document-import-reset-step.test.tsx
  tests/unit/components/bulk-document-import-retry-isolation.test.tsx
  tests/unit/components/bulk-document-import-sorting-decision.test.tsx
Due: eslint --fix, prettier --write

Add library for GitHub interactions and a sample PDF file
  .replit
  package-lock.json
  package.json
  server/tests/fixtures/french-upload.pdf
Due: prettier --write

Remove a test PDF file from the project fixtures
  server/tests/fixtures/french-upload.pdf
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md,yml,yaml})
