Repository kevinhervieux-koveo/koveo-gestion-saas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings 0",
    "prettier --write"
  ],
  "*.{json,css,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{ts,tsx}": [
    "bash -c 'npm run typecheck'"
  ]
}

Update tests and improve compliance with privacy regulations
  jest.setup.ts
  tests/security/semgrep-compliance-rules.yml
  tests/unit/schema.test.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update testing setup to include Google Cloud and language defaults
  jest.config.js
  jest.global-setup.js
  jest.setup.ts
  server/config/index.js
  tests/mocks/runQuery.js
  tests/unit/language.test.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Configure database connection based on environment settings
  .replit
  server/config/index.js
Due: eslint --fix --max-warnings 0, prettier --write

Configure database connections based on the application's environment
  server/config/index.js
Due: eslint --fix --max-warnings 0, prettier --write

Improve database storage by adding new retrieval methods
  server/db-storage.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Restore full application routes and authentication functionality
  attached_assets/Pasted-index-Wib4BgLl-js-268-Download-the-React-DevTools-for-a-better-development-experience-https-react-1756658786706_1756658786706.txt
  attached_assets/image_1756658776287.png
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update property management system to improve demand comment handling and Vite integration
  server/api/demands.ts
  server/index.ts
  shared/schemas/operations.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update comment functionality to allow posting comments
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-aaff8f62-17995--1756659421390_1756659421391.txt
  attached_assets/image_1756659412425.png
  client/src/components/demands/demand-details-popup.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Identify and plan for code and documentation redundancies
  .replit
  APPLICATION_REDUNDANCY_ANALYSIS_PLAN.md
Due: prettier --write

Update server to use unified route definitions for improved clarity
  server/production.ts
  server/routes.ts
  tests/integration/deployment/build-process-tests.test.ts
  tests/integration/deployment/critical-deployment-tests.test.ts
  tests/integration/deployment/pre-deployment-checklist.test.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Address critical security warnings for tenant financial data protection
  reports/semgrep-results.json
  server/optimized-db-storage.ts
  tests/utils/mock-translations-old.ts
  tsconfig.validation.tsbuildinfo
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Saved your changes before starting work
  attached_assets/image_1756661540164.png
Due: none

Standardize authentication routes to use consistent API path prefixes
  scripts/validate-auth-routes.ts
  server/auth.ts
  server/index.ts
  server/routes.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Apply session middleware before authentication routes
  attached_assets/Pasted-index-Wib4BgLl-js-268-Download-the-React-DevTools-for-a-better-development-experience-https-react-1756661954719_1756661954719.txt
  attached_assets/image_1756661948690.png
  server/routes.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Enhance security by generating random passwords for users
  scripts/populate-organizations.ts
  server/api/users.ts
  server/auth.ts
  server/storage.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update package dependency to resolve build warnings and errors
  attached_assets/Pasted--replit-cartographer-Error-processing-home-runner-workspace-client-src-main-tsx-TypeError-traver-1756662596891_1756662596892.txt
  package-lock.json
  package.json
Due: prettier --write

Improve data logging and storage for property management features
  server/api/users.ts
  server/storage.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update data structures and add new fields for enhanced property management features
  server/storage.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Enable serving static files for production and improve error handling
  server/index.ts
  server/storage.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Adjust server configuration for static file serving
  attached_assets/Pasted-index-DPCp94Uk-js-268-Download-the-React-DevTools-for-a-better-development-experience-https-react-1756663394453_1756663394453.txt
  attached_assets/image_1756663387849.png
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update server configuration for production deployment and module imports
  attached_assets/Pasted-index-DPCp94Uk-js-268-Download-the-React-DevTools-for-a-better-development-experience-https-react-1756663742495_1756663742496.txt
  attached_assets/image_1756663738291.png
  attached_assets/image_1756663763186.png
  server/config/index.js
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update deployment configuration for production environment
  attached_assets/image_1756664565560.png
Due: none

Configure the application to use the production database when the environment is set to production
  attached_assets/image_1756664589007.png
Due: none

Update database connection settings for production environment
  attached_assets/image_1756732049479.png
  attached_assets/image_1756732061356.png
  attached_assets/image_1756732095111.png
Due: none

Update database connection string for production environment
  attached_assets/image_1756732280066.png
Due: none

Add comprehensive API routes for property management features
  attached_assets/image_1756733402998.png
  attached_assets/image_1756733411963.png
  attached_assets/image_1756733441116.png
  attached_assets/image_1756733599586.png
  attached_assets/image_1756733612920.png
  attached_assets/image_1756733621147.png
  attached_assets/image_1756733634302.png
  attached_assets/image_1756733643447.png
  server/routes.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Simplify database connection by always using the DATABASE_URL
  attached_assets/image_1756734587754.png
  attached_assets/image_1756734596865.png
  server/config/index.js
  server/config/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add new API endpoints for managing contacts and common spaces
  attached_assets/Pasted-index-DPCp94Uk-js-217-Violation-click-handler-took-170ms-index-DPCp94Uk-js-293-GET-https-723-1756734932041_1756734932042.txt
  attached_assets/image_1756734928295.png
  server/routes.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update database to manage resident and building documents effectively
  attached_assets/image_1756735627525.png
Due: none

Saved your changes before starting work
  attached_assets/image_1756737044742.png
Due: none

Improve document handling and resolve upload errors
  server/api/documents.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Fix document upload and user authentication errors
  attached_assets/Pasted-index-BvzAe5fW-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756739247136_1756739247137.txt
  attached_assets/image_1756739240392.png
Due: none

Adjust document upload to prioritize local storage when Google Cloud Storage fails
  server/api/documents.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add ability to create simple text documents manually
  attached_assets/image_1756739434709.png
  client/src/components/common/DocumentManager.tsx
  server/api/documents.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add ability to create text documents within the system
  attached_assets/Pasted-index-BvzAe5fW-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756739739670_1756739739671.txt
  attached_assets/image_1756739686443.png
  attached_assets/image_1756739734785.png
  client/src/components/common/DocumentManager.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add robust error handling for document uploads to prevent failures
  attached_assets/image_1756739830053.png
  server/api/documents.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve file upload and handling for documents
  attached_assets/image_1756739931105.png
Due: none

Add test document to storage for verification purposes
  uploads/text-documents/222f5a0d-6bc6-4f28-9f4d-32c133eed333/1756740133247.txt
Due: none

Update document migration script for better type safety
  scripts/migrate-documents.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'
