Repository kevinhervieux-koveo/koveo-gestion-saas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve error handling and display for various application sections
  client/src/components/common-spaces/calendar-view.tsx
  client/src/pages/admin/roadmap.tsx
  client/src/pages/manager/buildings.tsx
  client/src/pages/manager/common-spaces-stats.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve error handling and debugging for feature form and roadmap
  client/src/components/forms/feature-form.tsx
  client/src/pages/admin/roadmap.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Fix error handling when clearing draft features
  client/src/components/forms/feature-form.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve error handling for prompt copying functionality
  client/src/components/forms/feature-form.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Saved your changes before starting work
  attached_assets/image_1756842769354.png
  uploads/residences/e27ac924-8120-4904-a791-d1e9db544d58/cc5792ca-5345-4ebb-b9e3-53c4f44f6314-fichier texte (5).txt
Due: none

Add ability to edit document metadata for better organization
  client/src/components/common/DocumentManager.tsx
  uploads/residences/e27ac924-8120-4904-a791-d1e9db544d58/65b4ebc0-cf51-46a3-896d-ebc79bef34d8-fichier texte (5).txt
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update document cards to display only an edit button
  attached_assets/image_1756843579225.png
  client/src/components/common/DocumentManager.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Fix error when displaying building information due to undefined variable
  attached_assets/Pasted-index-pPa8jt1U-js-413-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-repl-1756843702341_1756843702341.txt
  client/src/pages/manager/buildings.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Saved your changes before starting work
  attached_assets/Pasted-DocumentManager-Bg5ywja-js-1-GET-https-koveo-gestion-com-api-documents-buildingId-409986ca-8e25--1756844754016_1756844754016.txt
  attached_assets/image_1756844741990.png
Due: none

Update document retrieval to use creation date
  attached_assets/image_1756844852052.png
  server/optimized-db-storage.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Implement dual database synchronization for schema changes
  replit.md
  scripts/sync-databases.ts
  sync-db.sh
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add tests to ensure database consistency between development and production environments
  scripts/test-database-sync.ts
  tests/integration/database-sync.test.ts
  tests/integration/document-functionality.test.ts
  tests/unit/sync-validation.test.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve database sync testing for easier development
  db-status.sh
  scripts/dev-db-check.ts
  sync-test.sh
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update testing configurations and add new test scripts
  package.json
Due: prettier --write

Adjust test configurations and add database management commands
  package.json
Due: prettier --write

Saved your changes before starting work
  attached_assets/image_1756847001505.png
Due: none

Improve pull request review process with automated checks
  .github/workflows/enforce-review.yml
  attached_assets/Pasted-Run-actions-github-script-v7-with-github-token-script-const-context-github--1756847173082_1756847173082.txt
Due: prettier --write

Add automated checks for pull request quality and standards
  attached_assets/Pasted-Run-actions-github-script-v7-with-github-token-script-const-context-github--1756847341098_1756847341098.txt
  attached_assets/image_1756847332204.png
Due: none

Add checks for pull request requirements to improve code quality
  attached_assets/Pasted--debug-Evaluating-condition-for-step-Check-PR-requirements-debug-Evaluating-success--1756847587440_1756847587441.txt
  attached_assets/image_1756847482300.png
  attached_assets/image_1756847597963.png
Due: none

Update workflow to prepare for script execution
  .github/workflows/quality-check.yml
Due: prettier --write

Add automated checks for pull request quality and requirements
  attached_assets/Pasted-name-Enforce-Code-Review-Requirements-on-pull-request-target-types-opened-edited-synch-1756847749817_1756847749818.txt
Due: none

Add automated checks for pull request quality and compliance
  attached_assets/Pasted-Run-actions-github-script-v7-with-github-token-script-const-context-github--1756847843653_1756847843653.txt
Due: none

Add new component for displaying property information
  attached_assets/image_1756847950570.png
Due: none

Add automated checks for pull request requirements and quality
  attached_assets/Pasted-Run-actions-github-script-v7-with-github-token-script-const-context-github--1756848125898_1756848125898.txt
  attached_assets/image_1756848107673.png
  attached_assets/image_1756848119632.png
Due: none

Update enforce-review.yml
  .github/workflows/enforce-review.yml
Due: prettier --write

Update quality-check.yml
  .github/workflows/quality-check.yml
Due: prettier --write

Improve document management with enhanced cloud storage integration
  attached_assets/image_1756848592638.png
  attached_assets/image_1756848597304.png
Due: none

Improve the platform's ability to store and manage important documents effectively
  attached_assets/image_1756848814107.png
Due: none

Improve user experience by adding new file upload functionality
  attached_assets/image_1756848913750.png
Due: none

Add new image to the attached assets folder
  attached_assets/image_1756848980143.png
Due: none

Update GitHub Actions to correctly post review comments
  attached_assets/Pasted-Run-actions-github-script-v7-Checking-PR-requirements-RequestError-HttpError-Resource-not-1756849054259_1756849054259.txt
Due: none

Add automated checks for pull request quality and compliance
  attached_assets/Pasted-Run-actions-github-script-v7-with-github-token-script-const-pr-context-payload-1756849176257_1756849176258.txt
Due: none

Improve code review process with automated checks and guidelines
  attached_assets/Pasted-Run-actions-github-script-v7-with-github-token-script-const-pr-context-payload-1756849251125_1756849251125.txt
Due: none

Improve interactivity on the dashboard for better user experience
  attached_assets/image_1756849313220.png
Due: none

Enhance automated checks for pull request requirements
  .github/workflows/enforce-review.yml
  attached_assets/Pasted-Run-actions-github-script-v7-with-github-token-script-const-pr-context-payload-1756849413943_1756849413944.txt
Due: prettier --write

Improve dependency update workflow for better security monitoring
  .github/workflows/dependency-update.yml
  attached_assets/Pasted-Safe-Dependency-Updates-Check-failure-on-line-1-in-github-workflows-dependency-update-yml-Gi-1756849610107_1756849610108.txt
Due: prettier --write

Saved your changes before starting work
  attached_assets/Pasted-Run-actions-github-script-v7-with-github-token-script-const-pr-context-payload-1756849781288_1756849781288.txt
Due: none

Grant necessary permissions to GitHub workflows
  .github/workflows/enforce-review.yml
  .github/workflows/quality-check.yml
Due: prettier --write

Improve code review automation and enforce stricter requirements
  .github/workflows/enforce-review.yml
  attached_assets/Pasted-Run-actions-github-script-v7-with-github-token-script-const-pr-context-payload-1756849955036_1756849955037.txt
Due: prettier --write

Update workflow to log review checklist instead of commenting
  .github/workflows/enforce-review.yml
  attached_assets/Pasted--debug-Evaluating-condition-for-step-Check-PR-requirements-debug-Evaluating-success--1756850136439_1756850136440.txt
Due: prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md,yml,yaml})
  bash -c 'npm run typecheck': any of: *.{ts,tsx}
