Repository kevinhervieux-koveo/koveo-gestion-saas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Improve script execution by sanitizing user input
  attached_assets/image_1760401497012.png
  attached_assets/image_1760401507767.png
  attached_assets/image_1760401515060.png
  attached_assets/image_1760401525489.png
  attached_assets/image_1760401534424.png
Due: none

Saved your changes before starting work
  attached_assets/image_1760401542796.png
  attached_assets/image_1760401553277.png
Due: none

Improve security by managing passwords and preventing SQL injection
  server/optimized-db-storage.ts
  server/storage.ts
  ssl-certificates/account-key.pem
Due: eslint --fix, prettier --write

Improve security and query performance across the platform
  replit.md
Due: prettier --write

Improve test infrastructure to enable cleaner and more reliable test execution
  TEST_INFRASTRUCTURE_UPDATES.md
Due: prettier --write

Complete all unit tests and document testing fixes
  TEST_FIX_SUMMARY.md
Due: prettier --write

Fix all unit and integration tests and improve budget calculations
  TEST_FIX_SUMMARY.md
Due: prettier --write

Update testing strategy for improved reliability and speed
  ARCHITECT_RECOMMENDATIONS.md
Due: prettier --write

Add comprehensive integration tests for the bills API functionality
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/03/billgenerationservice_03a7bfa9ae0ef64cae1ec0b349dd0662
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/03/billgenerationservice_03a7bfa9ae0ef64cae1ec0b349dd0662.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0c/billsapiroutestest_0c7ebda301b5d01f9d10f9916a7c6b02
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0c/billsapiroutestest_0c7ebda301b5d01f9d10f9916a7c6b02.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/12/billsapiroutestest_129e5e18b1cd2db0042f39457b5b4478
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/12/billsapiroutestest_129e5e18b1cd2db0042f39457b5b4478.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/13/billsapiroutestest_1342e4c4b5b5faa0088da46977a78a2f
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/13/billsapiroutestest_1342e4c4b5b5faa0088da46977a78a2f.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/22/fileUpload_22cc76691efcf85ff00057e0bd2ac991
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/22/fileUpload_22cc76691efcf85ff00057e0bd2ac991.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/3c/billsapiroutestest_3c982acb23f5a0c77201a4d7a9b7d120
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/3c/billsapiroutestest_3c982acb23f5a0c77201a4d7a9b7d120.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/60/billsapiroutestest_60872cb8bd12350d6123586f05fa33ff
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/60/billsapiroutestest_60872cb8bd12350d6123586f05fa33ff.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/76/billsapiroutestest_76161d118038839ab01524bf0d3a55b9
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/76/billsapiroutestest_76161d118038839ab01524bf0d3a55b9.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b6/bills_b6648bf6134bccc4ec6c181f027a6eff
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b6/bills_b6648bf6134bccc4ec6c181f027a6eff.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/de/billsapiroutestest_de0e533c9dd06bce1f4f1aa03db333a9
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/de/billsapiroutestest_de0e533c9dd06bce1f4f1aa03db333a9.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ff/storage_ffacffa7112f1e190209ee24d4989c6f
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ff/storage_ffacffa7112f1e190209ee24d4989c6f.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  tests/integration/bills-api-routes.test.ts
Due: eslint --fix, prettier --write

Update testing infrastructure and file upload capabilities
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/39/billsapiroutestest_39d0b2ecd54c02fecd3db162b210bdbe
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/39/billsapiroutestest_39d0b2ecd54c02fecd3db162b210bdbe.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/8f/fileUpload_8fc1b9bf589af6fa2fe53694e3047331
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/8f/fileUpload_8fc1b9bf589af6fa2fe53694e3047331.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/9b/storage_9bce3977820720a7d39e508ddb630717
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/9b/storage_9bce3977820720a7d39e508ddb630717.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/a2/bills_a27b5bcdb1104e375095893f66bf022c
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/a2/bills_a27b5bcdb1104e375095893f66bf022c.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ac/billgenerationservice_acb6d78bec6b98fc812b8d3727c20ffb
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ac/billgenerationservice_acb6d78bec6b98fc812b8d3727c20ffb.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d6/inflationCalculationstest_d601240a145b15cd70b4d6bd57d4b0da
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d6/inflationCalculationstest_d601240a145b15cd70b4d6bd57d4b0da.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  FINAL_TEST_FIX_SUMMARY.md
Due: prettier --write

Update integration tests to cover login functionality
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
Due: none

Update and fix tests to align with production code
  TEST_FIXES_COMPREHENSIVE_SUMMARY.md
Due: prettier --write

Clarify test coverage and identify architectural issues
  TEST_REALITY_CHECK.md
Due: prettier --write

Update data schemas and push changes to development and production databases
  server/api/feature-management.ts
  server/storage.ts
Due: eslint --fix, prettier --write

Update bill categories and feature management logic
  PRODUCTION_DB_UPDATE.md
  server/api/feature-management.ts
  shared/schemas/financial.ts
Due: eslint --fix, prettier --write

Filter user list to show only users in the manager's organization
  attached_assets/image_1760559384082.png
  attached_assets/image_1760559602238.png
  client/src/pages/manager/user-management.tsx
Due: eslint --fix, prettier --write

Update user management to pre-select manager's organizations
  client/src/pages/manager/user-management.tsx
Due: eslint --fix, prettier --write

Allow managers to assign buildings and residences to other users
  attached_assets/image_1760561580702.png
  client/src/components/user-tabs/UserBuildingsTab.tsx
Due: eslint --fix, prettier --write

Allow managers to assign buildings and residences from their organizations
  client/src/components/user-tabs/UserBuildingsTab.tsx
  client/src/components/user-tabs/UserResidencesTab.tsx
  client/src/pages/manager/user-management.tsx
Due: eslint --fix, prettier --write

Restrict building and residence assignments for managers
  client/src/components/user-tabs/UserBuildingsTab.tsx
  client/src/components/user-tabs/UserResidencesTab.tsx
Due: eslint --fix, prettier --write

Restrict building assignments to only those accessible by managers
  attached_assets/image_1760562062010.png
Due: none

Improve user access permissions for managing buildings and residences
  client/src/components/user-tabs/UserBuildingsTab.tsx
  client/src/components/user-tabs/UserResidencesTab.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md,yml,yaml})
