Repository kevinhervieux-koveo/koveo-gestion-saas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Task start baseline checkpoint for code review
  .replit
  attached_assets/Pasted-Thanks-the-divergence-is-the-real-headline-for-me-not-t_1776804478261.txt
Due: none

Remove duplicate payment schema definition from financial configurations
  shared/schemas/financial.ts
Due: eslint --fix, prettier --write

Allow application to start without essential API keys by deferring service initialization
  server/services/consolidated-ai-service.ts
  server/services/consolidated-communication-service.ts
  server/services/email-service.ts
Due: eslint --fix, prettier --write

Git commit prior to merge
  .gitignore
  .quality-metrics-history.json
  after_login.png
  architect_review_request.txt
  bills.png
  bills_page.png
  cookies.txt
  demo-cookies.txt
  full-test-output.txt
  invoices.png
  package.json.security
  reports/codebase-redundancy-analysis-2025-09-28.md
  reports/comprehensive-document-reconciliation-report.md
  reports/database-schema-optimization-analysis.md
  reports/demo-security-analysis.json
  reports/document-reconciliation-2025-09-16T12-53-34-755Z.csv
  reports/document-reconciliation-2025-09-16T12-55-42-770Z.csv
  reports/feature-coverage-report.md
  reports/owasp-results.json
  reports/react-security-results.json
  reports/security-audit-results.json
  reports/security-summary.json
  reports/semgrep-results.json
  test-output.txt
  test-results-full.txt
  test-upload.txt
  test_cookies.txt
  translation-validation-report.json
Due: prettier --write

Saved progress at the end of the loop
  .replit
Due: none

Catch a wider range of database errors in MCP write tools
  replit.md
  server/mcp/server.ts
  tests/unit/api/mcp-write-error-extended-codes.test.ts
Due: eslint --fix, prettier --write

Task #259: Fix SiLinkedin missing-icon crash
  client/src/components/layout/StandardFooter.tsx
  client/src/components/layout/sidebar.tsx
  client/src/pages/auth/forgot-password.tsx
  client/src/pages/auth/invitation-acceptance.tsx
  client/src/pages/auth/login.tsx
  client/src/pages/auth/reset-password.tsx
Due: eslint --fix, prettier --write

Fix buildSha deploy-marker staleness in get_mcp_info (task #247)
  server/mcp/server.ts
  server/tests/mcp-tools.test.ts
Due: eslint --fix, prettier --write

docs(changelog): note list_buildings organizationId is now required
  CHANGELOG.md
Due: prettier --write

Task #249: Clarify invitation audit log role field names
  server/mcp/server.ts
  server/services/invitation-soft-replace.ts
  tests/unit/api/mcp-cancel-invitation.test.ts
  tests/unit/api/mcp-get-invitation-history.test.ts
Due: eslint --fix, prettier --write

feat(invitations): switch duplicate invites to explicit 409 conflict (Task #250)
  CHANGELOG.md
  server/api/users.ts
  server/mcp/server.ts
  server/services/invitation-soft-replace.ts
  tests/integration/invitation-soft-replace-rest.test.ts
  tests/unit/api/mcp-invite-user-soft-replace.test.ts
Due: eslint --fix, prettier --write

Git commit prior to merge
  attached_assets/image_1776811607538.png
Due: none

Task #261: Translate the duplicate-invite error for French users
  client/src/components/admin/send-invitation-dialog.tsx
  client/src/lib/i18n.ts
Due: eslint --fix, prettier --write

Task #252: delete_residence full cascade teardown
  server/mcp/server.ts
  server/tests/mcp-tools.test.ts
Due: eslint --fix, prettier --write

Implement a unified bill numbering system across the platform
  server/api/bills.ts
  server/api/organizations.ts
  server/mcp/server.ts
  server/services/bill-generation-service.ts
  server/services/bill-number-generator.ts
  server/services/consolidated-financial-service.ts
  server/utils/feature-flags.ts
  shared/schema.ts
  shared/schemas/bill-number.ts
  shared/schemas/financial.ts
Due: eslint --fix, prettier --write

Task #256: auto-retry transient DB failures inside MCP write tools
  replit.md
  server/mcp/server.ts
  tests/unit/api/mcp-with-retryable-db-call.test.ts
Due: eslint --fix, prettier --write

Post-merge setup completed successfully
  .replit
  scripts/post-merge.sh
Due: none

Fix naming inconsistencies and type errors across the application
  client/src/components/maintenance/projects/ProjectElements.tsx
  client/src/components/maintenance/projects/ProjectNotes.tsx
  client/src/components/maintenance/projects/ProjectTimeline.tsx
  client/src/components/maintenance/projects/StatusStepper.tsx
  client/src/components/ui/carousel.tsx
  client/src/components/ui/standard-form.tsx
  client/src/lib/apiHelpers.ts
  client/src/lib/formUtils.ts
  client/src/pages/manager/maintenance/projects/ProjectDetailsPanel.tsx
  client/src/pages/manager/maintenance/projects/ProjectsOverview.tsx
  shared/schemas/development.ts
Due: eslint --fix, prettier --write

Task #257 — Surface friendlier DB error messages in REST responses
  server/api/bills.ts
  server/api/documents.ts
  server/api/users.ts
  server/utils/rest-db-error.ts
Due: eslint --fix, prettier --write

Restore the MCP tools test suite (task #258)
  __mocks__/child_process.js
  __mocks__/drizzle-orm.ts
  __mocks__/drizzle-orm/index.js
  __mocks__/drizzle-orm/pg-core.js
  jest.config.cjs
Due: eslint --fix, prettier --write

Task #260: Require organization scope on remaining MCP list tools
  CHANGELOG.md
  server/mcp/server.ts
  tests/unit/api/mcp-list-pending-invitations.test.ts
Due: eslint --fix, prettier --write

Remove deprecated InvitationSoftReplaceRaceLostError alias (Task #262)
  server/services/invitation-soft-replace.ts
  tests/unit/api/mcp-invite-user-error-sanitization.test.ts
  tests/unit/api/mcp-with-retryable-db-call.test.ts
  tests/unit/api/mcp-write-error-extended-codes.test.ts
Due: eslint --fix, prettier --write

Fix preview-not-available text with translations
  client/src/lib/i18n.ts
Due: eslint --fix, prettier --write

Task #265: Cascade-delete dependents in delete_building MCP tool
  server/mcp/server.ts
  server/tests/mcp-tools.test.ts
Due: eslint --fix, prettier --write

Task #266: Cover the new residence cascade with a real end-to-end integration test
  tests/integration/mcp-delete-residence-cascade.test.ts
Due: eslint --fix, prettier --write

Git commit prior to merge
  __mocks__/drizzle-orm.ts
  __mocks__/drizzle-orm/index.js
  __mocks__/drizzle-orm/pg-core.js
  replit.md
Due: eslint --fix, prettier --write

Task #273: Cover the building cascade with a real end-to-end test against Postgres
  .replit
  tests/integration/mcp-delete-building-cascade.test.ts
Due: eslint --fix, prettier --write

Git commit prior to merge
  jest-resolver.js
  tests/integration/mcp-delete-building-cascade.test.ts
  tests/integration/mcp-delete-residence-cascade.test.ts
  tests/integration/user-residences-end-residency.test.ts
Due: eslint --fix, prettier --write

Task #275: real-Postgres integration test for MCP delete_bill cascade
  server/mcp/server.ts
  tests/integration/mcp-delete-bill-cascade.test.ts
Due: eslint --fix, prettier --write

Task #278: Auto-sync the integration DB schema before tests run
  jest.config.cjs
  jest.global-setup.cjs
Due: none

Make Koveo installable as a PWA on mobile
  client/index.html
  client/public/apple-touch-icon.png
  client/public/favicon-32.png
  client/public/icon-192.png
  client/public/icon-512-maskable.png
  client/public/icon-512.png
  client/public/manifest.webmanifest
  client/public/sw.js
  client/src/main.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md,yml,yaml})
