Repository kevinhervieux-koveo/koveo-gestion-saas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,css,md,yml,yaml}": ["prettier --write"]
}

Improve building assignment logic for users and managers
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-user-management-DS-8ybM-1760562318886_1760562318886.txt
  attached_assets/image_1760562314570.png
  client/src/components/user-tabs/UserBuildingsTab.tsx
Due: eslint --fix, prettier --write

Improve assignment functionality for better user management
  attached_assets/image_1760562504231.png
Due: none

Add debug logs to user editing form to diagnose assignment issues
  client/src/pages/manager/user-management.tsx
Due: eslint --fix, prettier --write

Add debug logging to user management to diagnose access and assignment issues
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-user-management-DPXCdRk-1760562684413_1760562684414.txt
Due: none

Improve user management page by adding detailed logging
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-user-management-DPXCdRk-1760562694834_1760562694834.txt
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-user-management-DPXCdRk-1760562716697_1760562716698.txt
  client/src/pages/manager/user-management.tsx
Due: eslint --fix, prettier --write

Update user management data fetching to use Fetch API
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-user-management-B2SH8Ne-1760562869280_1760562869280.txt
  attached_assets/image_1760562864154.png
  client/src/pages/manager/user-management.tsx
Due: eslint --fix, prettier --write

Show organization names alongside building and residence data
  attached_assets/image_1760563044759.png
  client/src/components/user-tabs/UserBuildingsTab.tsx
  client/src/components/user-tabs/UserResidencesTab.tsx
  server/api/buildings.ts
Due: eslint --fix, prettier --write

Improve user building assignment logic and remove debug logs
  client/src/components/user-tabs/UserBuildingsTab.tsx
  client/src/pages/manager/user-management.tsx
Due: eslint --fix, prettier --write

Filter buildings to exclude common spaces when none are assigned
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-common-spaces-stats-C07-1760563767638_1760563767638.txt
  server/api/users.ts
Due: eslint --fix, prettier --write

Update default selection for common space to include 'all spaces' option
  client/src/pages/manager/common-spaces-stats.tsx
Due: eslint --fix, prettier --write

Add time limits and user status to common spaces management
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-common-spaces-stats-D-c-1760564340548_1760564340548.txt
  attached_assets/image_1760564324464.png
  attached_assets/image_1760564336378.png
  shared/schemas/property.ts
Due: eslint --fix, prettier --write

Add default time limits to common spaces and show user limits on stats page
  client/src/pages/manager/common-spaces-stats.tsx
Due: eslint --fix, prettier --write

Add user blocking and custom time limits to common space statistics
  client/src/pages/manager/common-spaces-stats.tsx
  server/api/common-spaces.ts
Due: eslint --fix, prettier --write

Add time limits and user status to common spaces
  server/api/common-spaces.ts
Due: eslint --fix, prettier --write

Improve test mocks and assertions for common spaces page
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/2e/commonspacesstatstest_2ed31467eb98a03d72f3279fb69d3473
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/2e/commonspacesstatstest_2ed31467eb98a03d72f3279fb69d3473.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/6f/commonspacesstatstest_6f5f76ea0fb614674b4a278ba756a675
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/6f/commonspacesstatstest_6f5f76ea0fb614674b4a278ba756a675.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7a/commonspacesstatstest_7a55c028fb8a0ffc7117789c042d3608
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7a/commonspacesstatstest_7a55c028fb8a0ffc7117789c042d3608.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/8d/commonspacesstatstest_8d3a0f5c3f3ae117107e9477424f16c6
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/8d/commonspacesstatstest_8d3a0f5c3f3ae117107e9477424f16c6.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/af/commonspacesstatstest_af8fbf3890760114e507a0d19d529c65
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/af/commonspacesstatstest_af8fbf3890760114e507a0d19d529c65.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  tests/unit/pages/common-spaces-stats.test.tsx
Due: eslint --fix, prettier --write

Add default time limits for common space usage
  DATABASE_MIGRATION_SUMMARY.md
Due: prettier --write

Update database schemas for financial year and project cost aggregation
  attached_assets/Screenshot_20251015-185950_1760569202335.png
Due: none

Improve chart readability by adjusting spacing and legend placement
  client/src/pages/manager/common-spaces-stats.tsx
Due: eslint --fix, prettier --write

Add contextual help system with a floating button and overlay
  client/src/App.tsx
  client/src/components/help/HelpButton.tsx
  client/src/components/help/HelpOverlay.tsx
  client/src/config/help-content.ts
  client/src/contexts/HelpContext.tsx
Due: eslint --fix, prettier --write

Add a contextual help system to guide users through the application
  replit.md
Due: prettier --write

Improve common spaces statistics page layout and help overlay
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-common-spaces-stats-B36-1760571910692_1760571910692.txt
  attached_assets/image_1760571916335.png
  client/src/components/help/HelpOverlay.tsx
  client/src/pages/manager/common-spaces-stats.tsx
Due: eslint --fix, prettier --write

Add interactive element highlighting and tooltips for help system
  client/src/App.tsx
  client/src/components/help/HelpHighlighter.tsx
  client/src/contexts/HelpContext.tsx
Due: eslint --fix, prettier --write

Improve user guidance by highlighting interactive elements on hover
  client/src/components/help/HelpHighlighter.tsx
Due: eslint --fix, prettier --write

Improve help overlay functionality for better user interaction and accessibility
  attached_assets/image_1760573248587.png
  client/src/components/help/HelpOverlay.tsx
Due: eslint --fix, prettier --write

Improve help system interactivity and visual feedback
  attached_assets/image_1760573590572.png
  client/src/components/help/HelpHighlighter.tsx
  client/src/components/help/HelpOverlay.tsx
Due: eslint --fix, prettier --write

Improve help tooltip and button interactivity when help menu is open
  client/src/components/help/HelpHighlighter.tsx
Due: eslint --fix, prettier --write

Improve help overlay functionality and prevent unintended interactions
  attached_assets/image_1760574389997.png
  client/src/components/help/HelpButton.tsx
  client/src/components/help/HelpHighlighter.tsx
  client/src/components/help/HelpOverlay.tsx
Due: eslint --fix, prettier --write

Improve how project costs are calculated and assigned to financial years
  attached_assets/image_1760574799382.png
Due: none

Add tooltips to interactive elements and make help button clickable
  client/src/components/help/HelpHighlighter.tsx
  client/src/components/help/HelpOverlay.tsx
Due: eslint --fix, prettier --write

Improve help section and element hover information
  attached_assets/image_1760575173621.png
Due: none

Improve help functionality and prevent unwanted interactions
  client/src/components/help/HelpHighlighter.tsx
  client/src/components/help/HelpOverlay.tsx
Due: eslint --fix, prettier --write

Improve help functionality by fixing button interactivity and information display
  attached_assets/image_1760575554658.png
Due: none
