Repository kevinhervieux-koveo/koveo-gestion-saas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,css,md,yml,yaml}": ["prettier --write"]
}

Filter building documents to only show those specific to the building
  client/src/components/common/ModularDocumentPageWrapper.tsx
  server/db/queries/optimized-document-queries.ts
Due: eslint --fix, prettier --write

Allow creating demands for other residences and buildings
  client/src/components/document-management/DocumentCreateForm.tsx
  shared/schemas/operations.ts
Due: eslint --fix, prettier --write

Update document visibility for residents and tenants to improve access
  server/db/queries/optimized-document-queries.ts
Due: eslint --fix, prettier --write

Fix documents not appearing on residence and building pages
  client/src/components/common/ModularDocumentPageWrapper.tsx
  replit.md
Due: eslint --fix, prettier --write

Improve document display by prioritizing effective dates for clarity
  client/src/components/common/ModularDocumentPageWrapper.tsx
  client/src/components/document-management/DocumentCard.tsx
Due: eslint --fix, prettier --write

Fix date input to correctly save user-entered effective dates
  client/src/components/document-management/DocumentCreateForm.tsx
Due: eslint --fix, prettier --write

Update document view to show effective date instead of upload date
  attached_assets/image_1759357614014.png
  server/api/documents.ts
Due: eslint --fix, prettier --write

Update document saving to use effective date instead of upload date
  attached_assets/image_1759357894401.png
  server/api/documents.ts
Due: eslint --fix, prettier --write

Improve handling of document effective dates during uploads
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-vendor-ui-DRWoInZm-js-5-1759358056823_1759358056823.txt
  attached_assets/image_1759358053486.png
  server/api/documents.ts
Due: eslint --fix, prettier --write

Improve document upload by correctly handling effective dates
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-vendor-ui-DRWoInZm-js-5-1759358490807_1759358490808.txt
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-vendor-ui-DRWoInZm-js-5-1759358494538_1759358494538.txt
  attached_assets/image_1759358487231.png
  client/src/components/document-management/DocumentCreateForm.tsx
  server/api/documents.ts
Due: eslint --fix, prettier --write

Update user management interface to improve data visibility
  attached_assets/image_1759358771290.png
Due: none

Improve document creation by ensuring effective dates are properly formatted
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-vendor-ui-DRWoInZm-js-5-1759358774952_1759358774952.txt
  server/api/documents.ts
Due: eslint --fix, prettier --write

Add attachment section to demand details view
  attached_assets/image_1759359129445.png
  client/src/components/demands/demand-details-popup.tsx
Due: eslint --fix, prettier --write

Fix error when loading demand details and attached documents
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-vendor-ui-DRWoInZm-js-5-1759359301236_1759359301237.txt
  attached_assets/image_1759359290749.png
  client/src/components/demands/demand-details-popup.tsx
Due: eslint --fix, prettier --write

Allow users to access attachments for demands they created
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-vendor-ui-DRWoInZm-js-5-1759359603111_1759359603111.txt
  attached_assets/image_1759359595415.png
  server/routes.ts
Due: eslint --fix, prettier --write

Improve access controls for uploaded files and enhance logging
  attached_assets/image_1759359852267.png
  server/routes.ts
Due: eslint --fix, prettier --write

Improve accessibility by adding descriptions to dialog elements
  attached_assets/image_1759360000901.png
Due: none

Update demand file access control for users
  server/routes.ts
Due: eslint --fix, prettier --write

Improve document access control and error handling for demands
  server/api/documents.ts
  server/routes.ts
Due: eslint --fix, prettier --write

Fix errors preventing users from accessing parts of the platform
  attached_assets/image_1759360566303.png
Due: none

Update demand document uploads to include original file names
  client/src/pages/ResidentDemandsPage.tsx
  server/api/demands.ts
  server/routes.ts
Due: eslint --fix, prettier --write

Update attachment names for improved clarity and accuracy
  attached_assets/image_1759360880217.png
Due: none

Improve dialog accessibility by providing descriptions
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-vendor-ui-DRWoInZm-js-5-1759443332699_1759443332700.txt
  attached_assets/image_1759443328604.png
Due: none

Add input sanitization to demand data handling to improve security
  server/middleware/input-sanitization.ts
Due: eslint --fix, prettier --write

Update demand file search to use full file path
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1759443639763_1759443639764.txt
  attached_assets/image_1759443616584.png
  attached_assets/image_1759443645183.png
  server/routes.ts
Due: eslint --fix, prettier --write

Fix error preventing users from retrieving uploaded files
  attached_assets/image_1759443935441.png
Due: none

Saved your changes before starting work
  attached_assets/image_1759546708769.png
  attached_assets/image_1759546753292.png
Due: none

Allow residents to see who booked common spaces
  client/src/pages/residents/common-spaces.tsx
Due: eslint --fix, prettier --write

Update common spaces booking to refresh relevant data
  client/src/pages/residents/common-spaces.tsx
Due: eslint --fix, prettier --write

Improve common space booking and display of booked time slots
  attached_assets/image_1759548117746.png
  client/src/pages/residents/common-spaces.tsx
  server/api/common-spaces.ts
Due: eslint --fix, prettier --write

Fix common spaces booking issues and improve time slot visibility
  replit.md
Due: prettier --write

Update how time slots are displayed to show start and end times
  attached_assets/image_1759550918646.png
  client/src/pages/residents/common-spaces.tsx
Due: eslint --fix, prettier --write

Update booking time display to show start and end hours
  client/src/pages/residents/common-spaces.tsx
Due: eslint --fix, prettier --write

Correct booking times and statuses for common spaces
  attached_assets/image_1759551399818.png
  attached_assets/image_1759551412309.png
  client/src/pages/residents/common-spaces.tsx
Due: eslint --fix, prettier --write

Improve availability of specific times for system operations
  attached_assets/image_1759552119320.png
  attached_assets/image_1759552126056.png
Due: none
