Repository kevinhervieux-koveo/koveo-gestion-saas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve application startup sequence for better performance and stability
  attached_assets/Screenshot_20250826-131225_1756228363454.png
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve routing to correctly serve static files for the application
  server/vite.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve routing to correctly serve static files and API requests
  server/vite.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update password reset link to use the correct production domain
  attached_assets/Screenshot_20250826-133030_1756229436789.png
  server/auth.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Fix login issue that prevents users from accessing their accounts
  attached_assets/Screenshot_20250826-133141_1756229525808.png
Due: none

Fix login error preventing users from accessing the platform
  attached_assets/Screenshot_20250826-134250_1756230194914.png
Due: none

Ensure API routes load before static files for proper functionality
  server/production.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve production server setup to correctly handle API routes
  attached_assets/Screenshot_20250826-140046_1756231270864.png
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Configure Vite for production and development environments
  attached_assets/image_1756232142092.png
  server/production-api-fix.ts
  server/production-entry.js
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Adapt server to handle both development and production environments seamlessly
  attached_assets/image_1756233660951.png
  server/universal-server.js
Due: eslint --fix --max-warnings 0, prettier --write

Add enhanced server setup with improved middleware and testing
  server/index.ts
  server/production-api-fix.ts
  server/production-entry.js
  server/universal-server.js
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Saved your changes before starting work
  attached_assets/image_1756234344269.png
Due: none

Improve server configuration and routing for production and development
  server/auth.ts
  server/index.ts
  server/routes-minimal.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve deployment script to better handle server start variations
  scripts/deployment-validation.ts
  server/index.js
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Adjust deployment checks to treat failures as warnings
  attached_assets/image_1756242898125.png
  scripts/deployment-validation.ts
  scripts/validate-demo-sync.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Remove demo data migration and synchronization for production
  scripts/deploy-with-demo-data.sh
  scripts/deployment-hooks.ts
  scripts/deployment-validation.ts
  scripts/enhanced-validate-all.ts
  scripts/import-demo-organization.ts
  scripts/production-demo-sync.ts
  scripts/run-demo-sync-validation.ts
  scripts/sync-demo-organization.ts
  scripts/sync-demo-organizations.ts
  scripts/validate-demo-sync.ts
  server/api/demo-sync.ts
  server/services/comprehensive-demo-sync-service.ts
  server/services/demo-management-service.ts
  server/services/demo-sync-service.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Remove unused demo synchronization and validation scripts
  package.json
Due: prettier --write

Add an image file to the project assets
  attached_assets/image_1756243939042.png
Due: none

Configure production database to use a specific port
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update user data handling to reflect current system structures
  attached_assets/image_1756244242257.png
  server/api/users.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Correct document and maintenance request data handling for users
  server/index.js
Due: eslint --fix --max-warnings 0, prettier --write

Prepare deployment by copying server build and verifying frontend assets
  scripts/post-build.sh
Due: none

Add deployment script to automate application build and verification
  deploy.sh
Due: none

Disable demo organization creation on server startup
  attached_assets/Pasted-2025-08-26-19-42-03-63-ae9942c1-User-internalPosition-undefined-2025-08-26-19-42-03-63-ae9942-1756251752976_1756251752977.txt
  server/routes-minimal.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Disable demo organization features due to user request and authentication issues
  attached_assets/Pasted-2025-08-26-19-48-40-29-e050e604-User-internalPosition-undefined-2025-08-26-19-48-40-29-e050e6-1756252168179_1756252168180.txt
  server/services/demo-management-service.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Disable demo organization features due to authentication issues
  attached_assets/Pasted-2025-08-26-19-54-24-77-b5a0eafb-User-internalQuery-undefined-2025-08-26-19-54-24-77-b5a0eafb--1756252666018_1756252666019.txt
  server/routes-minimal.ts
  server/services/demo-management-service.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add password reset functionality for users
  attached_assets/image_1756253152767.png
Due: none

Improve login validation to require an 8-character password
  attached_assets/Pasted-api-auth-user-1-Failed-to-load-resource-the-server-responded-with-a-status-of-401-Unauthorized--1756253199449_1756253199449.txt
Due: none

Remove all demo management routes and related initialization logic
  attached_assets/Pasted-2025-08-26-20-04-05-27-95e06c02-User-internalQuery-undefined-2025-08-26-20-04-05-27-95e06c02--1756253441616_1756253441617.txt
  server/routes-minimal.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Allow booking common spaces by fixing how opening hours are handled
  attached_assets/Pasted-common-spaces-tsx-197-Uncaught-TypeError-space-openingHours-find-is-not-a-function-at-isDayAva-1756253849091_1756253849091.txt
  attached_assets/image_1756253841724.png
  client/src/pages/residents/common-spaces.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Saved your changes before starting work
  attached_assets/Pasted-2025-08-26-21-01-49-27-68a2eff4-User-length-75-2025-08-26-21-01-49-27-68a2eff4-User-severit-1756256637843_1756256637843.txt
Due: none

Saved your changes before starting work
  attached_assets/Pasted-2025-08-27-16-06-15-65-68a2eff4-User-at-async-duplicateDemoToOpenDemo-file-home-runner-worksp-1756325377698_1756325377699.txt
Due: none

Add demo organizations and their addresses to the platform
  server/services/demo-management-service.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add initial database indexing and setup for core application features
  attached_assets/Pasted-2025-08-27-16-22-53-55-68a2eff4-User-8-22-53-PM-express-User-relationship-endpoints-registere-1756326184919_1756326184919.txt
Due: none

Saved your changes before starting work
  attached_assets/Pasted-2025-08-27-16-23-03-55-68a2eff4-User-at-process-processTicksAndRejections-node-internal-process--1756326213729_1756326213730.txt
Due: none

Disable comprehensive demo synchronization functionality
  attached_assets/image_1756326311089.png
  attached_assets/image_1756326493695.png
  scripts/duplicate-demo-to-open-demo.ts
  scripts/test-demo-system.ts
  tests/demo-organizations.test.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve health check functionality and adjust demo data handling
  scripts/test-demo-system.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve data retrieval by updating Drizzle ORM query syntax
  attached_assets/Pasted-2025-08-27-16-35-20-14-d9e73ce3-User-params-Demo-1-2025-08-27-16-35-20-14-d9e73ce3-Us-1756326951019_1756326951019.txt
  server/index.js
  server/services/demo-management-service.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Adjust database optimization to prevent deployment timeouts
  attached_assets/Pasted-2025-08-27-16-41-10-85-c6a2b093-User-Applied-CREATE-INDEX-CONCURRENTLY-IF-NOT-EXISTS-idx-actio-1756327419575_1756327419575.txt
  attached_assets/image_1756327401071.png
  server/db-storage.ts
  server/index.js
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Optimize database by creating indexes once instead of on every deployment
  scripts/setup-database-indexes.ts
  server/database-optimization.ts
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md,yml,yaml})
  bash -c 'npm run typecheck': any of: *.{ts,tsx}
