Repository kevinhervieux-koveo/koveo-gestion-saas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve documentation and code consistency across tools
  tools/jsdoc-templates.ts
  tools/replit-integration-enhancer.ts
  tools/smart-context-manager.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Refine testing utilities and data handling for improved accuracy and clarity
  tests/unit/payment-plan-validation.test.ts
  tests/unit/quality-metrics.test.ts
  tests/unit/ssl-service.test.ts
  tests/unit/translation-validation.test.ts
  tests/utils/coverage-automation.ts
  tests/utils/metric-effectiveness-tracker.ts
  tools/intelligent-workflow-assistant.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Enable editing user details directly within the management interface
  client/src/pages/manager/user-management.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve testing setup by adding missing libraries and configurations
  tests/mocks/wouter-memory-mock.js
  tsconfig.build.json
  tsconfig.json
  types/global.d.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Refine AI agent context handling and data reporting
  tools/ai-agent-toolkit.ts
  tools/enhanced-agent-orchestrator.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Saved your changes before starting work
  package.json
Due: prettier --write

Fix build issues by resolving test environment and dependency problems
  jest.config.js
  scripts/build-server.js
  scripts/deploy-build.js
  tests/mocks/wouter-memory-mock.js
  tsconfig.base.json
  tsconfig.server.json
Due: eslint --fix --max-warnings 0, prettier --write

Improve test reliability by addressing TypeScript and dependency issues
  jest.config.js
  scripts/build-server.js
  tests/setup.ts
  tsconfig.base.json
  tsconfig.json
  types/jest-dom.d.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve build process by skipping type checks for deployment
  package.json
  scripts/build-server.js
  scripts/deploy-build.js
  scripts/deployment-bypass.js
  scripts/fix-jest-types.js
  tsconfig.base.json
  tsconfig.deployment.json
  tsconfig.json
Due: eslint --fix --max-warnings 0, prettier --write

Update project scripts for improved build and development workflows
  package.json
Due: prettier --write

Update project dependencies for improved functionality
  package.json
Due: prettier --write

Update project dependencies and development tools for improved performance
  package.json
Due: prettier --write

Improve data type consistency and address TypeScript errors across the application
  server/storage.ts
  server/tests/budget-database-integrity.test.ts
  server/tests/delayed-update-service.test.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Fix issues preventing bills and demands from displaying correctly
  client/src/pages/manager/bills.tsx
  client/src/pages/manager/demands.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve demand display and data handling for managers
  client/src/pages/manager/demands.tsx
  server/api/demands.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve visibility of essential elements on the dashboard
  attached_assets/image_1755983560045.png
  attached_assets/image_1755983595820.png
Due: none

Improve visibility of demand data and error handling
  attached_assets/image_1755983852039.png
  client/src/pages/manager/demands.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve how user information is accessed for better data handling
  attached_assets/image_1755984092565.png
  client/src/pages/manager/demands.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Fix issue preventing users from viewing available properties
  attached_assets/image_1755984412744.png
  client/src/pages/manager/demands.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Fix manager demands page loading and user data display
  attached_assets/image_1755984600738.png
  client/src/App.tsx
  client/src/pages/manager/demands.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Remove development debugging logs from the property management interface
  attached_assets/image_1755984735637.png
  client/src/pages/manager/demands.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Saved your changes before starting work
  attached_assets/image_1755984871004.png
Due: none

Fix calculation errors and input handling on the budget page
  client/src/pages/manager/budget.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update documentation for effectiveness tracking and testing utilities
  tests/utils/metric-effectiveness-tracker.ts
  tests/utils/test-effectiveness-metrics.ts
  types/global.d.ts
  types/jest-dom.d.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Fix various issues to improve application functionality and code quality
  client/src/components/BillCreateForm.tsx
  client/src/components/admin/invitation-management.tsx
  client/src/components/admin/user-list.tsx
  client/src/pages/manager/user-management.tsx
  package-lock.json
  scripts/build-server.js
  scripts/deploy-build.js
  scripts/deployment-bypass.js
  scripts/fix-jest-types.js
  tests/unit/notification-service.test.ts
  tests/unit/pages/budget.test.tsx
  tests/utils/test-effectiveness-metrics.ts
  tools/jsdoc-templates.ts
  types/dom.d.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve user interface and fix various application errors
  client/src/components/admin/invitation-management.tsx
  client/src/components/admin/user-list.tsx
  tests/unit/notification-service.test.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve data fetching and fix UI display issues across modules
  client/src/components/BillCreateForm.tsx
  client/src/components/dashboard/development-console.tsx
  client/src/components/dashboard/law25-compliance.tsx
  client/src/components/dashboard/quality-metrics.tsx
  client/src/components/demands/demand-details-popup.tsx
  client/vite-env.d.ts
  types/browser-apis.d.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Enable automatic deletion of associated data when removing organizations or buildings
  server/api/cleanup-orphans.ts
  server/api/organizations.ts
  server/utils/cleanup-orphans.ts
  shared/schemas/core.ts
  shared/schemas/property.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve error logging and authentication middleware imports
  attached_assets/image_1755987826130.png
  server/api/cleanup-orphans.ts
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve building display by correctly processing fetched data
  client/src/pages/manager/buildings.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve building data fetching and display logic for managers
  attached_assets/image_1755987961467.png
  client/src/pages/manager/buildings.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update data fetching for manager buildings to use new API endpoint
  attached_assets/image_1755988086753.png
  client/src/pages/manager/buildings.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update data fetching to properly parse JSON responses
  attached_assets/image_1755988197231.png
  client/src/pages/manager/buildings.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Allow managers to edit residences and admins to edit organizations
  client/src/pages/manager/user-management.tsx
  server/api/users.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update building deletion to use the correct API path
  client/src/pages/manager/buildings.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Enhance logging and port configurations for improved development and testing
  .replit
  reports/compliance-analysis.json
  tests/security/semgrep-compliance-rules.yml
Due: prettier --write

Improve testing by fixing configurations and adding utilities
  .replit
  client/src/utils/test-providers.tsx
  reports/compliance-analysis.json
  tests/integration/money-flow-residence-integration.test.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Saved your changes before starting work
  attached_assets/image_1755989916605.png
Due: none

Improve building card layout to keep icons contained
  attached_assets/image_1755989998641.png
  attached_assets/image_1755990087660.png
  attached_assets/image_1755990161961.png
  client/src/components/buildings/building-card.tsx
  tests/ui/building-card-icon-positioning.test.tsx
  tests/ui/icon-positioning-final.test.tsx
  tests/ui/simple-icon-positioning.test.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update text for navigating to the dashboard in French and English
  client/src/lib/i18n.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md,yml,yaml})
  bash -c 'npm run typecheck': any of: *.{ts,tsx}
