Repository kevinhervieux-koveo/koveo-gestion-saas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update testing setup and component imports for improved functionality
  client/src/components/admin/user-list.tsx
  jest.config.js
  tests/website/extended-routes-translation.test.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Refine user management functions for better data handling
  client/src/components/admin/user-list.tsx
  client/src/components/ui/data-table.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update user management APIs and data table components
  client/src/components/admin/user-list.tsx
  client/src/components/ui/data-table.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Configure Jest to support TypeScript and modern JavaScript features
  jest.config.js
  package-lock.json
  package.json
Due: eslint --fix --max-warnings 0, prettier --write

Improve test setup and configuration for better reliability
  jest.config.js
  jest.setup.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update project dependencies and documentation for improved stability
  docs/IMPROVEMENT_REPORT.md
  package-lock.json
  package.json
Due: prettier --write

Add TextEncoder and TextDecoder polyfills for testing
  jest.setup.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update test setup to use simpler mock implementations for browser APIs
  jest.setup.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve user data validation rules for accuracy and security
  tests/unit/schema.test.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Define access rules for viewing and managing buildings and financial data
  tests/unit/access-control/bills-budget-access.test.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Fix issue preventing users from viewing property data
  attached_assets/image_1756216152599.png
  client/src/pages/manager/bills.tsx
  client/src/pages/manager/budget.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add a new asset to the project
  attached_assets/image_1756216277211.png
Due: none

Improve build process for smoother deployments
  package.json
Due: prettier --write

Update project build scripts for successful deployment
  package.json
Due: prettier --write

Fix issues with loading application components and resources
  attached_assets/Pasted--api-auth-user-1-Failed-to-load-resource-the-server-responded-with-a-status-of-401-home-qADgFu-1756217379532_1756217379533.txt
  attached_assets/image_1756217373551.png
  server/production-check.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update demo data preparation to ensure organizations are configured
  attached_assets/Pasted-2025-08-26-10-17-42-84-b6c216f5-System-command-finished-with-error-npm-run-start-exit-status-1-1756217894293_1756217894293.txt
Due: none

Fix errors related to server communication and missing assets
  attached_assets/Pasted-index-DmwBEp4H-js-178-GET-https-koveo-gestion-com-api-auth-user-500-Internal-Server-Error-quer-1756217953334_1756217953334.txt
  attached_assets/image_1756217942416.png
Due: none

Add diagnostic endpoint to check production environment health
  server/routes-minimal.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Fix user authorization and asset loading errors in production
  attached_assets/Pasted-index-DmwBEp4H-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756218566451_1756218566451.txt
  attached_assets/image_1756218560947.png
  attached_assets/image_1756218582916.png
Due: none

Improve production performance and stability with optimizations
  package-lock.json
  package.json
  scripts/optimize-production-build.ts
  server/production-optimizations.ts
  server/production-server.ts
  server/routes-minimal.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Adjust server to serve frontend assets before API routes
  attached_assets/Pasted-index-DmwBEp4H-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756219398319_1756219398320.txt
  attached_assets/image_1756219394017.png
  server/index.ts
  server/routes-minimal.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Enable immediate static file serving for enhanced performance
  attached_assets/Pasted-features-29dOsPY5-js-1-Failed-to-load-resource-the-server-responded-with-a-status-of-503-trian-1756220349782_1756220349783.txt
  attached_assets/image_1756220344765.png
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Set up the production server with improved health checks and static file serving
  server/production.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update the command to start the application correctly
  package.json
Due: prettier --write

Improve development server startup for faster environment readiness
  server/dev-server.ts
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Saved your changes before starting work
  attached_assets/Pasted-queryClient-ts-166-Mutation-error-SyntaxError-Unexpected-token-DOCTYPE-is-not-valid-J-1756222979481_1756222979482.txt
  attached_assets/image_1756222974525.png
Due: none

Update server startup to load API routes before serving frontend
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Reorder server startup to load frontend assets before API routes
  attached_assets/image_1756223317251.png
  attached_assets/image_1756223477481.png
  server/index.ts
  server/routes-minimal.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Secure API routes before serving frontend content for improved stability
  attached_assets/Pasted-queryClient-ts-166-Mutation-error-SyntaxError-Unexpected-token-DOCTYPE-is-not-valid-J-1756223662770_1756223662771.txt
  attached_assets/image_1756223658744.png
  attached_assets/image_1756223962437.png
  server/index.ts
  server/routes-minimal.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Adjust authentication endpoint paths for better API organization
  server/auth.ts
  server/index.ts
  server/routes-minimal.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve how API requests are handled for better performance
  attached_assets/image_1756224408629.png
  server/index.ts
  server/routes-minimal.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve API routing and session handling for authentication
  attached_assets/Pasted-queryClient-ts-166-Mutation-error-SyntaxError-Unexpected-token-DOCTYPE-is-not-valid-J-1756224784865_1756224784866.txt
  attached_assets/image_1756224780989.png
  attached_assets/image_1756225209563.png
  server/index.ts
  server/routes-minimal.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Prevent Vite from interfering with API routes
  server/vite.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Ensure all pages correctly retrieve data from the database
  client/src/pages/manager/bills.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Prepare application for deployment with updated build system
  replit.md
  scripts/deploy-build.js
  scripts/production-build.js
  server/index.js
  temp_pid
Due: eslint --fix --max-warnings 0, prettier --write

Improve property viewing by adding AI-powered resident insights
  attached_assets/image_1756226729748.png
Due: none

Update demo account passwords for secure login
  client/src/pages/auth/login.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Prioritize API routes and streamline production application loading
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Standardize application startup for development and production
  attached_assets/image_1756227392887.png
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Adjust server startup to load application features more efficiently
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md,yml,yaml})
  bash -c 'npm run typecheck': any of: *.{ts,tsx}
