Repository kevinhervieux-koveo/koveo-gestion-saas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,css,md,yml,yaml}": ["prettier --write"]
}

Update document permissions for residents to view, edit, and create Restrict resident document management actions to specific document types.
  client/src/components/common/ModularDocumentPageWrapper.tsx
Due: eslint --fix, prettier --write

Update demands to view and download uploaded documents
  client/src/components/demands/demand-details-popup.tsx
Due: eslint --fix, prettier --write

Improve reservation form to correctly display reserved time slots
  client/src/pages/residents/common-spaces.tsx
Due: eslint --fix, prettier --write

Add debug logging to common spaces booking calendar for time slot issues
  attached_assets/image_1759270114153.png
  attached_assets/image_1759270164136.png
  client/src/pages/residents/common-spaces.tsx
Due: eslint --fix, prettier --write

Allow residents to see all residences in their building for complaint filing
  attached_assets/image_1759270273046.png
  client/src/pages/ResidentDemandsPage.tsx
  client/src/pages/residents/common-spaces.tsx
Due: eslint --fix, prettier --write

Fix issues preventing document viewing and downloading
  attached_assets/image_1759270522366.png
Due: none

Add document upload and download tests for various pages
  server/tests/document-upload-download.test.ts
Due: eslint --fix, prettier --write

Improve document upload security and organization logic
  server/api/documents.ts
Due: eslint --fix, prettier --write

Improve configuration by using coercion for environment variables
  server/config/index.ts
Due: eslint --fix, prettier --write

Add specific document type filtering and improve file upload error handling
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7e/documentapiintegrationtest_7e90cb75dca342168680f31622c80f7c
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7e/documentapiintegrationtest_7e90cb75dca342168680f31622c80f7c.map
  server/api/documents.ts
  server/auth.ts
  server/db/queries/optimized-document-queries.ts
  server/middleware/auth-middleware.ts
  server/tests/document-api-integration.test.ts
  server/tests/test-app.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

Created a checkpoint
  replit.md
Due: prettier --write

Add file attachment view and download options to demands form
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-vendor-ui-DRWoInZm-js-5-1759349540415_1759349540416.txt
  attached_assets/image_1759349410666.png
  attached_assets/image_1759349521330.png
  client/src/pages/ResidentDemandsPage.tsx
Due: eslint --fix, prettier --write

Add INP metric to web vitals tracking for performance monitoring
  attached_assets/image_1759349791274.png
  server/web-vitals-api.ts
Due: eslint --fix, prettier --write

Add a new section to display element lifespan impact data
  attached_assets/image_1759350072647.png
Due: none

Add attachment handling and details to demand submissions
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-vendor-ui-DRWoInZm-js-5-1759350149774_1759350149775.txt
  attached_assets/image_1759350145509.png
  server/api/demands.ts
Due: eslint --fix, prettier --write

Update document viewing and downloading to use new API endpoint
  client/src/pages/Documents.tsx
Due: eslint --fix, prettier --write

Add date selection for document effective dates and fix document retrieval
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-vendor-ui-DRWoInZm-js-5-1759350653385_1759350653385.txt
  attached_assets/image_1759350648914.png
  client/src/pages/Documents.tsx
  server/api/documents.ts
Due: eslint --fix, prettier --write

Add detailed logging to aid in debugging document access issues
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-vendor-ui-DRWoInZm-js-5-1759351918364_1759351918364.txt
  attached_assets/image_1759351903613.png
  attached_assets/image_1759351910191.png
  server/api/documents.ts
Due: eslint --fix, prettier --write

Add debug logs to help diagnose and fix persistent errors
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-vendor-ui-DRWoInZm-js-5-1759352208172_1759352208173.txt
Due: none

Improve document creation and access control logic
  server/api/documents.ts
Due: eslint --fix, prettier --write

Improve document creation and update processes by removing code duplication
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-vendor-ui-DRWoInZm-js-5-1759352468986_1759352468986.txt
  attached_assets/image_1759352465685.png
Due: none

Improve file handling by sanitizing filenames to prevent issues
  server/api/documents.ts
  uploads/residences/c3997e90-8768-474f-8b78-3810fb3f0ba6/e7d7a9b5-6916-43fc-b97f-83bd25c7dd4f-ImagefactureNonTaxable_texte (2) (1).jpg
Due: eslint --fix, prettier --write

Add a financial year field to project planning
  attached_assets/image_1759353168800.png
Due: none

Fix error when attempting to view or create new documents
  attached_assets/Pasted-ModularDocumentPageWrapper-BcQBrof3-js-11-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11-1759353197606_1759353197607.txt
Due: none

Update image file for attached assets
  attached_assets/image_1759353508070.png
Due: none

Address issues with data sanitization in the user interface
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-vendor-ui-DRWoInZm-js-5-1759353603844_1759353603844.txt
  attached_assets/image_1759353599452.png
Due: none

Improve how project costs are aggregated based on their completion status
  attached_assets/image_1759354015828.png
Due: none

Add debug logs for filename sanitization during document uploads
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-vendor-ui-DRWoInZm-js-5-1759354159249_1759354159250.txt
  attached_assets/image_1759354155160.png
  server/api/documents.ts
Due: eslint --fix, prettier --write

Add accessibility improvements to dialog elements
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-vendor-ui-DRWoInZm-js-5-1759354333597_1759354333597.txt
Due: none

Improve file upload security by sanitizing filenames
  attached_assets/Pasted-vendor-ui-DRWoInZm-js-58-Warning-Missing-Description-or-aria-describedby-undefined-for-Dialo-1759354560606_1759354560607.txt
  server/api/documents.ts
Due: eslint --fix, prettier --write

Improve accessibility of dialog components by adding descriptions
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-vendor-ui-DRWoInZm-js-5-1759354740577_1759354740578.txt
  attached_assets/image_1759354733782.png
Due: none

Remove debug logging from document upload process
  server/api/documents.ts
Due: eslint --fix, prettier --write

Improve file handling to prevent security vulnerabilities
  attached_assets/image_1759355153354.png
  server/api/bills.ts
  server/api/bugs.ts
  server/api/documents.ts
  server/api/feature-requests.ts
Due: eslint --fix, prettier --write

Saved your changes before starting work
  attached_assets/image_1759355290144.png
  attached_assets/image_1759355312322.png
  client/src/pages/ResidentDemandsPage.tsx
Due: eslint --fix, prettier --write
