Repository kevinhervieux-koveo/koveo-gestion-saas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,css,md,yml,yaml}": ["prettier --write"]
}

Update invoice and property schemas to include new fields and types
  server/storage.ts
  shared/schemas/invoices.ts
  shared/schemas/property.ts
Due: eslint --fix, prettier --write

Update invoice data to ensure proper date formatting for storage
  server/storage.ts
Due: eslint --fix, prettier --write

Update invoice data to properly handle missing building and residence IDs
  server/storage.ts
Due: eslint --fix, prettier --write

Fix error when creating new bills by correctly handling inserted bill data
  attached_assets/Pasted-bills-Bp4Pbjs8-js-11-BILLS-PAGE-Initializing-with-buildingId-bfee4e0b-aa89-44b8-b3b2-0419ba-1757988966009_1757988966010.txt
  server/api/bills.ts
  shared/schemas/financial.ts
Due: eslint --fix, prettier --write

Update bills to include payment structure for better financial management
  attached_assets/Pasted-bills-Bp4Pbjs8-js-11-BILLS-PAGE-Initializing-with-buildingId-409986ca-8e25-4547-b00d-6dae6e-1757989219808_1757989219809.txt
Due: none

Add script to generate payment structures for all bills
  server/scripts/generate-missing-payments.ts
  server/services/payment-generation-service.ts
Due: eslint --fix, prettier --write

Update script to ensure all bills have payment structures
  server/scripts/generate-missing-payments.ts
Due: eslint --fix, prettier --write

Update bill payment structure across all records
  attached_assets/Pasted-bills-Bp4Pbjs8-js-11-BILLS-PAGE-Initializing-with-buildingId-409986ca-8e25-4547-b00d-6dae6e-1757989503866_1757989503866.txt
Due: none

Update payment generation logic and provide production deployment guide
  PRODUCTION_UPDATE_GUIDE.md
  attached_assets/Pasted-bills-Bp4Pbjs8-js-11-BILLS-PAGE-Initializing-with-buildingId-409986ca-8e25-4547-b00d-6dae6e-1757989547574_1757989547574.txt
  attached_assets/Pasted-bills-Bp4Pbjs8-js-11-BILLS-PAGE-Initializing-with-buildingId-409986ca-8e25-4547-b00d-6dae6e-1757989633293_1757989633293.txt
  attached_assets/Pasted-bills-Bp4Pbjs8-js-11-BILLS-PAGE-Initializing-with-buildingId-409986ca-8e25-4547-b00d-6dae6e-1757989647267_1757989647268.txt
  server/scripts/production-payment-generation.sql
  server/services/payment-generation-service.ts
Due: eslint --fix, prettier --write

Add missing payments table and related enums to production
  server/scripts/create-missing-payments-table.sql
Due: none

Add scripts to manage payment data for bills
  server/scripts/01-production-setup-extensions.sql
  server/scripts/02-production-setup-enums.sql
  server/scripts/03-production-setup-tables.sql
  server/scripts/04-production-generate-payments.sql
  server/scripts/production-rollback.sql
  server/scripts/production-update-master.sql
Due: none

Add database update scripts for production environment
  attached_assets/image_1757990260319.png
Due: none

Add missing payment type values to production database enum
  server/scripts/00-production-fix-enums.sql
  server/scripts/production-update-fixed.sql
Due: none

Fix issue where bills are not displayed for a specific building
  attached_assets/Pasted-withHierarchicalSelection-WAHXdO6s-js-1-SELECTION-GRID-DEBUG-Button-clicked-itemId-8c6de72f-1757990488352_1757990488353.txt
Due: none

Saved your changes before starting work
  attached_assets/Pasted-bills-Bp4Pbjs8-js-11-BILLS-PAGE-Initializing-with-buildingId-409986ca-8e25-4547-b00d-6dae6e-1757990896209_1757990896210.txt
Due: none

Improve bill year selection logic for better date range accuracy
  client/src/pages/manager/bills.tsx
Due: eslint --fix, prettier --write

Ensure correct environment and database selection for production deployments
  server/config/index.ts
Due: eslint --fix, prettier --write

Update development script to run in production mode
  package.json
Due: prettier --write

Set up development environment to use the development database
  package.json
Due: prettier --write

Correctly configure database usage based on deployment environment
  server/api/documents.ts
  server/config/index.ts
Due: eslint --fix, prettier --write

Improve dialog accessibility by adding descriptions to modal content
  attached_assets/Pasted-withHierarchicalSelection-WAHXdO6s-js-1-SELECTION-GRID-DEBUG-Button-clicked-itemId-22134aad-1758022711006_1758022711007.txt
Due: none

Improve document retrieval by excluding bills by default
  server/optimized-db-storage.ts
Due: eslint --fix, prettier --write

Fix issue where bills appear incorrectly within document views
  attached_assets/image_1758023722809.png
Due: none

Update document management and file handling logic
  client/src/components/common/ModularDocumentPageWrapper.tsx
  server/api/documents.ts
Due: eslint --fix, prettier --write

Update document storage and API for hierarchical organization
  docs/API_DOCUMENTATION.md
  docs/PROJECT_STATUS.md
  docs/STORAGE_ARCHITECTURE.md
  docs/TECHNICAL_STORAGE_GUIDE.md
  replit.md
Due: prettier --write

Implement hierarchical storage for generated documents and attachments
  scripts/create-demo-environment.ts
  scripts/generate-document-files.ts
  scripts/generate-historical-bills.ts
Due: eslint --fix, prettier --write
