Repository kevinhervieux-koveo/koveo-gestion-saas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: SPA shell hygiene — single sidebar, main landmark, html lang, per-route titles (W50/W51/W52/W54)
  client/src/App.tsx
  client/src/components/layout/sidebar.tsx
  client/src/hooks/use-document-title.tsx
  client/src/hooks/use-language.tsx
  tests/e2e/spa-shell-hygiene.e2e.test.ts
Due: eslint --fix, prettier --write

Fix duplicated names and raw enums in bulk document import building rows (Task #1555)
  client/src/lib/i18n/enumLabels.ts
  client/src/pages/admin/bulk-document-import.tsx
Due: eslint --fix, prettier --write

Fix flaky bulk import reset-step test (Task #1545)
  tests/unit/components/bulk-document-import-reset-step.test.tsx
Due: eslint --fix, prettier --write

Git commit prior to merge
  attached_assets/image_1777334947152.png
Due: none

Move help button from bottom-left to bottom-right (task #1586)
  client/src/components/help/HelpButton.tsx
Due: eslint --fix, prettier --write

Task #1549: Add unit tests for first-anchor commit path
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
  server/services/bulk-import-analyzer.ts
  tests/unit/api/bulk-import-first-anchor-commit.test.ts
  tests/unit/api/bulk-import-set-existing-link-decision.test.ts
Due: eslint --fix, prettier --write

Increase help button bottom offset on mobile
  client/src/components/help/HelpButton.tsx
Due: eslint --fix, prettier --write

Git commit prior to merge
  attached_assets/image_1777336842000.png
Due: none

feat(onboarding): base layer — DB tables, API, tour engine, smoke tour, freshness monitor (#1572)
  CONTRIBUTING.md
  client/src/App.tsx
  client/src/components/layout/header.tsx
  client/src/components/layout/sidebar.tsx
  client/src/config/navigation.ts
  client/src/content/onboarding/smoke.ts
  client/src/contexts/OnboardingContext.tsx
  client/src/lib/i18n.ts
  client/src/lib/onboarding-flag.ts
  client/src/pages/auto/settings-onboarding.tsx
  client/src/pages/dashboard/overview.tsx
  migrations/0034_onboarding_tables.sql
  migrations/0034_rollback_onboarding_tables.sql
  package-lock.json
  package.json
  replit.md
  scripts/onboarding-health.ts
  server/api/auto/index.ts
  server/api/auto/onboarding-content.ts
  server/api/auto/onboarding.ts
  server/lib/onboarding-health-analyzer.ts
  server/utils/feature-flags.ts
  shared/schema.ts
  shared/schemas/onboarding.ts
  tests/e2e/onboarding.base.e2e.test.ts
  tests/unit/onboarding-health-analyzer.test.ts
  tests/unit/test-markdown-doc-path-references.test.ts
Due: eslint --fix, prettier --write

Improve database migration to correctly create onboarding tables
  attached_assets/02_onboarding_manager_1777338236471.md
  migrations/0034_onboarding_tables.sql
  migrations/0034_rollback_onboarding_tables.sql
Due: prettier --write

Fix STEP_LABEL_FR fixture in bulk-import reset-step test (Task #1592)
  tests/unit/components/bulk-document-import-reset-step.test.tsx
Due: eslint --fix, prettier --write

Fix bills shareable URL filter toggle test query (Task #1597)
  tests/unit/bills-shareable-url.test.tsx
Due: eslint --fix, prettier --write

Restore gantt-bar-click testid for inline editing (Task #1594)
  client/src/components/GanttChart.tsx
  tests/e2e/gantt-editing-flows.e2e.test.ts
  tests/unit/components/gantt-chart-drag-edge-cases.test.tsx
Due: eslint --fix, prettier --write

Task #1596: Fix Budget capital-mode click jank (>500ms)
  client/src/pages/manager/budget/index.tsx
Due: eslint --fix, prettier --write

test: stabilize bulk-retry dismiss timeout test (Task #1595)
  tests/unit/components/bulk-document-import-ai-failure-retry.test.tsx
Due: eslint --fix, prettier --write

Task #1593: Reconcile manager private-fields tests with policy
  tests/unit/api/user-private-fields.test.ts
Due: eslint --fix, prettier --write

Task #1589 code-review fixes (round 3)
  client/src/pages/admin/bulk-document-import.tsx
  client/src/pages/admin/bulk-import-linking-groups.ts
  migrations/0034_bulk_import_family_sequence.sql
  server/api/bulk-import.ts
  shared/schemas/bulk-import.ts
  tests/unit/api/bulk-import-family-memberships.test.ts
  tests/unit/components/bulk-document-import-reset-step.test.tsx
Due: eslint --fix, prettier --write

Git commit prior to merge
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-bu_1777342949237.txt
  attached_assets/image_1777342944680.png
Due: none

Fix stale onboarding-register path reference (Task #1605)
  scripts/onboarding-health.ts
Due: eslint --fix, prettier --write

Restore maintenance-request test isolation from real DB
  tests/unit/api/rest-create-maintenance-request.test.ts
Due: eslint --fix, prettier --write

feat(onboarding): manager tour catalog — fourth-pass review fixes (Task #1590)
  client/src/components/InvitationManagement.tsx
  client/src/components/admin/send-invitation-dialog.tsx
  client/src/components/buildings/BuildingCard.tsx
  client/src/components/common/StandardCard.tsx
  client/src/components/layout/sidebar.tsx
  client/src/config/navigation.ts
  client/src/content/onboarding/manager/buildings.ts
  client/src/content/onboarding/manager/communications.ts
  client/src/content/onboarding/manager/financials.ts
  client/src/content/onboarding/manager/index.ts
  client/src/content/onboarding/manager/invitations.ts
  client/src/content/onboarding/manager/predicates.ts
  client/src/content/onboarding/manager/requests.ts
  client/src/content/onboarding/manager/settings.ts
  client/src/content/onboarding/manager/welcome.ts
  client/src/content/onboarding/smoke.ts
  client/src/content/onboarding/types.ts
  client/src/contexts/OnboardingContext.tsx
  client/src/pages/auto/settings-onboarding.tsx
  client/src/pages/dashboard.tsx
  client/src/pages/dashboard/communication.tsx
  client/src/pages/manager/bills.tsx
  client/src/pages/manager/buildings.tsx
  client/src/pages/manager/demands.tsx
  client/src/pages/manager/user-management.tsx
  migrations/0035_manager_onboarding_tours.sql
  server/api/auto/onboarding-content.ts
  tests/e2e/onboarding.manager.spec.ts
Due: eslint --fix, prettier --write

Git commit prior to merge
  attached_assets/image_1777344390101.png
Due: none

Speed up task close pipeline (Task #1611)
  scripts/post-merge.sh
  scripts/run-unit-tests.sh
  tsconfig.json
Due: prettier --write

Fix communication-page test timeouts blocking publish (Task #1615)
  tests/unit/communication/communication-page.test.tsx
Due: eslint --fix, prettier --write

Replace vulnerable xlsx@0.18.5 with exceljs@4.4.0
  client/src/components/common/DocumentInlineViewer.tsx
  package-lock.json
  package.json
  server/services/bulk-import-analyzer.ts
  server/services/consolidated-ai-service.ts
  server/services/document-text-extractor.ts
  tests/unit/services/bulk-import-analyzer.test.ts
  tests/unit/services/bulk-import-spreadsheet-support.test.ts
Due: eslint --fix, prettier --write

Persist TypeScript build cache across task environments (Task #1613)
  .replit
  .tscache/tsbuildinfo
  scripts/type-check.sh
Due: none

Task #1612: Include key unit tests in the smoke fallback so critical paths stay covered on large diffs
  scripts/run-unit-tests.sh
Due: none

Task #1623: Speed up post-merge environment update
  scripts/post-merge.sh
Due: none

Task #1614: Force prod DB on deploy migrate step
  .replit
  docs/deployment/database-sync.md
  docs/migrations.md
  replit.md
  scripts/run-migrations-url.ts
  tests/unit/run-migrations-url.test.ts
Due: eslint --fix, prettier --write

Task #1608: Multi-family AI suggestions and rearrangeable family cards
  .tscache/tsbuildinfo
  client/src/pages/admin/bulk-document-import.tsx
  client/src/pages/admin/bulk-import-linking-groups.ts
  server/api/bulk-import.ts
  server/services/bulk-import-analyzer.ts
  tests/unit/api/bulk-import-family-memberships.test.ts
Due: eslint --fix, prettier --write

Published your App
  .tscache/tsbuildinfo
Due: none

Git commit prior to merge
  .tscache/tsbuildinfo
  attached_assets/image_1777367391781.png
  attached_assets/image_1777367471494.png
  attached_assets/image_1777367518143.png
  attached_assets/image_1777367640058.png
  attached_assets/image_1777367698641.png
Due: none

Git commit prior to merge
  .gitignore
  .tscache/tsbuildinfo
  attached_assets/image_1777367715263.png
  attached_assets/image_1777367743247.png
  attached_assets/image_1777367781778.png
Due: none

Task #1616 — Show drop-zone indicator between rows when reordering family card items
  client/src/pages/admin/bulk-document-import.tsx
Due: eslint --fix, prettier --write

Git commit prior to merge
  attached_assets/image_1777368090237.png
Due: none

Sort link families alphabetically everywhere (Task #1630)
  client/src/components/common/DocumentInlineViewer.tsx
  client/src/components/documents/DocumentLinkPickerDialog.tsx
  client/src/lib/system-family-display.ts
  client/src/pages/admin/bulk-document-import.tsx
  client/src/pages/admin/document-tags.tsx
  server/api/bulk-import.ts
  server/services/document-link-service.ts
Due: eslint --fix, prettier --write

Task #1631: Bulk import — restack file row layout (sequence first, buttons on own line, full name on hover)
  client/src/pages/admin/bulk-document-import.tsx
Due: eslint --fix, prettier --write

Git commit prior to merge
  attached_assets/image_1777368327287.png
Due: none

Task #1617: persist family-card collapse preference across reloads
  client/src/pages/admin/bulk-document-import.tsx
  tests/unit/components/bulk-document-import-collapse-persistence.test.ts
Due: eslint --fix, prettier --write

feat(scripts): create dev manager user kevhervieux@gmail.com
  scripts/create-kev-manager.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md,yml,yaml})
