Repository kevinhervieux-koveo/koveo-gestion-saas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Improve password validation tests and logic for enhanced security
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/33/passwordvalidationtest_33b37aa5236690b4bb0ebaf41e6a792e
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/33/passwordvalidationtest_33b37aa5236690b4bb0ebaf41e6a792e.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5e/passwordvalidation_5e862e0cf179426a9e7a0fa3c5b2dec1
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5e/passwordvalidation_5e862e0cf179426a9e7a0fa3c5b2dec1.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
Due: none

Update demand schema tests for improved validation logic
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/14/demandsschematest_14c185ddab23101ddd1719f1c0b07083
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/14/demandsschematest_14c185ddab23101ddd1719f1c0b07083.map
  tests/unit/demands/demands-schema.test.ts
Due: eslint --fix, prettier --write

Improve test stability by updating Jest cache configurations
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
Due: none

Improve tests by optimizing database storage and route handling
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/02/routes_0213a44381b2caad1c56fd700fe4b401
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/02/routes_0213a44381b2caad1c56fd700fe4b401.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/09/optimizeddbstorage_09ca0e08bb70860939c891d7032691d2
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/09/optimizeddbstorage_09ca0e08bb70860939c891d7032691d2.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/4d/supertestMock_4db9de31097191b75eb65611867b4c59
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/4d/supertestMock_4db9de31097191b75eb65611867b4c59.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5c/auth_5c957f186eb4b01765eb5842484d88a8
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5c/auth_5c957f186eb4b01765eb5842484d88a8.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/80/db_80549c0d928d5afc3d9b1c32216c2c62
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/80/db_80549c0d928d5afc3d9b1c32216c2c62.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/85/storage_857c6facb0f2a25654c42354dd8f23a3
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/85/storage_857c6facb0f2a25654c42354dd8f23a3.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/a4/serverConfigMock_a43b5ca1347fdd6106848e9ef135b1ff
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/a4/serverConfigMock_a43b5ca1347fdd6106848e9ef135b1ff.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/df/userregistrationtest_df7a2817434eaaee6391bad930698513
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/df/userregistrationtest_df7a2817434eaaee6391bad930698513.map
Due: none

Refine testing infrastructure and mock database interactions
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/18/users_1892b4774ebac27cdda98b1683b94593
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/18/users_1892b4774ebac27cdda98b1683b94593.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/52/documents_523da80d1a5396b7037a02e844f4bcf5
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/52/documents_523da80d1a5396b7037a02e844f4bcf5.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/56/organizations_56a365166a0c7bf2b5a4e24b8a3a3324
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/56/organizations_56a365166a0c7bf2b5a4e24b8a3a3324.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5d/invitationintegrationtest_5dda1e87ad22e17bef299cda0a3d7059
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5d/invitationintegrationtest_5dda1e87ad22e17bef299cda0a3d7059.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/6a/buildings_6a9a4dfa7b2b012b53c35fe9d0db49ca
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/6a/buildings_6a9a4dfa7b2b012b53c35fe9d0db49ca.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/8c/invitationmanagementtest_8cf917bcf13ad86cbf5acc28ffee172e
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/8c/invitationmanagementtest_8cf917bcf13ad86cbf5acc28ffee172e.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/94/calendarfeaturestest_940e49f2d00bbf9bc893ce192e92eb9e
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/94/calendarfeaturestest_940e49f2d00bbf9bc893ce192e92eb9e.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d4/apiroutesvalidationtest_d46688821c67a897998e1ce65646dcd1
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d4/apiroutesvalidationtest_d46688821c67a897998e1ce65646dcd1.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e3/enhancedcalendarfeaturestest_e36742bf14f4416c1cba15ee0935fb99
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e3/enhancedcalendarfeaturestest_e36742bf14f4416c1cba15ee0935fb99.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ea/rbac_eac3b22a874b46b9a7685d4df0e136dc.1831818383
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ea/rbac_eac3b22a874b46b9a7685d4df0e136dc.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/f7/demands_f792c527dbbe58f9817ca5a4dfe5d25f
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/f7/demands_f792c527dbbe58f9817ca5a4dfe5d25f.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  tests/mocks/unified-database-mock.ts
Due: eslint --fix, prettier --write

Update tests for building and residence management logic
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/31/buildingresidencemanagementtest_31516750b41975f98206c8c1700757bf
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/31/buildingresidencemanagementtest_31516750b41975f98206c8c1700757bf.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/83/autogeneratedcomprehensivetranslationtest_838506a1b33dc50904b26f8eb515f1f9
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/83/autogeneratedcomprehensivetranslationtest_838506a1b33dc50904b26f8eb515f1f9.map
  attached_assets/image_1757372737949.png
  uploads/prod_org_5228cb04-1fc9-4291-b76a-ccd89a40324d/ImagefactureNonTaxable_texte (2).jpg
Due: none

Add and fix tests for bill attachment creation and display
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/cf/billattachmentsdemocreationtest_cfb7f624a8270e1971f623af9a8836f7
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/cf/billattachmentsdemocreationtest_cfb7f624a8270e1971f623af9a8836f7.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  tests/integration/bill-attachments-demo-creation.test.ts
  tests/integration/bill-attachments-ui-display.test.tsx
Due: eslint --fix, prettier --write

Fix attachment retrieval by correcting API filtering logic
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/1b/billattachmentsapifixtest_1b6cfb430537326cca1b84cf375f9d27
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/1b/billattachmentsapifixtest_1b6cfb430537326cca1b84cf375f9d27.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  tests/integration/bill-attachments-api-fix.test.ts
Due: eslint --fix, prettier --write

Add filtering capabilities for documents based on their attachments
  server/optimized-db-storage.ts
Due: eslint --fix, prettier --write

Add filters to find documents attached to specific entities
  server/api/documents.ts
Due: eslint --fix, prettier --write

Improve bill attachment functionality by validating the entire data pipeline
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/18/billattachmentsendtoendtest_18aa4ee7c3e2ff2983e0c410704d32d2
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/18/billattachmentsendtoendtest_18aa4ee7c3e2ff2983e0c410704d32d2.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  tests/integration/bill-attachments-end-to-end.test.ts
Due: eslint --fix, prettier --write

Add tests to ensure documents view correctly in the application
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0d/documentviewbuttonerrortest_0def1af65cd903c243ebbce35329e243
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0d/documentviewbuttonerrortest_0def1af65cd903c243ebbce35329e243.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  tests/integration/document-view-button-error.test.ts
Due: eslint --fix, prettier --write

Improve document viewing by opening files directly in new tabs
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7c/documentviewbuttonfixtest_7c954a64482eed3c9bad6dafb71f74e1
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7c/documentviewbuttonfixtest_7c954a64482eed3c9bad6dafb71f74e1.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  client/src/pages/manager/bills.tsx
  tests/integration/document-view-button-fix.test.ts
Due: eslint --fix, prettier --write

Add organization level to resident pages for better hierarchy management
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  client/src/pages/residents/common-spaces.tsx
  client/src/pages/residents/residence.tsx
  tests/integration/document-view-button-fix.test.ts
Due: eslint --fix, prettier --write

Improve database connection configuration and add logging
  server/config/index.ts
Due: eslint --fix, prettier --write

Improve server startup logging with detailed debug information
  server/index.ts
Due: eslint --fix, prettier --write

Add tests for logging standards across all new features
  __tests__/logging-standards.test.ts
Due: eslint --fix, prettier --write

Add logging to track feature complexity and improve debugging
  server/index.ts
Due: eslint --fix, prettier --write

Saved your changes before starting work
  attached_assets/image_1757374645839.png
Due: none

Make temporary messages disappear automatically after a short time
  attached_assets/image_1757374720323.png
  client/src/pages/auth/login.tsx
Due: eslint --fix, prettier --write

Improve user management by disabling invite button for demo managers
  client/src/pages/manager/user-management.tsx
Due: eslint --fix, prettier --write

Restrict demo manager view to users within their organization
  server/api/users.ts
Due: eslint --fix, prettier --write

Saved your changes before starting work
  package.json
Due: prettier --write

Configure project to run and deploy using npm scripts
  replit.toml
Due: none

Saved your changes before starting work
  attached_assets/image_1757375745857.png
Due: none

Improve demo user filtering to include all demo roles
  server/optimized-db-storage.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md,yml,yaml})
