Repository kevinhervieux-koveo/koveo-gestion-saas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,css,md,yml,yaml}": ["prettier --write"]
}

Fix session persistence issues affecting user logins
  tests/critical/session-persistence.test.ts
Due: eslint --fix, prettier --write

Add script to investigate production user account creation errors
  scripts/investigate-production-user.ts
Due: eslint --fix, prettier --write

Add script to investigate user creation errors
  scripts/investigate-production-user.ts
Due: eslint --fix, prettier --write

Configure production database connection for automated migrations
  drizzle.config.prod.ts
Due: eslint --fix, prettier --write

Add a new image asset to the project
  attached_assets/image_1757254057569.png
Due: none

Update property platform to address production database issues
  attached_assets/image_1757254143295.png
Due: none

Update invoice file size column to integer type
  attached_assets/image_1757254341809.png
  fix-file-size.sql
Due: none

Add visual asset for platform demonstration
  attached_assets/image_1757254542098.png
Due: none

Add initial project assets for development
  attached_assets/image_1757254577890.png
  attached_assets/image_1757254613485.png
Due: none

Update database with new column information for various tables
  attached_assets/curly-butterfly-19363204_production_neondb_2025-09-07_10-17-01_1757254647575.csv
Due: none

Update database configuration for production deployment
  drizzle.config.prod.ts
Due: eslint --fix, prettier --write

Add detailed logging for user invitation acceptance process
  server/routes-minimal.ts
Due: eslint --fix, prettier --write

Fix user creation error due to duplicate username
  attached_assets/Pasted-2025-09-07-10-35-31-69-01565d9d-User-Error-creating-user-DrizzleQueryError-Failed-query-inse-1757255838772_1757255838772.txt
Due: none

Improve username generation to prevent collisions with random suffixes
  server/routes-minimal.ts
Due: eslint --fix, prettier --write

Ensure unique usernames by adding random numbers to existing ones
  attached_assets/Pasted-2025-09-07-10-51-26-71-6dd81f9c-User-true-2025-09-07-10-51-26-71-6dd81f9c-User-2025-09-07-1757256710471_1757256710472.txt
  server/optimized-db-storage.ts
Due: eslint --fix, prettier --write

Remove extensive debug logging from production builds
  server/optimized-db-storage.ts
  server/routes-minimal.ts
Due: eslint --fix, prettier --write

Improve system stability by resolving critical rendering errors
  attached_assets/Pasted-index-js-1-content-loaded-index-DHcY4j0d-js-360-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-0-1757257313140_1757257313141.txt
  attached_assets/image_1757257342713.png
Due: none

Add comprehensive tests to verify all application pages function correctly
  client/src/pages/privacy-policy.tsx
  tests/pages/all-pages-integrity.test.tsx
Due: eslint --fix, prettier --write

Add user authentication and authorization features to the platform
  attached_assets/image_1757258050220.png
  attached_assets/image_1757258194246.png
Due: none

Streamline bill creation and editing by unifying form components
  client/src/components/BillCreateForm.tsx
  client/src/components/BillEditForm.tsx
  client/src/components/common/CollapsibleGroup.tsx
  client/src/components/common/StandardCard.tsx
  client/src/components/common/StandardUploadForm.tsx
  client/src/pages/manager/bills.tsx
Due: eslint --fix, prettier --write

Update bill form to use modular component for receipt uploads
  tests/unit/file-upload-forms.test.tsx
Due: eslint --fix, prettier --write

Update project configuration for enhanced testing and database integration
  drizzle.config.ts.backup
  jest.config.cjs.backup
Due: none

Update project dependencies to newer versions
  attached_assets/image_1757259446596.png
  package.json
Due: prettier --write

Add comprehensive translations for all application features and user management actions
  client/src/lib/i18n.ts.backup
  client/src/lib/i18n.ts.corrupted
  jest.setup.ts.backup
Due: none

Remove unused image assets from the project
  attached_assets/image_1757259829901.png
  attached_assets/image_1757259855158.png
Due: none

Saved your changes before starting work
  attached_assets/image_1757259972019.png
Due: none

Create a reusable card component for displaying no data states
  client/src/components/ui/no-data-card.tsx
Due: eslint --fix, prettier --write

Add common components for displaying no data messages
  client/src/lib/i18n.ts
  package-lock.json
Due: eslint --fix, prettier --write

Introduce a reusable component for displaying "no data available" messages
  client/src/lib/i18n.ts
  client/src/pages/manager/buildings.tsx
Due: eslint --fix, prettier --write

Improve consistency by using a shared component for no data messages
  client/src/pages/residents/residence.tsx
Due: eslint --fix, prettier --write

Add a reusable card component to display no data messages across the application
  client/src/lib/i18n.ts
  client/src/pages/manager/common-spaces-stats.tsx
Due: eslint --fix, prettier --write

Add tests for the common no data card component
  tests/unit/no-data-card.test.tsx
Due: eslint --fix, prettier --write

Create a reusable component for displaying no data messages
  client/src/components/dashboard/law25-compliance.tsx
  client/src/components/ssl/SslCertificateInfo.tsx
  client/src/lib/i18n.ts
Due: eslint --fix, prettier --write

Add translations for the user invitation management tab
  client/src/lib/i18n.ts
Due: eslint --fix, prettier --write

Add translations for the user invitation management tab
  client/src/components/InvitationManagement.tsx
Due: eslint --fix, prettier --write

Add translation tests for the invitation tab in user management
  tests/unit/invitation-tab-translation.test.tsx
Due: eslint --fix, prettier --write
