Repository kevinhervieux-koveo/koveo-gestion-saas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Saved your changes before starting work
  attached_assets/Pasted-DocumentManager-DF0bOko1-js-1-GET-https-koveo-gestion-com-api-documents-residenceId-5d23de5b-ba37-1756741243618_1756741243619.txt
  attached_assets/image_1756741188752.png
  uploads/text-documents/222f5a0d-6bc6-4f28-9f4d-32c133eed333/1756741230074.txt
Due: none

Improve document upload reliability by handling potential file naming conflicts
  server/api/documents.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add text document upload functionality for residents
  uploads/residences/e27ac924-8120-4904-a791-d1e9db544d58/b31234d3-9784-4887-abc9-fee20b91560b-test 1 (1).pdf
  uploads/text-documents/222f5a0d-6bc6-4f28-9f4d-32c133eed333/361468c5-2f5d-4fe3-85fa-d8a95d90809a.txt
Due: none

Improve document upload path handling for user files
  attached_assets/Pasted-index-CSHSeBP-js-268-Download-the-React-DevTools-for-a-better-development-experience-https-react-1756742000477_1756742000478.txt
  attached_assets/image_1756741994051.png
  server/api/documents.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve document upload process by simplifying error handling
  attached_assets/image_1756742187012.png
  server/api/documents.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve document upload functionality for better user experience
  uploads/residences/e27ac924-8120-4904-a791-d1e9db544d58/4544903c-8b9b-4051-afa2-9758678138a2-test 1 (1).pdf
Due: none

Switch to basic database storage for temporary upload fixes
  attached_assets/Pasted-index-DHHS-gqx-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756742706637_1756742706637.txt
  attached_assets/image_1756742699984.png
  server/optimized-db-storage.ts
  server/storage.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update document filtering to correctly associate uploaded documents
  attached_assets/Pasted-index-CSHSeBP-js-268-Download-the-React-DevTools-for-a-better-development-experience-https-react-1756743165032_1756743165033.txt
  attached_assets/image_1756743158598.png
  server/db-storage.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add a temporary text document for testing
  uploads/text-documents/222f5a0d-6bc6-4f28-9f4d-32c133eed333/490e8091-894c-4dac-a7c3-9f172b380c7e.txt
Due: none

Fix issue preventing users from uploading documents to their accounts
  attached_assets/Pasted-index-DHHS-gqx-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756743972902_1756743972902.txt
  attached_assets/image_1756743968715.png
  server/api/documents.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add ability for residents to upload documents to their residences
  uploads/residences/e27ac924-8120-4904-a791-d1e9db544d58/33bb77b5-9af4-4d5c-8f3f-4bb55dabcf48-fichier texte (7).txt
Due: none

Fix error when fetching documents for a specific residence
  attached_assets/Pasted-DocumentManager-DF0bOko1-js-1-GET-https-koveo-gestion-com-api-documents-residenceId-5d23de5b-ba37-1756744819802_1756744819803.txt
  attached_assets/image_1756744795422.png
Due: none

Fix authentication and document retrieval errors
  attached_assets/Pasted-index-DHHS-gqx-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756748202208_1756748202209.txt
Due: none

Verify deployment readiness and fix document upload errors
  scripts/verify-deployment.js
Due: eslint --fix --max-warnings 0, prettier --write

Add detailed logging to help diagnose production issues with document uploads
  attached_assets/Pasted-index-DHHS-gqx-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756748680848_1756748680848.txt
  attached_assets/image_1756748676353.png
  server/api/documents.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update document storage logic and user data handling
  attached_assets/Pasted-DocumentManager-DF0bOko1-js-1-GET-https-koveo-gestion-com-api-documents-residenceId-5d23de5b-ba37-1756749085836_1756749085836.txt
  attached_assets/image_1756749080760.png
  server/api/cleanup.ts
  server/api/users.ts
  uploads/buildings/005b0e63-6a0a-44c9-bf01-2b779b316bba/9ae99485-e379-4eaf-8f6c-072a475322ab-potato.pdf
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add functionality to associate uploaded documents with specific users
  attached_assets/image_1756749636364.png
  attached_assets/image_1756749644027.png
Due: none

Improve data consistency by aligning maintenance requests with existing records
  attached_assets/image_1756750115745.png
  attached_assets/image_1756750124146.png
Due: none

Update document upload functionality to include image attachments
  attached_assets/image_1756750284635.png
Due: none

Add document management schemas and address API errors
  attached_assets/Pasted-index-DHHS-gqx-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756750357077_1756750357078.txt
  attached_assets/image_1756750351545.png
  shared/schema.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add debugging logs to the document upload process
  attached_assets/image_1756750891295.png
  server/api/documents.ts
  uploads/residences/e27ac924-8120-4904-a791-d1e9db544d58/c46f0042-e9e5-4a94-8182-63dc873b42dc-fichier texte (5).txt
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Refactor document management API to use consistent naming and improve debugging
  attached_assets/Pasted-DocumentManager-DF0bOko1-js-1-GET-https-koveo-gestion-com-api-documents-residenceId-5d23de5b-ba37-1756751666358_1756751666359.txt
  attached_assets/image_1756751662277.png
  server/api/documents.ts
  server/routes.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update document retrieval and creation methods for consistency
  attached_assets/Pasted-index-CSHSeBP-js-268-Download-the-React-DevTools-for-a-better-development-experience-https-react-1756752474351_1756752474351.txt
  attached_assets/image_1756752462648.png
  server/api/documents.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add a text file to the document management system
  uploads/residences/e27ac924-8120-4904-a791-d1e9db544d58/8f685d49-13a8-461a-838b-b556a49317a6-fichier texte (6).txt
Due: none

Fix document upload issues by addressing authentication and server errors
  attached_assets/Pasted-index-DHHS-gqx-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756752929730_1756752929730.txt
  attached_assets/image_1756752912709.png
Due: none

Update database connection to use production environment settings
  attached_assets/image_1756753056037.png
Due: none

Improve document management by refining data handling and type safety
  attached_assets/image_1756753263765.png
  attached_assets/image_1756753272359.png
  server/api/documents.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add a new text file with content
  uploads/residences/e27ac924-8120-4904-a791-d1e9db544d58/14e60c7e-18a4-47d9-8e67-7eb17f186c5c-fichier texte (6).txt
Due: none

Improve system stability by addressing API errors and session expirations
  attached_assets/Pasted-index-DHHS-gqx-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756754029938_1756754029939.txt
  attached_assets/image_1756754012629.png
Due: none

Update database schema to use string IDs and improve storage connection
  attached_assets/Pasted-index-DHHS-gqx-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756754585058_1756754585058.txt
  attached_assets/image_1756754580149.png
  server/routes.ts
  shared/schemas/core.ts
  shared/schemas/documents.ts
  shared/schemas/property.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Consolidate document management into a unified system
  server/api/documents.ts
  shared/schema.ts
  shared/schemas/documents.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Refine document retrieval and creation with type safety
  attached_assets/Pasted-index-DHHS-gqx-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756756288904_1756756288904.txt
  attached_assets/image_1756756284611.png
  server/api/documents.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Address user session expiration and document retrieval errors
  attached_assets/Pasted-index-DHHS-gqx-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756756704519_1756756704519.txt
  attached_assets/image_1756756698537.png
Due: none

Update document handling to use the correct GCS path and improve API error logging
  attached_assets/Pasted-index-DHHS-gqx-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756757095359_1756757095359.txt
  attached_assets/image_1756757073679.png
  server/api/documents.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Fix login issues by ensuring proper authentication credentials
  attached_assets/Pasted-index-DHHS-gqx-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756757411635_1756757411635.txt
  attached_assets/image_1756757407837.png
Due: none

Fix login issue and clear cookies for a fresh start
  attached_assets/image_1756757763296.png
  cookies.txt
Due: none

Update storage to use optimized database features
  attached_assets/image_1756758170490.png
  attached_assets/image_1756758273686.png
  attached_assets/image_1756758571312.png
  server/storage.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Saved your changes before starting work
  attached_assets/Pasted-index-DHHS-gqx-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756759205548_1756759205548.txt
  attached_assets/image_1756759201439.png
Due: none

Fix document upload issues by switching storage implementation
  PRODUCTION_DEPLOYMENT_GUIDE.md
  scripts/deploy-production-fix.sh
  server/db-storage.ts
  server/storage.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add image asset for project documentation
  attached_assets/image_1756759848121.png
Due: none

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md,yml,yaml})
  bash -c 'npm run typecheck': any of: *.{ts,tsx}
