Repository kevinhervieux-koveo/koveo-gestion-saas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,css,md,yml,yaml}": ["prettier --write"]
}

Fix git push to GitHub origin (Task #1123)
  package-lock.json
  package.json
Due: prettier --write

Remove orphaned octokit transitive deps from package-lock.json
  package-lock.json
Due: prettier --write

Git commit prior to merge
  attached_assets/Pasted-Run-set-e-drift-check-Comparing-shared-schema-ts-agains_1777204292061.txt
Due: none

Task #1118: Speed up per-task validation
  .replit
  scripts/build-check.sh
  scripts/run-unit-tests.sh
  tsconfig.json
Due: prettier --write

Fix flaky bills template workflow tests (Task #1110)
  tests/unit/bills-template-workflow.test.tsx
Due: eslint --fix, prettier --write

Task #1124: Keep git history clean by preventing future subrepl-* branch buildup
  CONTRIBUTING.md
  replit.md
  scripts/cleanup-subrepl-refs.sh
  scripts/post-merge.sh
Due: prettier --write

Git commit prior to merge
  server/tests/fixtures/french-upload.pdf
Due: none

Task #1117 — Show admins when their tag edits actually save
  tests/unit/components/bulk-document-import-tag-editor.test.tsx
Due: eslint --fix, prettier --write

Wire Full unit tests into the pre-deploy gate (Task #1121)
  scripts/run-unit-tests.sh
  sed3LblOo
Due: none

fix: cancel pending draft auto-save before any explicit sorting decision (task #1125)
  client/src/pages/admin/bulk-document-import.tsx
Due: eslint --fix, prettier --write

Task #1120: Port upload-filename-normalization integration test to Jest
  package-lock.json
  package.json
  scripts/run-unit-tests.sh
  tests/integration/upload-filename-normalization-end-to-end.test.ts
Due: eslint --fix, prettier --write

fix: stop get_budget_settings returning null financialYearStart
  migrations/0018_buildings_financial_year_start_backfill.sql
  server/mcp/budget-tools.ts
  server/storage.ts
Due: eslint --fix, prettier --write

fix: stop MCP create_element_history_event from regressing lastInspectionDate (task #1130)
  migrations/0018_fix_mcp_last_inspection_date.sql
  server/mcp/server.ts
  server/tests/mcp-inventory-integration.test.ts
Due: eslint --fix, prettier --write

Stop bills shareable-URL test from intermittently timing out (Task #1122)
  tests/unit/bills-shareable-url.test.tsx
Due: eslint --fix, prettier --write

feat(#1133): Show field-level before/after diff on edited element history entries
  client/src/components/maintenance/inventory/HistoryEditDiffDialog.tsx
  client/src/components/maintenance/inventory/HistoryTable.tsx
  client/src/lib/i18n.ts
  server/api/maintenance.ts
  server/tests/history-audit-endpoint.test.ts
  tests/unit/components/history-edit-diff-dialog.test.tsx
Due: eslint --fix, prettier --write

Task #1134: Finish removing the legacy vitest test runner
  package-lock.json
  package.json
  tests/integration/bill-upload-ai-analysis-integration.test.ts
  tests/integration/document-api-integration.test.ts
  tests/integration/upload-filename-normalization-secondary-routes.test.ts
  tests/integration/user-serializer-http.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

Git commit prior to merge
  attached_assets/Pasted--Violation-setTimeout-handler-took-N-ms-Violation-setTi_1777207548749.txt
  attached_assets/image_1777207433529.png
Due: none

Task #1132: Automated tests for non-null financialYearStart in budget settings
  tests/unit/api/budget-financial-year-non-null.test.ts
Due: eslint --fix, prettier --write

Git commit prior to merge
  attached_assets/image_1777207741553.png
Due: none

Task #1135: Recompute lastInspectionDate on history edit/delete
  server/api/maintenance.ts
  server/mcp/server.ts
  server/tests/maintenance-last-inspection-date.test.ts
  server/tests/mcp-inventory-integration.test.ts
Due: eslint --fix, prettier --write

Task #1139: Clean up old vitest snippets in pasted attachment files
  attached_assets/Pasted--Action-1-of-4-Create-the-new-React-Context-for-managing-application-state-This-will-hold-the-1757439961277_1757439961278.txt
  attached_assets/Pasted--Action-1-of-4-Create-the-new-React-Context-for-managing-application-state-This-will-hold-the-1757442392118_1757442392119.txt
Due: none

Widen building element edit form modal from lg to xl
  client/src/components/maintenance/inventory/ElementForm.tsx
Due: eslint --fix, prettier --write

Git commit prior to merge
  attached_assets/image_1777208076997.png
Due: none

Task #1140: Verify assume_user works end-to-end on staging
  docs/MCP_STAGING_QA_HARNESS_VERIFICATION.md
Due: prettier --write

fix(migrations): resolve all 42 pre-existing statement failures in migration chain (Task #871)
  migrations/0010_demands_residence_building_check.sql
  migrations/0012_building_elements_residence_id_fk.sql
  migrations/0012_demands_assignation_check.sql
  migrations/0015_cap_title_description_lengths.sql
  migrations/0015_fix_cross_org_demand_residence_ids.sql
  migrations/0015_fix_last_inspection_date.sql
  migrations/0016_element_history_audit_log.sql
  migrations/0018_fix_mcp_last_inspection_date.sql
  migrations/0018_schema_baseline.sql
Due: none

Fix migration failures by restoring and documenting database triggers
  migrations/0018_schema_baseline.sql
  scripts/generate-drift-migration.ts
Due: eslint --fix, prettier --write

Centralize lastInspectionDate recompute (Task #1141)
  server/api/maintenance.ts
  server/mcp/server.ts
  server/services/inventory-inspection-date.ts
Due: eslint --fix, prettier --write

Fix /manager/maintenance/inventory crash from duplicate React copies
  client/src/main.tsx
  tests/unit/components/inventory-page-hoc-regression.test.tsx
  vite.config.ts
Due: eslint --fix, prettier --write

Task #1138: Run ported integration tests against real DB
  server/api/maintenance.ts
  tests/integration/document-api-integration.test.ts
Due: eslint --fix, prettier --write

fix: replace parseISO/new Date with parseDateOnly for date-only fields (fr-CA off-by-one)
  client/src/components/maintenance/inventory/HistoryTable.tsx
  client/src/components/maintenance/projects/ProjectBudget.tsx
  client/src/pages/manager/maintenance/inventory/ElementDetailsPanel.tsx
  client/src/pages/manager/maintenance/inventory/ElementHistoryPage.tsx
  client/src/pages/manager/maintenance/inventory/InventoryOverview.tsx
  tests/e2e/element-history-date-fr-ca.e2e.test.ts
Due: eslint --fix, prettier --write

Task #1143: Add retry + enriched logging to bulk-import AI calls
  server/services/bulk-import-analyzer.ts
  tests/unit/services/bulk-import-analyzer.test.ts
Due: eslint --fix, prettier --write

Add HOC regression tests for the remaining manager pages (Task #1148)
  tests/unit/components/bills-page-hoc-regression.test.tsx
  tests/unit/components/budget-page-hoc-regression.test.tsx
  tests/unit/components/common-spaces-stats-page-hoc-regression.test.tsx
  tests/unit/components/projects-page-hoc-regression.test.tsx
  tests/unit/components/residences-page-hoc-regression.test.tsx
Due: eslint --fix, prettier --write

Strengthen parseDateOnly unit test with task #1153's documented input
  tests/unit/utils/parseDateOnly.test.ts
Due: eslint --fix, prettier --write

Task #1149: Auto-apply identification AI suggestions on bulk-document-import
  client/src/pages/admin/bulk-document-import.tsx
Due: eslint --fix, prettier --write

Git commit prior to merge
  attached_assets/image_1777210499521.png
Due: none

Git commit prior to merge
  tests/unit/components/buildings-page-hoc-regression.test.tsx
  tests/unit/components/residents-building-page-hoc-regression.test.tsx
  tests/unit/components/residents-common-spaces-page-hoc-regression.test.tsx
  tests/unit/components/residents-residence-page-hoc-regression.test.tsx
Due: eslint --fix, prettier --write

Task #1150: Tests proving every history write keeps inspection date in sync
  tests/unit/api/maintenance-history-recompute.test.ts
  tests/unit/api/mcp-element-history-recompute.test.ts
Due: eslint --fix, prettier --write

Defer heavy renders in manager area to fix [Violation] handler warnings
  client/src/components/hoc/withHierarchicalSelection.tsx
  client/src/components/maintenance/inventory/ElementTable.tsx
  client/src/components/maintenance/inventory/lazy-components.tsx
  client/src/pages/manager/maintenance/inventory/InventoryPage.tsx
Due: eslint --fix, prettier --write
