Repository kevinhervieux-koveo/koveo-gestion-saas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update core data models and add comprehensive deployment tests
  attached_assets/image_1756171965555.png
  server/storage.ts
  shared/schema.ts
  tests/deployment/deployment-validation.test.ts
  tests/deployment/simple-deployment.test.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update translation keys and fix server errors for improved functionality
  attached_assets/Pasted--api-auth-user-1-Failed-to-load-resource-the-server-responded-with-a-status-of-500-index-tUpcp-1756172468586_1756172468586.txt
  attached_assets/image_1756172442781.png
  client/src/lib/i18n.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update production file serving to correctly locate build assets
  attached_assets/image_1756172709747.png
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve Vite development server configuration and error handling
  server/vite.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Fix error when accessing user profile information
  attached_assets/image_1756173325192.png
Due: none

Improve application health reporting with detailed status endpoints
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Fix issue affecting user experience in production environments
  attached_assets/image_1756174145330.png
Due: none

Update database library to latest version for improved functionality
  package-lock.json
  package.json
Due: prettier --write

Update project dependencies for improved tooling and performance
  attached_assets/image_1756175178992.png
  package-lock.json
  package.json
Due: prettier --write

Update build tool for improved project compilation speed
  package-lock.json
  package.json
Due: prettier --write

Introduce AI-powered resident communication and issue resolution
  attached_assets/image_1756175440309.png
Due: none

Update project dependencies to latest versions
  package.json
Due: prettier --write

Update project scripts for better development workflow
  package.json
Due: prettier --write

Update project metadata and add new dependencies for improved functionality
  attached_assets/Pasted--name-koveo-gestion-version-1-0-0-description-Professional-property-managemen-1756176342104_1756176342104.txt
  attached_assets/image_1756176321330.png
Due: none

Update project dependencies and configuration for Tailwind CSS
  package-lock.json
  package.json
  postcss.config.js
Due: eslint --fix --max-warnings 0, prettier --write

Fix broken app rendering by updating configuration
  attached_assets/image_1756176621475.png
  tailwind.config.js
Due: eslint --fix --max-warnings 0, prettier --write

Update Tailwind CSS to a newer version for styling
  package-lock.json
  package.json
  postcss.config.js
  tailwind.config.js
Due: eslint --fix --max-warnings 0, prettier --write

Update security settings to allow necessary scripts and styles
  attached_assets/image_1756177011300.png
  server/middleware/security-middleware.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Allow access from the primary production website domain
  attached_assets/image_1756177113766.png
  server/middleware/security-middleware.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Temporarily allow inline scripts for debugging in production
  attached_assets/image_1756177183471.png
  server/middleware/security-middleware.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Fix issue with image not displaying correctly
  attached_assets/image_1756177350474.png
Due: none

Ensure database connection is established and checked at startup
  attached_assets/image_1756177515269.png
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update visual elements to improve user interface clarity
  attached_assets/image_1756177746006.png
Due: none

Improve database connection handling and schema loading diagnostics
  attached_assets/image_1756177763799.png
  server/db.ts
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update database initialization to remove schema for relation error prevention
  attached_assets/Pasted-2025-08-25-23-12-01-50-a5713088-User-at-QueryPromise-getQuery-file-home-runner-workspace-nod-1756177942791_1756177942792.txt
  attached_assets/image_1756177908234.png
  attached_assets/image_1756177916694.png
  attached_assets/image_1756177924977.png
  server/db.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve database setup by excluding relations to prevent production errors
  server/db.ts
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve startup speed by skipping database optimizations in production
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Prevent heavy background operations from running in production environments
  attached_assets/Pasted-2025-08-25-23-20-30-47-89543cca-User-Refreshed-mv-financial-summary-2025-08-25-23-20-30-47-8-1756178499921_1756178499922.txt
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update user synchronization logic to fetch individual user data
  attached_assets/Pasted-2025-08-25-23-25-59-00-aa175290-User-at-Object-startActiveSpan-file-home-runner-workspace-nod-1756178780336_1756178780336.txt
  server/services/comprehensive-demo-sync-service.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Remove financial transaction tracking and related data synchronization
  attached_assets/Pasted-2025-08-25-23-30-43-31-82f76b3f-User-internalQuery-undefined-2025-08-25-23-30-43-31-82f76b3f--1756179075962_1756179075963.txt
  server/db.ts
  server/services/comprehensive-demo-sync-service.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve startup process by ensuring demo organizations are configured
  attached_assets/Pasted-2025-08-25-23-37-27-77-82f76b3f-User-Storage-cleanup-scheduler-started-runs-every-6-hours-20-1756179477142_1756179477142.txt
Due: none

Improve background initialization for demo data
  attached_assets/image_1756179574591.png
  server/routes-minimal.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add deployment artifact for production release
  attached_assets/Screenshot_20250825-234759_1756180089260.png
Due: none

Add visual aid for platform functionality
  attached_assets/Screenshot_20250825-234842_1756180130263.png
Due: none

Improve application startup to prioritize immediate health checks
  attached_assets/Screenshot_20250825-234912_1756180169496.png
  server/health-only.ts
  server/index.ts
  server/routes-minimal.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Address deployment issues by improving health checks and data cleanup
  server/api/organizations.ts
  server/index.ts
  server/services/comprehensive-demo-sync-service.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Enable full application initialization in production environments
  attached_assets/image_1756200864302.png
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Make the application accessible for regular users and improve health checks
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Simplify server health checks and routing for improved performance
  attached_assets/image_1756201102803.png
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve deployment stability and prevent startup timeouts
  server/index.ts
  server/scripts/cleanup-orphans.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md,yml,yaml})
  bash -c 'npm run typecheck': any of: *.{ts,tsx}
