Repository kevinhervieux-koveo/koveo-gestion-saas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings 0",
    "prettier --write"
  ],
  "*.{json,css,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{ts,tsx}": [
    "bash -c 'npm run typecheck'"
  ]
}

Improve Google Cloud storage authentication handling and fix session expiration
  attached_assets/2ieme_facture_permis_1756489985634.pdf
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756489981923_1756489981923.txt
  attached_assets/image_1756489977632.png
  server/services/gcs-document-service.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update Google Cloud configuration for token authentication
  attached_assets/2ieme_facture_permis_1756490148785.pdf
  gcp-wif-config.json
Due: prettier --write

Integrate Replit OIDC for secure Google Cloud authentication
  server/services/gcs-document-service.ts
  server/services/replit-oidc-exchange.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve dialog accessibility by adding necessary descriptive elements
  attached_assets/Pasted-dialog-tsx-38-Warning-Missing-Description-or-aria-describedby-undefined-for-DialogContent--1756490792501_1756490792501.txt
  attached_assets/image_1756490789138.png
Due: none

Add temporary debugging for Workload Identity Federation token
  server/services/gcs-document-service.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update Google Cloud authentication to use correct OIDC token
  server/services/gcs-document-service.ts
  server/services/replit-oidc-exchange.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update authentication to use environment variables for token exchange
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756492450324_1756492450325.txt
  attached_assets/image_1756492437863.png
  attached_assets/image_1756492446762.png
  server/services/replit-oidc-exchange.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update authentication to use new environment variable for identity
  server/services/gcs-document-service.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve Google Cloud authentication methods for robust access
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756492637041_1756492637041.txt
  attached_assets/image_1756492633003.png
  server/services/replit-oidc-exchange.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Use JWT token from REPLIT_ID_TOKEN_PATH for authentication
  server/services/replit-oidc-exchange.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update document upload functionality with improved cloud storage integration
  attached_assets/image_1756493045538.png
Due: none

Remove all Google Cloud Storage integrations and related dependencies
  attached_assets/image_1756493252028.png
  client/src/lib/documents.ts
  package-lock.json
  package.json
  server/api/bills.ts
  server/api/company-history.ts
  server/api/documents.ts
  server/services/gcs-document-service.ts
  server/services/replit-oidc-exchange.ts
  server/storage.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add integration with Google Cloud Storage for file management
  package-lock.json
  package.json
Due: prettier --write

Add Google Cloud Storage integration using federated authentication
  client/src/lib/gcs.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Unify document storage and simplify database structure
  gcp-wif-config.json
  shared/schema.ts
  shared/schemas/documents.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Integrate Google Cloud Storage for document uploads and management
  package-lock.json
  package.json
  server/api/documents-upload.ts
  server/api/documents.ts
  server/lib/gcs.ts
  server/storage.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add ability to upload documents and files to the platform
  client/src/components/common/DocumentManager.tsx
  server/api/cleanup.ts
  server/lib/gcs.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Temporarily disable storage cleanup and implement GCS fallback for uploads
  attached_assets/image_1756494904918.png
  server/api/cleanup.ts
  server/lib/gcs.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve application startup by optimizing frontend and API route loading order
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Implement simplified authentication routes using the development database
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756495237322_1756495237322.txt
  attached_assets/image_1756495224316.png
  server/index.ts
  server/routes-simple.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add fallback routes to prevent server crashes during authentication issues
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756495494379_1756495494380.txt
  attached_assets/image_1756495500286.png
  server/index.ts
  server/routes-simple.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update environment detection to use NODE_ENV for database selection
  server/config/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Implement direct authentication routes and fix login functionality
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756495900163_1756495900164.txt
  attached_assets/image_1756495896512.png
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update database connection details for development environment
  attached_assets/image_1756496192214.png
Due: none

Restore original authentication system to ensure proper user access
  attached_assets/image_1756496266746.png
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update visual elements to enhance user interface clarity
  attached_assets/image_1756496397692.png
Due: none

Restored to '6de8fa58431e1ea935283a1d4b7d483ef704b5e7'
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756495237322_1756495237322.txt
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756495494379_1756495494380.txt
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756495900163_1756495900164.txt
  attached_assets/image_1756494904918.png
  attached_assets/image_1756495224316.png
  attached_assets/image_1756495500286.png
  attached_assets/image_1756495896512.png
  attached_assets/image_1756496192214.png
  attached_assets/image_1756496266746.png
  attached_assets/image_1756496397692.png
  client/src/components/common/DocumentManager.tsx
  client/src/lib/gcs.ts
  gcp-wif-config.json
  package-lock.json
  package.json
  server/api/cleanup.ts
  server/api/documents-upload.ts
  server/api/documents.ts
  server/config/index.ts
  server/index.ts
  server/lib/gcs.ts
  server/storage.ts
  shared/schema.ts
  shared/schemas/documents.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add Google Cloud Storage integration to manage project documents
  package-lock.json
  package.json
Due: prettier --write

Add secure Google Cloud Storage integration using federated authentication
  src/lib/gcs.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add a unified document table with enhanced management features
  shared/schemas/documents.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add a feature to upload documents and store them securely in cloud storage
  server/api/documents.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add ability to upload new documents with descriptions and visibility settings
  client/src/components/common/DocumentManager.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Saved your changes before starting work
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756497319901_1756497319902.txt
  attached_assets/image_1756497312074.png
Due: none

Replace document storage with a unified database system
  server/api/documents.ts
  server/optimized-db-storage.ts
  server/storage.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve document retrieval logic and remove outdated building document methods
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756497802689_1756497802690.txt
  attached_assets/image_1756497798216.png
  server/api/documents.ts
  server/optimized-db-storage.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update and unify document management for all document types
  attached_assets/image_1756498136276.png
  server/api/documents.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve document deletion process with enhanced checks
  attached_assets/image_1756498276778.png
  server/api/documents.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update database configuration to use development environment URL
  attached_assets/image_1756498407360.png
Due: none

Streamline document deletion and update logic for improved clarity
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756498549285_1756498549286.txt
  attached_assets/image_1756498543378.png
  server/api/documents.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'
