Repository kevinhervieux-koveo/koveo-gestion-saas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Replace the user table with a new, more robust component
  attached_assets/image_1756829874006.png
  attached_assets/image_1756829883729.png
  client/src/components/UserAssignmentsTable.tsx
  client/src/pages/manager/user-management.tsx
  server/api/users.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Revise document storage system for improved integration
  attached_assets/image_1756830049864.png
Due: none

Add user management actions to the assignments table
  client/src/components/UserAssignmentsTable.tsx
  client/src/pages/manager/user-management.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add a new table to display user assignments with status
  attached_assets/image_1756830212896.png
  client/src/components/UserAssignmentsTable.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Remove debug logging statements from user assignment tables and API routes
  attached_assets/image_1756830362398.png
  client/src/components/UserAssignmentsTable.tsx
  server/api/users.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Remove debugging logs and green banner from the system
  attached_assets/image_1756830474600.png
  server/api/users.ts
  server/optimized-db-storage.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Resolve issues with banner visibility and console errors
  attached_assets/image_1756830629360.png
Due: none

Improve user interface by updating banner styles
  attached_assets/image_1756830773350.png
Due: none

Update document management to support faster code refreshes
  attached_assets/image_1756830982672.png
Due: none

Update entry point to include cache-busting query parameter
  attached_assets/image_1756831078110.png
  client/index.html
Due: none

Update user assignments table component for better data display
  attached_assets/image_1756831180603.png
  client/src/components/UserAssignmentsTableClean.tsx
  client/src/pages/manager/user-management.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update application to remove version query parameter
  attached_assets/image_1756831323487.png
  client/index.html
Due: none

Remove unused images and temporary files from the application
  attached_assets/image_1756831422720.png
Due: none

Limit user access to view only their assigned residences and buildings
  client/src/pages/residents/building.tsx
  client/src/pages/residents/residence.tsx
  server/api/users.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Scope data access to currently logged-in users
  attached_assets/image_1756832063083.png
  client/src/components/admin/send-invitation-dialog.tsx
  client/src/components/common/DocumentManager.tsx
  client/src/pages/Documents.tsx
  client/src/pages/residents/residence.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Restored to '4f6fce7b4ed9175e07be5c9f8401e3a6bf8d1075'
  attached_assets/image_1756832063083.png
  client/src/components/admin/send-invitation-dialog.tsx
  client/src/components/common/DocumentManager.tsx
  client/src/pages/Documents.tsx
  client/src/pages/residents/residence.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve static file serving with environment-specific caching strategies
  server/routes.ts
  uploads/residences/e27ac924-8120-4904-a791-d1e9db544d58/652da48d-76b4-4301-93f4-c900a80dc18d-fichier texte (6).txt
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Enable running validation suite directly without requiring module
  scripts/validation-suite.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update validation script for comprehensive data checks
  package.json
Due: prettier --write

Improve route validation to include API files
  scripts/validation-suite.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve access control and testing configurations for property management
  .replit
  jest.config.cjs
  server/rbac.ts
  tests/unit/auth/rbac-comprehensive.test.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve password validation and demand comment schema
  client/src/utils/password-validation.ts
  server/index.ts
  tests/unit/demands/demands-schema.test.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update documentation to reflect the latest project status and testing improvements
  docs/API_DOCUMENTATION.md
  docs/PROJECT_STATUS.md
  docs/QUALITY_SYSTEM_OVERVIEW.md
  docs/RBAC_SYSTEM.md
  docs/guides/SECURITY_IMPLEMENTATION.md
  docs/guides/TESTING_STRATEGY.md
  replit.md
Due: prettier --write

Restrict access to demands and common spaces based on user creation
  server/api/common-spaces.ts
  server/api/demands.ts
  server/auth.ts
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve error handling and logging across authentication and organization routes
  server/api/organizations.ts
  server/api/permissions.ts
  server/auth.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve error handling and logging across multiple API endpoints
  server/api/buildings.ts
  server/api/organizations.ts
  server/api/users.ts
  server/auth.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add detailed logging for user and building operations
  server/api/buildings.ts
  server/api/users.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve error handling and logging across all API endpoints
  server/api/bills.ts
  server/api/buildings.ts
  server/api/contacts.ts
  server/api/documents.ts
  server/api/feature-requests.ts
  server/api/residences.ts
  server/api/users.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve error handling across various API endpoints for better debugging
  server/api/bills.ts
  server/api/common-spaces.ts
  server/api/contacts.ts
  server/api/documents.ts
  server/api/feature-requests.ts
  server/api/permissions.ts
  server/api/residences.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve error handling and logging across multiple services
  server/api/common-spaces.ts
  server/api/permissions.ts
  server/auth/invitation-rbac.ts
  server/optimized-db-storage.ts
  server/query-cache.ts
  server/services/bill-generation-service.ts
  server/services/delayed-update-service.ts
  server/services/email-service.ts
  server/services/gemini-bill-analyzer.ts
  server/services/monthly-budget-service.ts
  server/storage.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve error handling and logging throughout the application
  server/auth/invitation-rbac.ts
  server/database-optimization.ts
  server/optimized-db-storage.ts
  server/performance-monitoring.ts
  server/services/monthly-budget-service.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Refine invitation permissions and budget data handling
  server/auth/invitation-rbac.ts
  server/services/monthly-budget-service.ts
  uploads/buildings/005b0e63-6a0a-44c9-bf01-2b779b316bba/dab46f25-1726-49af-b398-7096a191c8b2-fichier texte (5).txt
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Fix syntax error in query client configuration for error handling
  client/src/lib/queryClient.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update document storage to use local file system instead of Google Cloud
  client/src/components/common/DocumentManager.tsx
  client/src/lib/documents.ts
  package-lock.json
  package.json
  pyproject.toml
  server/api/cleanup.ts
  server/api/documents.ts
  shared/schemas/documents.ts
  src/lib/gcs.ts
  uv.lock
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve dashboard compliance display and document serving
  client/src/components/auth/registration-wizard.tsx
  client/src/components/auth/steps/token-validation-step.tsx
  client/src/components/dashboard/law25-compliance.tsx
  server/api/documents.ts
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add error handling and logging to improve application stability
  client/src/components/common-spaces/calendar-view.tsx
  client/src/components/common-spaces/user-calendar.tsx
  client/src/components/layout/sidebar.tsx
  client/src/components/ui/trial-request-form.tsx
  client/src/hooks/use-auth.tsx
  client/src/hooks/use-fullscreen.ts
  client/src/pages/admin/roadmap.tsx
  client/src/pages/manager/budget.tsx
  client/src/pages/manager/buildings.tsx
  client/src/pages/manager/common-spaces-stats.tsx
  client/src/pages/manager/demands.tsx
  client/src/utils/component-loader.ts
  client/src/utils/memory-monitor.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md,yml,yaml})
  bash -c 'npm run typecheck': any of: *.{ts,tsx}
