Repository kevinhervieux-koveo/koveo-gestion-saas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fix issue preventing users from viewing buildings
  attached_assets/image_1757344898124.png
Due: none

Ensure specific domain uses dedicated production database
  server/auth.ts
  server/config/index.ts
Due: eslint --fix, prettier --write

Allow demo managers to view buildings within their organizations
  server/api/buildings.ts
Due: eslint --fix, prettier --write

Remove debugging logs from building data retrieval
  client/src/pages/manager/buildings.tsx
  server/api/buildings.ts
Due: eslint --fix, prettier --write

Remove financial documents with receipt or invoice keywords
  server/scripts/cleanup-financial-docs.ts
Due: eslint --fix, prettier --write

Add admin endpoint to clean up financial documents with specific keywords
  server/api/admin-cleanup.ts
  server/routes.ts
  server/scripts/cleanup-financial-docs.ts
Due: eslint --fix, prettier --write

Add script to remove financial documents with receipt or invoice
  server/api/admin-cleanup.ts
  server/routes.ts
  server/scripts/cleanup-financial-docs.ts
Due: eslint --fix, prettier --write

Saved your changes before starting work
  attached_assets/Pasted--Title-Comprehensive-Plan-Implement-a-Hierarchical-Card-Based-Selection-Flow-Overall-Goal-1757347298392_1757347298393.txt
Due: none

Add a flexible component for selecting items in a hierarchical flow
  client/src/components/common/SelectionGrid.tsx
Due: eslint --fix, prettier --write

Add hierarchical selection logic for organizations, buildings, and residences
  client/src/components/hoc/withHierarchicalSelection.tsx
Due: eslint --fix, prettier --write

Add API endpoints to view buildings and residences with access controls
  server/api/buildings.ts
  server/api/organizations.ts
Due: eslint --fix, prettier --write

Integrate hierarchical building selection for bill management
  client/src/pages/manager/bills.tsx
Due: eslint --fix, prettier --write

Update URL parameters for hierarchical navigation in property management
  attached_assets/image_1757348302359.png
  client/src/components/hoc/withHierarchicalSelection.tsx
Due: eslint --fix, prettier --write

Add debug logs to help troubleshoot navigation and selection issues
  attached_assets/image_1757348481322.png
  client/src/components/common/SelectionGrid.tsx
  client/src/components/hoc/withHierarchicalSelection.tsx
Due: eslint --fix, prettier --write

Add necessary images for organization creation
  attached_assets/image_1757348931473.png
Due: none

Fix issue with hierarchical selection navigation and URL parsing
  client/src/components/hoc/withHierarchicalSelection.tsx
Due: eslint --fix, prettier --write

Improve navigation and debugging for hierarchical data selection
  attached_assets/image_1757349096954.png
  client/src/components/hoc/withHierarchicalSelection.tsx
Due: eslint --fix, prettier --write

Update working methodology to restart application before checkpoints
  replit.md
Due: prettier --write

Update organization selection to show building availability
  client/src/components/common/SelectionGrid.tsx
  client/src/components/hoc/withHierarchicalSelection.tsx
Due: eslint --fix, prettier --write

Update navigation to correctly filter bills by building
  client/src/pages/manager/bills.tsx
Due: eslint --fix, prettier --write

Disable building selection when no buildings are available
  attached_assets/image_1757350139934.png
  attached_assets/image_1757350290763.png
  attached_assets/image_1757350313058.png
  attached_assets/image_1757350333250.png
Due: none

Improve navigation when selecting buildings and residences
  client/src/components/hoc/withHierarchicalSelection.tsx
Due: eslint --fix, prettier --write

Fix building selection error and improve bill creation functionality
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-bills-0fvi4gHp-js-6--1757350756250_1757350756250.txt
  client/src/pages/manager/bills.tsx
Due: eslint --fix, prettier --write

Fix issue preventing attached files from displaying on bills
  attached_assets/image_1757350939797.png
  attached_assets/image_1757350998739.png
  attached_assets/image_1757351017154.png
Due: none

Add navigation for organization and building selection with updated headers
  attached_assets/image_1757351181426.png
  client/src/components/common/SelectionGrid.tsx
  client/src/components/hoc/withHierarchicalSelection.tsx
Due: eslint --fix, prettier --write

Add navigation to return to the previous building selection page
  client/src/pages/manager/bills.tsx
Due: eslint --fix, prettier --write

Add recurrence end date to bill edit form and fix document fetching
  client/src/components/bill-management/ModularBillForm.tsx
  client/src/pages/manager/bills.tsx
Due: eslint --fix, prettier --write

Update navigation to match bills page UI and remove duplicate selection buttons
  attached_assets/image_1757352115976.png
  attached_assets/image_1757352124946.png
  attached_assets/image_1757352133492.png
  client/src/components/hoc/withHierarchicalSelection.tsx
Due: eslint --fix, prettier --write

Improve navigation by aligning back button UI with bills page
  client/src/components/common/SelectionGrid.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md,yml,yaml})
