Repository kevinhervieux-koveo/koveo-gestion-saas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Improve invitation tab translation coverage and component functionality
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0d/InvitationManagement_0dc1e527605fcfe571e607061f5d6bb3
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0d/InvitationManagement_0dc1e527605fcfe571e607061f5d6bb3.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/13/index_1305d0108ba6faafd6e6c6748c20b2ed
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/13/index_1305d0108ba6faafd6e6c6748c20b2ed.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5e/invitationtabtranslationtest_5ec52eb331ef7351d05c210f910842fe
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5e/invitationtabtranslationtest_5ec52eb331ef7351d05c210f910842fe.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/62/alertdialog_62dbc7b8283a192636a9d7ea24a0f6b2
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/62/alertdialog_62dbc7b8283a192636a9d7ea24a0f6b2.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/62/table_62d7abb56269d2a0fec17ea59dee58d9
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/62/table_62d7abb56269d2a0fec17ea59dee58d9.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/6a/invitationtabtranslationtest_6a04ab6514a5965a6affe1e28051b98f
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/6a/invitationtabtranslationtest_6a04ab6514a5965a6affe1e28051b98f.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7f/nodatacard_7f425c942884555b72753863b8ba5ca8
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7f/nodatacard_7f425c942884555b72753863b8ba5ca8.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ce/invitationtabtranslationtest_ceece583b361739809af8551d3912f1e
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ce/invitationtabtranslationtest_ceece583b361739809af8551d3912f1e.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e8/invitationtabtranslationtest_e84098de29e14a08b6d4a6d5a19b2374
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e8/invitationtabtranslationtest_e84098de29e14a08b6d4a6d5a19b2374.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  tests/unit/invitation-tab-translation.test.tsx
Due: eslint --fix, prettier --write

Update property types to include only condos and apartments
  shared/schemas/property.ts
Due: eslint --fix, prettier --write

Update building categories to condo and appartement
  client/src/components/buildings/building-card.tsx
  client/src/components/buildings/building-form.tsx
  client/src/lib/i18n.ts
  client/src/pages/manager/buildings.tsx
Due: eslint --fix, prettier --write

Update building types to include condos and apartments
  client/src/lib/i18n.ts
Due: eslint --fix, prettier --write

Improve documentation retrieval and content generation for the platform
  server/api/documentation.ts
  server/routes.ts
Due: eslint --fix, prettier --write

Improve and expand documentation details for admin users
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1757263002814_1757263002815.txt
  client/src/pages/admin/documentation.tsx
Due: eslint --fix, prettier --write

Update documentation to include project overview and version details
  client/src/pages/admin/documentation.tsx
Due: eslint --fix, prettier --write

Update documentation page to display system component statistics
  client/src/pages/admin/documentation.tsx
Due: eslint --fix, prettier --write

Enhance documentation generation with LLM and Git integration
  client/src/pages/admin/documentation.tsx
  package-lock.json
  package.json
  server/api/documentation.ts
Due: eslint --fix, prettier --write

Improve bill management with translated labels and month selection
  client/src/pages/manager/bills.tsx
Due: eslint --fix, prettier --write

Update caching and file transformations for improved test performance
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/25/DocumentEditForm_2562d10c575953b4acf9a8d30049d67d
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/25/DocumentEditForm_2562d10c575953b4acf9a8d30049d67d.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/34/bills_345fd99b18c4b5dfb96217d37441ea9b
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/34/bills_345fd99b18c4b5dfb96217d37441ea9b.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/34/routes_340bc77759b215b9341369b91eb4bb94
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/34/routes_340bc77759b215b9341369b91eb4bb94.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/53/i18n_53d889af084d76c729bfed5abd9efa96
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/53/i18n_53d889af084d76c729bfed5abd9efa96.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5d/translationerrordetectiontest_5d7640584b6dcfe97a753ffc8a86ae76
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5d/translationerrordetectiontest_5d7640584b6dcfe97a753ffc8a86ae76.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7a/optimizeddbstorage_7abebeac665c9fb35962efdd7d584e71
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7a/optimizeddbstorage_7abebeac665c9fb35962efdd7d584e71.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/86/budget_8638b019ac1d8f7572616b61f43b81d1
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/86/budget_8638b019ac1d8f7572616b61f43b81d1.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/88/nodatacardtest_88c1a072355302c46a8ee3d4af48fba3
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/88/nodatacardtest_88c1a072355302c46a8ee3d4af48fba3.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c2/fileuploadformstest_c2c6d8725f6e0ce650310da9587d3126
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c2/fileuploadformstest_c2c6d8725f6e0ce650310da9587d3126.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d1/buildings_d154eabeef517f88bc03efa115ef9d37
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d1/buildings_d154eabeef517f88bc03efa115ef9d37.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d4/undefinedvariabledetectiontest_d454e3d4e79816f6bb20ed782e39dd1d
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d4/undefinedvariabledetectiontest_d454e3d4e79816f6bb20ed782e39dd1d.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d7/property_d7e4e75c524039a74e37d4e4684e4950
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d7/property_d7e4e75c524039a74e37d4e4684e4950.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
Due: none

Update translations to remove duplicate invitation management entries
  client/src/lib/i18n.ts
Due: eslint --fix, prettier --write

Improve error handling for copying and saving feature prompts
  client/src/components/common/StandardUploadForm.tsx
  client/src/components/forms/feature-form/prompt-display.tsx
  client/src/components/forms/feature-form/use-feature-form-data.tsx
  client/src/components/roadmap/actionable-items-panel.tsx
Due: eslint --fix, prettier --write

Update translations to enhance platform's multilingual capabilities
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/dd/i18n_dd7e6913acdb151cb763711e9048ea38
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/dd/i18n_dd7e6913acdb151cb763711e9048ea38.map
Due: none

Improve test reliability by fixing cache issues
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
Due: none

Summarize ongoing test infrastructure issues and recent fixes
  test_issues_context.md
  test_issues_summary.txt
Due: prettier --write

Update database schemas for development and production environments
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1757266693369_1757266693370.txt
  attached_assets/image_1757266698278.png
  attached_assets/image_1757266763188.png
Due: none

Update production database configuration for schema migrations
  drizzle.config.production.ts
Due: eslint --fix, prettier --write

Update database schemas for production and development environments
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1757266847049_1757266847050.txt
  attached_assets/image_1757266843404.png
  drizzle.config.production.ts
Due: eslint --fix, prettier --write

Add translations for bill management and improve testing accessibility
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1757266889380_1757266889381.txt
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1757266971397_1757266971398.txt
  attached_assets/image_1757266885097.png
  attached_assets/image_1757266967766.png
  client/src/pages/manager/bills.tsx
Due: eslint --fix, prettier --write

Enhance testing to include accessibility checks across all application pages
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1757267008700_1757267008700.txt
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1757267040666_1757267040667.txt
  attached_assets/image_1757267001731.png
  attached_assets/image_1757267033095.png
  tests/integration/page-accessibility.test.tsx
Due: eslint --fix, prettier --write

Improve test coverage by adding accessibility checks to all pages
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1757267066374_1757267066374.txt
  attached_assets/image_1757267062858.png
Due: none

Improve accessibility by adding autocomplete attributes to password fields
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1757267107928_1757267107928.txt
  attached_assets/image_1757267095019.png
Due: none

Remove summary statistics from the documentation page
  attached_assets/image_1757267139885.png
  client/src/pages/admin/documentation.tsx
Due: eslint --fix, prettier --write

Add new endpoints for pillar suggestions and quality metrics
  attached_assets/image_1757267375139.png
  attached_assets/image_1757267387103.png
  attached_assets/image_1757267405894.png
  attached_assets/image_1757267426658.png
  server/api/pillars-suggestions.ts
  server/api/quality-metrics.ts
  server/routes.ts
Due: eslint --fix, prettier --write

Add feature management and synchronization capabilities to the platform
  server/api/feature-management.ts
  server/routes.ts
Due: eslint --fix, prettier --write

Update quality metrics to fetch latest data reliably
  attached_assets/image_1757268965574.png
  client/src/components/dashboard/quality-metrics.tsx
Due: eslint --fix, prettier --write

Update Law 25 compliance endpoint to improve error handling and data accuracy
  server/routes.ts
  server/routes/law25-compliance.ts
Due: eslint --fix, prettier --write

Update access control for viewing user permissions
  server/api/permissions.ts
Due: eslint --fix, prettier --write

Improve password input fields for better security and usability
  client/src/pages/settings/settings.tsx
Due: eslint --fix, prettier --write

Improve bug report filtering to respect user roles
  client/src/pages/settings/bug-reports.tsx
Due: eslint --fix, prettier --write

Add integration tests for admin page functionality and fixes
  tests/integration/admin-pages-functionality.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md,yml,yaml})
