Repository kevinhervieux-koveo/koveo-gestion-saas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Add a standardized footer to all website pages
  client/src/pages/features.tsx
  client/src/pages/home.tsx
  client/src/pages/pricing.tsx
Due: eslint --fix, prettier --write

Add standardized footer to all pages with logo linking to top
  client/src/pages/terms-of-service.tsx
Due: eslint --fix, prettier --write

Saved your changes before starting work
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/21/democreationtest_21a1fba86fd4903e84f7c054c7f6a495
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/21/democreationtest_21a1fba86fd4903e84f7c054c7f6a495.map
Due: none

Update all application documentation with new content and translations
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/02/billattachmentsdemocreationtest_027b74a60a154b1b43bb5c98cea8bc4f
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/02/billattachmentsdemocreationtest_027b74a60a154b1b43bb5c98cea8bc4f.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/04/ModularBuildingDocuments_042edec7a2ba61443186bb375f97e0e4
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/04/ModularBuildingDocuments_042edec7a2ba61443186bb375f97e0e4.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/1d/documentviewbuttonfixtest_1d5163555f2c50854d4c778359751bbe
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/1d/documentviewbuttonfixtest_1d5163555f2c50854d4c778359751bbe.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/69/withHierarchicalSelection_698a9aac17f86c21d06bed13f60cf25b
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/69/withHierarchicalSelection_698a9aac17f86c21d06bed13f60cf25b.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b0/i18n_b0d0753ed1d74744992b6a4eeefd0599
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b0/i18n_b0d0753ed1d74744992b6a4eeefd0599.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/fc/fileuploadformstest_fcc7c931fd37cb2642fab543767a1a92
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/fc/fileuploadformstest_fcc7c931fd37cb2642fab543767a1a92.map
Due: none

Update project documentation and improve test coverage
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  README.md
Due: prettier --write

Update all project documentation to reflect recent changes
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  CONTRIBUTING.md
  README.md
  docs/API_DOCUMENTATION.md
  docs/PROJECT_STATUS.md
  docs/README.md
Due: prettier --write

Update all project documentation and translation coverage
  CHANGELOG.md
  docs/COMPONENT_DOCUMENTATION.md
Due: prettier --write

Update documentation with improved setup and testing instructions
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/44/demandsschematest_4453da5320a1c70b70bb654fffd8e95d
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/44/demandsschematest_4453da5320a1c70b70bb654fffd8e95d.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/47/undefinedvariabledetectiontest_4770c034822979988d0fa8b5fc39c991
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/47/undefinedvariabledetectiontest_4770c034822979988d0fa8b5fc39c991.map
  CONTRIBUTING.md
  replit.md
Due: prettier --write

Update all project documentation with current information and best practices
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/99/unifieddatabasemock_99800029d47282ffea049a18ed13d314
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/99/unifieddatabasemock_99800029d47282ffea049a18ed13d314.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/db/optimizeddbstorage_db23f00d950e4306d5fedfc201a43deb
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/db/optimizeddbstorage_db23f00d950e4306d5fedfc201a43deb.map
  docs/README.md
  docs/references/DEVELOPMENT_WORKFLOW.md
  docs/references/PROJECT_STRUCTURE_GUIDE.md
Due: prettier --write

Update documentation and testing strategy for property management platform
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  docs/QUEBEC_COMPLIANCE_EXAMPLES.md
  docs/guides/GETTING_STARTED.md
  docs/guides/TESTING_STRATEGY.md
Due: prettier --write

Update project documentation and testing references
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  docs/README.md
Due: prettier --write

Update application documentation and code comments
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  client/src/hooks/use-auth.tsx
  client/src/lib/utils.ts
Due: eslint --fix, prettier --write

Update authentication documentation to reflect Quebec compliance
  client/src/hooks/use-auth.tsx
Due: eslint --fix, prettier --write

Update all project documentation to reflect latest changes
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
Due: none

Update all project documentation to reflect current standards and guides
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  docs/README.md
Due: prettier --write

Update test cache to include all unit and integration test files
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
Due: none

Improve error handling and logging across the application
  client/src/components/forms/feature-form/use-feature-form-data.tsx
  client/src/utils/performance-monitor.ts
  server/api/ai-monitoring.ts
Due: eslint --fix, prettier --write

Update internal caching mechanisms for improved test performance
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/07/utils_07bc9d6599bd7dd9e35c017708a2d3a1
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/07/utils_07bc9d6599bd7dd9e35c017708a2d3a1.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
Due: none

Improve test accuracy by adjusting audit log handling and file reading
  tests/unit/document-submission-security.test.ts
  tests/unit/translation-error-detection.test.ts
Due: eslint --fix, prettier --write

Refine tests for security and translation consistency
  tests/unit/document-submission-security.test.ts
  tests/unit/french-only-pages-translation.test.ts
  tests/unit/invitation/invitation-integration.test.ts
Due: eslint --fix, prettier --write

Update and add tests for application features and translations
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/1c/documentsubmissionsecuritytest_1cdf52a7879e2c481b7083805254fd4b
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/1c/documentsubmissionsecuritytest_1cdf52a7879e2c481b7083805254fd4b.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5f/invitationintegrationtest_5fe7c8ed98c7fd049d754363d9a3b977
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5f/invitationintegrationtest_5fe7c8ed98c7fd049d754363d9a3b977.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/63/frenchonlypagestranslationtest_632a8e0a2c06225207f31af5513bf562
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/63/frenchonlypagestranslationtest_632a8e0a2c06225207f31af5513bf562.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d5/translationerrordetectiontest_d55b16a4df9f8e700c1e127d41454e70
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d5/translationerrordetectiontest_d55b16a4df9f8e700c1e127d41454e70.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
Due: none

Improve multilingual support by adding new translations
  client/src/lib/i18n.ts
Due: eslint --fix, prettier --write

Improve mock database functionality for testing
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/bd/unifieddatabasemock_bde0ecef232212c708e62ed293e1cb5b
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/bd/unifieddatabasemock_bde0ecef232212c708e62ed293e1cb5b.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d1/i18n_d18ce10cba77b229675c9bdb731f8ea5
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d1/i18n_d18ce10cba77b229675c9bdb731f8ea5.map
  tests/mocks/unified-database-mock.ts
Due: eslint --fix, prettier --write

Update database mock to improve test reliability
  tests/mocks/unified-database-mock.ts
  tests/unit/invitation/invitation-integration.test.ts
Due: eslint --fix, prettier --write

Enhance type safety and mock implementations in testing infrastructure
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b6/invitationintegrationtest_b666802a8773ef1b28c65921b9fa3434
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b6/invitationintegrationtest_b666802a8773ef1b28c65921b9fa3434.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/db/unifieddatabasemock_db1a9c617698f15042ed4495300101bd
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/db/unifieddatabasemock_db1a9c617698f15042ed4495300101bd.map
  replit.md
  tests/unit/invitation/invitation-integration.test.ts
Due: eslint --fix, prettier --write

Improve test reliability by updating mock database interactions
  tests/unit/invitation/invitation-integration.test.ts
Due: eslint --fix, prettier --write

Fix invitation tests by updating mock data return types and references
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/dd/invitationintegrationtest_ddfd0846420be9071adfdde006a8bbf7
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/dd/invitationintegrationtest_ddfd0846420be9071adfdde006a8bbf7.map
  tests/unit/invitation/invitation-management.test.ts
Due: eslint --fix, prettier --write

Improve invitation management tests by unifying database mocking
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  tests/unit/invitation/invitation-management.test.ts
Due: eslint --fix, prettier --write

Improve form validation tests for better accuracy and reliability
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/37/invitationmanagementtest_37ec47c4a485525004e1d90895a92234
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/37/invitationmanagementtest_37ec47c4a485525004e1d90895a92234.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/9b/formvalidationfixestest_9b48a2a5a5687961d3bb00fd0842885a
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/9b/formvalidationfixestest_9b48a2a5a5687961d3bb00fd0842885a.map
  tests/unit/form-validation-fixes.test.ts
Due: eslint --fix, prettier --write

Improve form validation tests to catch more description errors
  tests/unit/form-validation-fixes.test.ts
Due: eslint --fix, prettier --write

Update invitation tests and fix form validation for UUIDs
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/3d/invitationmanagementtest_3d22e9bac404561c5f4639c872f8da4b
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/3d/invitationmanagementtest_3d22e9bac404561c5f4639c872f8da4b.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/f7/formvalidationfixestest_f7cc62bf56413ef1302c91e716fa4622
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/f7/formvalidationfixestest_f7cc62bf56413ef1302c91e716fa4622.map
  tests/unit/invitation/invitation-management.test.ts
Due: eslint --fix, prettier --write

Update mock request for invitation management tests
  tests/unit/invitation/invitation-management.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md,yml,yaml})
