Repository kevinhervieux-koveo/koveo-gestion-saas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,css,md,yml,yaml}": ["prettier --write"]
}

Improve element table bulk actions by adding delete and residence assignment
  attached_assets/image_1758593887733.png
  client/src/components/maintenance/inventory/ElementTable.tsx
Due: eslint --fix, prettier --write

Add delete functionality for maintenance inventory elements
  attached_assets/image_1758594256200.png
  client/src/components/maintenance/inventory/ElementTable.tsx
  client/src/pages/manager/maintenance/inventory/ElementDetailsPanel.tsx
  client/src/pages/manager/maintenance/inventory/InventoryPage.tsx
Due: eslint --fix, prettier --write

Improve form validation to correctly enable save button after error correction
  attached_assets/image_1758594431392.png
  client/src/components/maintenance/FormModal.tsx
  client/src/components/maintenance/inventory/ElementForm.tsx
Due: eslint --fix, prettier --write

Make maintenance element details view-only and read-only
  client/src/pages/manager/maintenance/inventory/ElementDetailsPanel.tsx
Due: eslint --fix, prettier --write

Add read-only mode for viewing property details without modifications
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758594632596_1758594632597.txt
  attached_assets/image_1758594637686.png
  attached_assets/image_1758594646792.png
Due: none

Improve maintenance inventory detail view for better usability and error handling
  client/src/pages/manager/maintenance/inventory/ElementDetailsPanel.tsx
Due: eslint --fix, prettier --write

Update element details panel to display status and evaluation information
  attached_assets/image_1758594936210.png
  attached_assets/image_1758595027805.png
  client/src/pages/manager/maintenance/inventory/ElementDetailsPanel.tsx
Due: eslint --fix, prettier --write

Fix error when trying to view documents for maintenance elements
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758595031092_1758595031093.txt
Due: none

Remove the ability to add or edit inventory elements
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758595311744_1758595311744.txt
  attached_assets/image_1758595316578.png
  attached_assets/targeted_element_1758595201334.png
  client/src/pages/manager/maintenance/inventory/InventoryPage.tsx
Due: eslint --fix, prettier --write

Saved your changes before starting work
  attached_assets/targeted_element_1758595818483.png
Due: none

Update element card to allow editing by more users
  client/src/components/maintenance/inventory/ElementCard.tsx
Due: eslint --fix, prettier --write

Update element table with individual editing and bulk actions
  attached_assets/image_1758596055822.png
  attached_assets/image_1758596063041.png
Due: none

Add a view-only mode for inventory forms to prevent accidental edits
  client/src/components/maintenance/FormModal.tsx
  client/src/components/maintenance/inventory/ElementForm.tsx
Due: eslint --fix, prettier --write

Update inventory page to use a view-only form instead of a details panel
  client/src/pages/manager/maintenance/inventory/InventoryPage.tsx
Due: eslint --fix, prettier --write

Add an edit button to allow modification of building elements in view mode
  client/src/components/maintenance/inventory/ElementForm.tsx
Due: eslint --fix, prettier --write

Prevent editing of maintenance inventory details in view mode
  client/src/components/maintenance/inventory/ElementForm.tsx
Due: eslint --fix, prettier --write

Add comprehensive inventory management for building elements
  replit.md
Due: prettier --write

Fix issue where forms automatically enter edit mode after initial use
  attached_assets/image_1758627602827.png
  client/src/components/maintenance/inventory/ElementForm.tsx
Due: eslint --fix, prettier --write

Enable editing and adding maintenance inventory elements
  attached_assets/image_1758628189581.png
  client/src/pages/manager/maintenance/inventory/InventoryPage.tsx
  server/api/maintenance.ts
Due: eslint --fix, prettier --write

Improve element editing functionality and add missing fields to form
  client/src/components/maintenance/inventory/ElementForm.tsx
Due: eslint --fix, prettier --write

Update element form to handle date and number inputs correctly
  attached_assets/image_1758629429752.png
  client/src/components/maintenance/inventory/ElementForm.tsx
Due: eslint --fix, prettier --write

Improve maintenance element editing and form interactions
  attached_assets/image_1758630350278.png
  attached_assets/targeted_element_1758630399463.png
Due: none

Improve element forms and table with enhanced editing and viewing capabilities
  client/src/components/maintenance/FormModal.tsx
  client/src/components/maintenance/inventory/ElementForm.tsx
  client/src/components/maintenance/inventory/ElementTable.tsx
Due: eslint --fix, prettier --write

Add detailed logging for user interactions on inventory and project pages
  client/src/pages/manager/maintenance/inventory/InventoryPage.tsx
  client/src/pages/manager/maintenance/projects/ProjectsPage.tsx
Due: eslint --fix, prettier --write

Improve save button logic to allow saving with non-critical errors
  attached_assets/image_1758631086654.png
  client/src/components/maintenance/FormModal.tsx
Due: eslint --fix, prettier --write

Improve maintenance inventory form validation and display logic
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758631530832_1758631530832.txt
  attached_assets/image_1758631453088.png
  attached_assets/image_1758631684237.png
  client/src/components/maintenance/FormModal.tsx
  client/src/pages/manager/maintenance/inventory/InventoryPage.tsx
Due: eslint --fix, prettier --write

Improve maintenance inventory form and fix evaluation date display
  client/src/components/maintenance/inventory/ElementForm.tsx
Due: eslint --fix, prettier --write

Improve maintenance inventory form validation and default values
  client/src/components/maintenance/inventory/ElementForm.tsx
Due: eslint --fix, prettier --write

Improve form validation and error highlighting for maintenance elements
  client/src/components/maintenance/FormModal.tsx
  client/src/components/maintenance/inventory/ElementForm.tsx
Due: eslint --fix, prettier --write

Improve form validation and user experience for maintenance elements
  client/src/components/maintenance/FormModal.tsx
  client/src/components/maintenance/inventory/ElementForm.tsx
Due: eslint --fix, prettier --write

Fix form validation for item creation and improve debug logging
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758633549208_1758633549208.txt
  client/src/components/maintenance/inventory/ElementForm.tsx
Due: eslint --fix, prettier --write

Fix form validation to correctly identify valid entries
  attached_assets/image_1758633745595.png
Due: none

Ensure maintenance inventory forms are always valid by setting default values
  client/src/components/maintenance/inventory/ElementForm.tsx
Due: eslint --fix, prettier --write

Improve maintenance element form with better quantity and unit value handling
  attached_assets/image_1758633931061.png
  client/src/components/maintenance/inventory/ElementForm.tsx
Due: eslint --fix, prettier --write

Improve form validation logging for better debugging
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758634260946_1758634260946.txt
  attached_assets/image_1758634239433.png
  attached_assets/image_1758634245265.png
  attached_assets/image_1758634251783.png
  attached_assets/image_1758634256980.png
  client/src/components/maintenance/inventory/ElementForm.tsx
Due: eslint --fix, prettier --write
