Repository kevinhervieux-koveo/koveo-gestion-saas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings 0",
    "prettier --write"
  ],
  "*.{json,css,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{ts,tsx}": [
    "bash -c 'npm run typecheck'"
  ]
}

Automate demo organization data synchronization from development to production
  .env.deployment.example
  DEMO_ORGANIZATION_SYNC.md
  replit.md
  scripts/deployment-hooks.ts
  scripts/import-demo-organization.ts
  scripts/sync-demo-organization.ts
  server/routes.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add a new dashboard page to display role-based navigation and information
  client/src/App.tsx
  client/src/pages/dashboard.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Organize user and permission views on the admin page
  client/src/pages/admin/permissions.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Remove user management link from the sidebar navigation
  client/src/config/navigation.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update project to support image file uploads and improve testing
  .quality-metrics-history.json
  TEST_RESULTS_SUMMARY.md
  jest.config.js
  package-lock.json
  package.json
  server/routes.ts
  tests/unit/roadmap-component.test.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Standardize terminology and fix documentation links across the project
  DOCUMENTATION_FIXES_COMPLETE.md
  TEST_RESULTS_SUMMARY.md
  client/src/components/README.md
  client/src/components/admin/README.md
  docs/CODE_REVIEW_GUIDE.md
  docs/PAGE_ORGANIZATION_GUIDE.md
  docs/README.md
  docs/ROUTING_CHECKLIST.md
  docs/TEMPLATE.md
  fix-documentation-issues.js
  koveo-gestion-exhaustive-docs.md
  server/README.md
Due: eslint --fix --max-warnings 0, prettier --write

Adjust documentation tests to reflect current system performance
  DOCUMENTATION_FIXES_COMPLETE.md
  QUALITY_METRICS_CALIBRATION.md
  replit.md
  tests/organization/documentation-validation.test.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Enhance documentation and refine system behavior and testing
  COMPREHENSIVE_DOCUMENTATION_REPORT.md
  DOCUMENTATION_CALIBRATION_COMPLETE.md
  docs/API_DOCUMENTATION.md
  docs/COMPONENT_DOCUMENTATION.md
  docs/README.md
  server/routes.ts
  tests/organization/documentation-improvement.test.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Enhance organization form with Quebec-specific validation rules
  docs/COMPONENT_DOCUMENTATION.md
  tests/organization/documentation-improvement.test.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Enhance documentation readability and structure for all components
  DOCUMENTATION_READABILITY_IMPROVEMENTS.md
  docs/COMPONENT_DOCUMENTATION.md
  tests/organization/documentation-improvement.test.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Standardize test file organization and naming conventions
  DOCUMENTATION_READABILITY_IMPROVEMENTS.md
  TEST_FILE_NAMING_ANALYSIS.md
  TEST_NAMING_CONSISTENCY_COMPLETE.md
  replit.md
  tests/e2e/ssl-management.test.ts
  tests/test-naming-standards.md
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve documentation quality and testing standards compliance
  DOCUMENTATION_STANDARDS_COMPLIANCE.md
  replit.md
  tests/organization/documentation-improvement.test.ts
  tests/organization/project-structure.test.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Enhance documentation with comprehensive code examples
  client/src/components/forms/README.md
  docs/API_DOCUMENTATION.md
  docs/CODE_EXAMPLES_GUIDE.md
  docs/COMPONENT_DOCUMENTATION.md
  docs/QUEBEC_COMPLIANCE_EXAMPLES.md
  replit.md
Due: prettier --write

Refine documentation formatting for consistency and clarity
  docs/API_DOCUMENTATION.md
  docs/BRANCH_PROTECTION_SETUP.md
  docs/CODE_EXAMPLES_GUIDE.md
  docs/CODE_REVIEW_GUIDE.md
  docs/COMPONENT_DOCUMENTATION.md
  docs/IMPROVEMENT_REPORT.md
  docs/PAGE_ORGANIZATION_GUIDE.md
  docs/PAGE_ROUTING_GUIDE.md
  docs/QUALITY_SYSTEM_OVERVIEW.md
  docs/QUEBEC_COMPLIANCE_EXAMPLES.md
  docs/RBAC_SYSTEM.md
  docs/README.md
  docs/ROUTING_CHECKLIST.md
  docs/TEMPLATE.md
  replit.md
Due: prettier --write

Refine project structure and documentation organization for clarity
  PROJECT_STRUCTURE_ANALYSIS.md
  client/src/components/index.ts
  client/src/pages/index.ts
  docs/guides/RBAC_IMPLEMENTATION.md
  docs/references/PROJECT_STRUCTURE_GUIDE.md
  docs/references/SYSTEM_PROMPT_GUIDELINES.md
  docs/reports/COMPREHENSIVE_DOCUMENTATION_REPORT.md
  docs/reports/DEMO_ORGANIZATION_SYNC.md
  docs/reports/DEPLOYMENT_FIXES.md
  docs/reports/DOCUMENTATION_CALIBRATION_COMPLETE.md
  docs/reports/DOCUMENTATION_FIXES_COMPLETE.md
  docs/reports/DOCUMENTATION_READABILITY_IMPROVEMENTS.md
  docs/reports/DOCUMENTATION_STANDARDS_COMPLIANCE.md
  docs/reports/ORGANIZATION_VALIDATION_REPORT.md
  docs/reports/QUALITY_METRICS_CALIBRATION.md
  docs/reports/TEST_FILE_NAMING_ANALYSIS.md
  docs/reports/TEST_NAMING_CONSISTENCY_COMPLETE.md
  docs/reports/TEST_RESULTS_SUMMARY.md
  docs/structure/README.md
  replit.md
  server/config/index.ts
  server/constants/index.ts
  server/types/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update TypeScript configuration and add testing dependencies
  package-lock.json
  package.json
  tests/e2e/critical-user-flows.test.tsx
  tsconfig.base.json
  tsconfig.json
  types/components.d.ts
  types/global.d.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Enhance user management with added translations and type definitions
  client/src/components/admin/user-list.tsx
  client/src/lib/i18n.ts
  shared/schema.ts
  types/components.d.ts
  types/global.d.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Set up mock API for testing and adjust dependencies
  jest.config.js
  package-lock.json
  package.json
  tests/mocks/fileMock.js
  tests/mocks/handlers.ts
  tests/mocks/server.ts
  tests/polyfills.js
  tests/setup.ts
  tests/utils/test-utils.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update test configurations and polyfills for improved stability
  jest.config.js
  tests/mocks/wouter-memory-mock.js
  tests/mocks/wouter-mock.js
  tests/polyfills.js
  tests/unit/form-validation.test.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update testing and documentation to improve quality assurance
  .quality-metrics-history.json
  docs/IMPROVEMENT_REPORT.md
  tests/e2e/critical-user-flows.test.tsx
  tests/polyfills.js
  tests/system/comprehensive-test-suite.test.tsx
  tests/unit/auth-hooks.test.tsx
  tests/unit/dashboard-components.test.tsx
  tests/unit/db-storage.test.ts
  types/global.d.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Ensure all tests pass and set up production testing infrastructure
  replit.md
Due: prettier --write

Update quality metrics with latest findings and timestamps
  .quality-metrics-history.json
Due: prettier --write

Refine integration tests and skip database optimizations
  .quality-metrics-history.json
  server/db-storage.ts
  server/optimized-db-storage.ts
  tests/integration/api.test.ts
  tests/jest.config.integration.js
  tests/setup-integration.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Consolidate all user management into a single route
  client/src/App.tsx
  client/src/config/navigation.ts
  client/src/pages/management/user-management.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Securely hash user passwords and improve type safety across the platform
  attached_assets/image_1755449826306.png
  replit.md
  scripts/sync-demo-organization.ts
  server/auth.ts
  server/controllers/auth-controller.ts
  server/controllers/organization-controller.ts
  server/controllers/user-controller.ts
  server/routes.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Remove User Management from the admin navigation and code
  client/src/App.tsx
  client/src/config/navigation.ts
  client/src/pages/management/user-management.tsx
  replit.md
  tests/routing/navigation.test.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve the system for tracking quality metric effectiveness and suggestions
  .quality-metrics-history.json
  tests/continuous-improvement/quality-system.test.ts
  tests/mobile/accessibility.test.tsx
  tests/system/comprehensive-test-suite.test.tsx
  tests/unit/auth-hooks.test.tsx
  tests/unit/quality-metrics.test.ts
  tests/utils/metric-effectiveness-tracker.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve system quality tracking and authentication tests
  tests/continuous-improvement/quality-system.test.ts
  tests/unit/auth-hooks.test.tsx
  tests/unit/quality-metrics.test.ts
  tests/utils/metric-effectiveness-tracker.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Enhance project documentation and testing details
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/guides/DEPLOYMENT_GUIDE.md
  docs/guides/GETTING_STARTED.md
  docs/guides/SECURITY_IMPLEMENTATION.md
  docs/guides/TESTING_STRATEGY.md
  docs/references/DEVELOPMENT_WORKFLOW.md
  replit.md
  tests/README.md
Due: prettier --write

Improve quality metric tracking and form dialog functionality
  client/src/App.tsx
  client/src/components/admin/organization-form-dialog.tsx
  tests/unit/quality-metrics.test.ts
  tests/utils/metric-effectiveness-tracker.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve invitation management and internationalization support
  client/src/components/admin/invitation-management.tsx
  client/src/components/admin/organization-form-dialog.tsx
  client/src/components/admin/send-invitation-dialog.tsx
  client/src/components/admin/user-list.tsx
  client/src/components/auth/registration-wizard.tsx
  client/src/lib/i18n.ts
  tests/mobile/performance.test.tsx
  tests/unit/db/query-scoping.test.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve user and organization management features and enhance test coverage reporting
  client/src/components/admin/organization-form-dialog.tsx
  client/src/components/admin/organizations-card.tsx
  client/src/components/admin/send-invitation-dialog.tsx
  client/src/components/admin/user-list.tsx
  client/src/components/auth/password-strength-indicator.tsx
  client/src/components/auth/registration-wizard.tsx
  client/src/components/ssl/SslCertificateInfo.tsx
  tests/unit/user-api.test.ts
  tests/utils/coverage-automation.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Enhance AI agent tooling for improved development workflows and monitoring
  .replit
  ai-agent-report.txt
  config/ai-agent-config.json
  docs/ai-agent-improvements-summary.md
  package-lock.json
  package.json
  replit.md
  scripts/ai-agent-demo.ts
  scripts/enhanced-ai-agent-cli.ts
  tools/enhanced-agent-orchestrator.ts
  tools/replit-integration-enhancer.ts
  tools/replit-monitor.js
  vite.config.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add AI agent scripts for enhanced development workflow automation
  package-json-enhanced.json
  scripts/update-package-json.js
Due: eslint --fix --max-warnings 0, prettier --write

Improve application startup and development server configuration
  attached_assets/image_1755456324660.png
  client/src/lib/i18n.ts
  server/index.ts
  server/routes-minimal.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update build configuration for improved development environment
  vite.config.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update project setup to use modern import paths
  vite.config.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Fix frontend loading errors by updating build system configuration
  replit.md
Due: prettier --write

Set up development server for faster updates and better user experience
  attached_assets/image_1755457062041.png
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'
