Repository kevinhervieux-koveo/koveo-gestion-saas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve user interface for managing documents and system settings
  attached_assets/image_1756772064556.png
Due: none

Enable necessary Google Cloud services for platform functionality
  attached_assets/downloaded-logs-20250901-201659_1756772229382.json
Due: prettier --write

Improve error reporting and add diagnostic information to document API
  server/api/documents.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve document API diagnostics by checking database table existence
  attached_assets/Pasted--api-auth-user-1-Failed-to-load-resource-the-server-responded-with-a-status-of-401-index-DHHS--1756772810663_1756772810664.txt
  attached_assets/Pasted--message-Document-API-diagnostic-gcs-disabled-true-session-fix-applied-true--1756772805567_1756772805568.txt
  attached_assets/image_1756772793904.png
  server/api/documents.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add diagnostic tests for database connection and document table queries
  attached_assets/image_1756772971092.png
  server/api/documents.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Sync production database schema with development environment
  attached_assets/image_1756773230901.png
Due: none

Improve system diagnostics to include user role enumeration checks
  attached_assets/image_1756773357280.png
  server/api/documents.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Safely remove the 'owner' role from the user role enum
  server/api/documents.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add functionality to fix user organization links
  .replit
  attached_assets/image_1756773790130.png
  attached_assets/image_1756773941825.png
  server/api/documents.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add endpoints to retrieve user's organizations and residences
  attached_assets/Pasted-index-DHHS-gqx-js-58-GET-https-koveo-gestion-com-api-user-organizations-404-Not-Found-anonymo-1756774076958_1756774076959.txt
  attached_assets/image_1756774073656.png
  attached_assets/image_1756774142092.png
  server/api/users.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update database schemas with new fields for improved functionality
  shared/schemas/core.ts
  shared/schemas/development.ts
  shared/schemas/infrastructure.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add timestamp to invitation audit logs for better tracking
  attached_assets/image_1756774418838.png
  shared/schemas/core.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Remove unnecessary timestamp data from invitation audit logs
  shared/schemas/core.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add image asset for visual reference
  attached_assets/image_1756774521600.png
Due: none

Update user role enumeration to include residents
  shared/schemas/core.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Fix user role enum ordering and migrate data
  attached_assets/image_1756774673220.png
  server/api/documents.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add documentation and examples for improved integration
  attached_assets/image_1756774953133.png
Due: none

Fix database errors preventing schema updates for user roles
  attached_assets/Pasted--workspace-curl-X-POST-https-koveo-gestion-com-api-documents-fix-enum-migration-message-En-1756775084758_1756775084758.txt
  attached_assets/image_1756775073132.png
  server/api/documents.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Set default value for invitations role to tenant
  server/api/documents.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add owner role to user permissions for property management
  attached_assets/image_1756775215416.png
  shared/schemas/core.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update user roles to replace 'owner' with 'admin' across the system
  server/api/documents.ts
  shared/schemas/core.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve the document management system for better file handling
  attached_assets/image_1756775562983.png
Due: none

Update database by removing and restoring enum default values
  attached_assets/image_1756775640292.png
  server/api/documents.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update user roles and system defaults to ensure tenant access
  attached_assets/image_1756775779855.png
  server/api/documents.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add document viewing functionality for users on the platform
  attached_assets/image_1756776521334.png
  attached_assets/image_1756776531402.png
Due: none

Add images to documentation for better user understanding
  attached_assets/image_1756776642326.png
Due: none

Fix issue preventing document visibility in production
  attached_assets/image_1756776829310.png
  attached_assets/image_1756776857508.png
Due: none

Update storage implementation to use optimized database
  server/storage.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Fix issue preventing document retrieval and display
  attached_assets/Pasted-DocumentManager-DF0bOko1-js-1-GET-https-koveo-gestion-com-api-documents-residenceId-5d23de5b-ba37-1756777492724_1756777492725.txt
  attached_assets/image_1756777487860.png
  attached_assets/image_1756777511823.png
Due: none

Saved your changes before starting work
  attached_assets/Pasted-index-CSHSeBP-js-268-Download-the-React-DevTools-for-a-better-development-experience-https-react-1756777768429_1756777768429.txt
  attached_assets/image_1756777762532.png
Due: none

Enable administrators to view all user assignments for organizations and residences
  client/src/pages/manager/user-management.tsx
  server/api/users.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Allow managers to view users within their organizations
  attached_assets/image_1756778061542.png
  client/src/pages/manager/user-management.tsx
  server/api/users.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Restrict user visibility based on organizational roles
  attached_assets/image_1756778167467.png
Due: none

Add detailed debugging logs for user assignment data
  client/src/pages/manager/user-management.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add logging for user organization and residence API endpoints
  attached_assets/image_1756778413087.png
  server/api/users.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add debugging logs to user management page for better issue diagnosis
  attached_assets/image_1756778496810.png
  client/src/pages/manager/user-management.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve user management by enriching user data with assignments
  attached_assets/image_1756778623168.png
  client/src/pages/manager/user-management.tsx
  server/api/users.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add enhanced logging to user data for improved debugging
  .replit
  attached_assets/image_1756778832253.png
  client/src/pages/manager/user-management.tsx
  server/api/users.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update user data fetching to include assignments for better management
  attached_assets/image_1756779104290.png
  client/src/pages/manager/user-management.tsx
  shared/schema.ts
  shared/schemas/core.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve user management by logging user assignment data
  attached_assets/image_1756779367762.png
  client/src/pages/manager/user-management.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md,yml,yaml})
  bash -c 'npm run typecheck': any of: *.{ts,tsx}
