Repository kevinhervieux-koveo/koveo-gestion-saas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,css,md,yml,yaml}": ["prettier --write"]
}

Fix calendar display issues when expanding cards on the communication page
  attached_assets/image_1758470402649.png
  attached_assets/targeted_element_1758470447673.png
  client/src/index.css
Due: prettier --write

Saved your changes before starting work
  attached_assets/image_1758470857657.png
Due: none

Update page title to reflect building management functionality
  attached_assets/image_1758470917720.png
Due: none

Update building management terminology for clarity and consistency
  attached_assets/image_1758471201022.png
  attached_assets/image_1758471288904.png
  client/src/lib/i18n.ts
Due: eslint --fix, prettier --write

Improve how recipient counts are displayed on the communication page
  client/src/pages/dashboard/communication.tsx
Due: eslint --fix, prettier --write

Add missing notification icon to resolve scattered numbers issue
  attached_assets/image_1758471415760.png
Due: none

Set default starting date for all notifications to January 1st
  client/src/pages/dashboard/communication.tsx
Due: eslint --fix, prettier --write

Improve urgent communication functionality by sending messages immediately
  attached_assets/image_1758471797314.png
  attached_assets/image_1758471885336.png
  attached_assets/image_1758471919356.png
  client/src/pages/dashboard/communication.tsx
Due: eslint --fix, prettier --write

Add urgent communication option bypassing user preferences for immediate delivery
  attached_assets/image_1758471987845.png
  server/api/communication.ts
Due: eslint --fix, prettier --write

Add rate limiting and permission checks for urgent communications
  server/api/communication.ts
Due: eslint --fix, prettier --write

Update recipient counts for communication based on estimated member roles
  client/src/pages/dashboard/communication.tsx
Due: eslint --fix, prettier --write

Fetch and display accurate member counts for organization communication
  client/src/pages/dashboard/communication.tsx
  server/api/communication.ts
Due: eslint --fix, prettier --write

Improve email recipient handling to prevent duplicate messages
  server/api/communication.ts
Due: eslint --fix, prettier --write

Update email links to direct users to correct application sections
  server/services/email-service.ts
Due: eslint --fix, prettier --write

Remove the "Additional Settings" section from the user settings page
  client/src/pages/settings/settings.tsx
Due: eslint --fix, prettier --write

Saved your changes before starting work
  attached_assets/image_1758477261526.png
  attached_assets/image_1758477341429.png
  attached_assets/targeted_element_1758477367645.png
Due: none

Update building links to navigate to the correct manager residences page
  client/src/components/buildings/BuildingCard.tsx
Due: eslint --fix, prettier --write

Update building links to correctly include organization ID
  client/src/components/buildings/BuildingCard.tsx
Due: eslint --fix, prettier --write

Saved your changes before starting work
  attached_assets/image_1758479458954.png
  attached_assets/targeted_element_1758479486524.png
Due: none

Update communication and settings pages to improve data handling and clarity
  client/src/pages/dashboard/communication.tsx
  client/src/pages/settings/settings.tsx
Due: eslint --fix, prettier --write

Update user management interface to improve data display
  attached_assets/image_1758479730481.png
  attached_assets/targeted_element_1758479760067.png
Due: none

Remove the calendar component and its related functionalities
  client/src/pages/dashboard/communication.tsx
Due: eslint --fix, prettier --write

Update database migration script to include production backups and force push confirmations
  .gitignore
  scripts/advanced-database-migration.ts
Due: eslint --fix, prettier --write

Improve server health checks for reliable deployment and uptime
  server/index.ts
Due: eslint --fix, prettier --write

Improve server startup and health check reliability
  server/index.ts
  server/routes.ts
Due: eslint --fix, prettier --write

Ensure application is accessible and responds correctly to health checks
  server/index.ts
  server/scripts/populate-default-notification-preferences.ts
Due: eslint --fix, prettier --write

Improve health check to identify more monitoring services
  attached_assets/image_1758483402993.png
  server/health-check.ts
Due: eslint --fix, prettier --write

Expand test coverage to include communication and budget functionalities
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  scripts/run-tests-sequential.sh
  scripts/run-tests-sequential.ts
Due: eslint --fix, prettier --write

Improve communication features and fix testing issues
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ea/communicationpagetest_eac7bf93153a6533b3baa0842e6b86bc
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ea/communicationpagetest_eac7bf93153a6533b3baa0842e6b86bc.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/fb/i18n_fb9558ca3a4a506ebd903bccc1463362
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/fb/i18n_fb9558ca3a4a506ebd903bccc1463362.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  client/src/lib/i18n.ts
  tests/unit/communication/communication-page.test.tsx
Due: eslint --fix, prettier --write

Update French translations and improve testing cache configuration
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/54/i18n_545b1b465fb5a7dd501ff545107205c3
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/54/i18n_545b1b465fb5a7dd501ff545107205c3.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  client/src/lib/i18n.ts
Due: eslint --fix, prettier --write
