Repository kevinhervieux-koveo/koveo-gestion-saas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings 0",
    "prettier --write"
  ],
  "*.{json,css,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{ts,tsx}": [
    "bash -c 'npm run typecheck'"
  ]
}

Allow invitations to be sent without associating them with a specific building
  attached_assets/image_1755537063841.png
  server/routes.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Refine invitation validation to require residences for specific roles
  attached_assets/image_1755537238234.png
  client/src/components/admin/send-invitation-dialog.tsx
  server/routes.ts
  shared/schema.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Fix errors in invitation route registration for the property management platform
  attached_assets/image_1755537551008.png
  server/routes.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add detailed invitation creation with validation and security checks
  attached_assets/image_1755537950210.png
  server/routes.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add invitation functionality to invite new users to the platform
  attached_assets/image_1755538097452.png
  server/routes-minimal.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Fix invitation sending by correcting data format and schema mapping
  attached_assets/Pasted-queryClient-ts-105-Mutation-error-Error-400-message-Invalid-invitation-data-errors-orig-1755542208548_1755542208548.txt
  attached_assets/image_1755542225649.png
  client/src/components/admin/send-invitation-dialog.tsx
  server/routes-minimal.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add invitation expiry and inviter details to new invitations
  client/src/components/admin/send-invitation-dialog.tsx
  shared/schema.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Fix issues with invitation data validation and schema
  attached_assets/image_1755542738019.png
  attached_assets/image_1755542758539.png
  server/routes-minimal.ts
  shared/schema.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Fix issues with sending invitations and form data parsing
  attached_assets/Pasted-Query-error-SyntaxError-Unexpected-token-DOCTYPE-is-not-valid-JSON-onError-queryCli-1755542969434_1755542969435.txt
  client/src/components/admin/send-invitation-dialog.tsx
  shared/schema.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve invitation checking for new users
  attached_assets/Pasted-Query-error-SyntaxError-Unexpected-token-DOCTYPE-is-not-valid-JSON-onError-queryCli-1755543068221_1755543068222.txt
  server/routes-minimal.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve invitation creation by returning detailed invitation data
  attached_assets/image_1755543164953.png
  server/routes-minimal.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Saved your changes before starting work
  attached_assets/Pasted-Query-error-SyntaxError-Unexpected-token-DOCTYPE-is-not-valid-JSON-onError-queryCli-1755543272380_1755543272380.txt
  attached_assets/image_1755543257153.png
Due: none

Enhance invitation system logging and email service initialization
  server/routes.ts
  server/services/email-service.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add visual assets for property management platform
  attached_assets/image_1755543687157.png
  attached_assets/image_1755543698426.png
  attached_assets/image_1755543723452.png
  attached_assets/image_1755543732737.png
Due: none

Fix error that appears when opening a form
  attached_assets/image_1755543867147.png
Due: none

Refine invitation data returned to the client
  server/routes-minimal.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add email sending functionality for user invitations to the platform
  server/routes-minimal.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Integrate SendGrid for sending invitation emails securely
  replit.md
  server/routes-minimal.ts
  server/routes.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve email sending logs with detailed SendGrid error information
  server/services/email-service.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update sender email address and add more email sending logs
  server/services/email-service.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve email delivery by configuring sender details and categories
  attached_assets/image_1755548044228.png
  server/routes-minimal.ts
  server/services/email-service.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update sender email address for outgoing invitations
  server/services/email-service.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update invitation flow to use registration page and custom sender Update invitation routing to `/register` and utilize `FRONTEND_URL` and `EMAIL_FROM` env variables for email generation.
  attached_assets/image_1755549226157.png
  client/src/App.tsx
  client/src/components/auth/steps/token-validation-step.tsx
  server/routes-minimal.ts
  server/services/email-service.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve invitation system to prevent duplicate invitations
  attached_assets/image_1755549520578.png
Due: none

Update invitation link to direct users to registration page
  server/services/email-service.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update invitation system to replace existing invitations
  attached_assets/image_1755549871347.png
  server/routes-minimal.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve invitation system to handle multiple invitations
  attached_assets/image_1755550167035.png
  server/routes-minimal.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve invitation system to replace existing ones
  attached_assets/image_1755550300966.png
  replit.md
Due: prettier --write

Define building access rules for users based on roles and residences
  server/api/buildings.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve building management by restricting access and displaying data
  client/src/pages/manager/buildings.tsx
  server/api/buildings.ts
  server/routes-minimal.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Refine access rules for managing building information
  attached_assets/image_1755551721514.png
  attached_assets/image_1755551732775.png
  replit.md
Due: prettier --write

Update loading indicator for buildings page
  client/src/pages/manager/buildings.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update user retrieval to use session data for building API
  attached_assets/image_1755551897826.png
  server/api/buildings.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Fix access error for users viewing building information
  attached_assets/image_1755552034433.png
  server/api/buildings.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Fix login issue by ensuring user session is properly validated
  attached_assets/Pasted-queryClient-ts-99-Query-error-Error-401-message-Authentication-required-code-AUTH-REQUIRE-1755552186735_1755552186736.txt
  server/api/buildings.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Fix issue preventing users from viewing buildings
  attached_assets/image_1755552293190.png
Due: none

Update data fetching to correctly process buildings information
  client/src/pages/manager/buildings.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Grant special access to all properties for Koveo organization members
  server/api/buildings.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Grant global building access to specific organization users
  attached_assets/image_1755552617638.png
  replit.md
Due: prettier --write

Add a search feature to find buildings by name and address
  client/src/pages/manager/buildings.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'
