Repository kevinhervieux-koveo/koveo-gestion-saas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Adjust year selection to include future years up to 2025
  client/src/pages/manager/bills.tsx
Due: eslint --fix, prettier --write

Adjust the year selection logic for better bill filtering
  client/src/pages/manager/bills.tsx
Due: eslint --fix, prettier --write

Remove unused "Generate 2026" buttons from the bills page
  attached_assets/targeted_element_1757955507132.png
  client/src/pages/manager/bills.tsx
Due: eslint --fix, prettier --write

Remove obsolete bill generation buttons from the interface
  attached_assets/image_1757955684267.png
Due: none

Update edit button icon to a more suitable symbol
  attached_assets/targeted_element_1757955717115.png
  client/src/components/buildings/building-card.tsx
  client/src/pages/manager/bills.tsx
Due: eslint --fix, prettier --write

Improve test reliability by fixing various issues
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
Due: none

Improve testing setup with Mock Service Worker and provider configurations
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .replit
  client/src/test-utils.tsx
  jest.setup.ts
  tests/mocks/msw-handlers.ts
Due: eslint --fix, prettier --write

Update database mocking for improved test reliability
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/37/matchersa1259dd2_372e5729eb96e6a078fcf485160cea44
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/51/index_519a64d3ed60d2b9abe18fb67db4e9d9
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/90/jestsetup_907d4c0f03dc3dc16c40653c2c6fd84b
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/90/jestsetup_907d4c0f03dc3dc16c40653c2c6fd84b.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  .replit
  jest.config.cjs
  jest.setup.ts
  tests/database-mock-integration.test.ts
  tests/enhanced-database-mock-verification.js
  tests/mocks/enhanced-database-mock.js
Due: eslint --fix, prettier --write

Add comprehensive validation for user inputs and application data
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/24/completeformvalidationsuitetest_24b08f948e87c3624b18ec71aaa8f9d9
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/24/completeformvalidationsuitetest_24b08f948e87c3624b18ec71aaa8f9d9.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5d/formvalidationhelpers_5dcfbb2714701b56ea9a1cc2ecdcbf56
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5d/formvalidationhelpers_5dcfbb2714701b56ea9a1cc2ecdcbf56.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/65/passwordvalidation_65bc2a5e71bf7a50d24c1a88097553ae
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/65/passwordvalidation_65bc2a5e71bf7a50d24c1a88097553ae.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/9d/passwordvalidationtest_9ddcb6940ccfb3fd8b64b720b00f04cb
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/9d/passwordvalidationtest_9ddcb6940ccfb3fd8b64b720b00f04cb.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/f4/buildingsvalidationtest_f4f2f9997caba5547fcc19e42ef5192c
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/f4/buildingsvalidationtest_f4f2f9997caba5547fcc19e42ef5192c.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  .replit
Due: none

Optimize Jest configuration and mock implementations for faster testing
  .replit
  __mocks__/enhanced-database-mock.js
  __mocks__/fileMock.js
  jest.config.backup.cjs
  jest.config.cjs
  jest.config.optimized.cjs
  jest.config.simple.cjs
  jest.global-setup.js
  jest.global-teardown.js
  jest.setup.simple.ts
  scripts/debug-scanner.ts
  server/routes-minimal.ts
  tests/database-mock-integration.test.ts
  tests/mocks/configMock.js
  tests/mocks/database.js
  tests/mocks/database.ts
  tests/mocks/drizzleMock.js
  tests/mocks/enhanced-database-mock.js
  tests/mocks/fileMock.js
  tests/mocks/fileSystemMock.js
  tests/mocks/globalMocks.js
  tests/mocks/googleGenaiMock.js
  tests/mocks/msw-handlers.ts
  tests/mocks/pgCoreMock.js
  tests/mocks/schemaMock.js
  tests/mocks/serverApiMock.js
  tests/mocks/serverAuthMock.js
  tests/mocks/serverConfigMock.js
  tests/mocks/serverDbMock.js
  tests/mocks/serverMiddlewareMock.js
  tests/mocks/serverRoutesMock.js
  tests/mocks/serverUniversalMock.js
  tests/mocks/sharedSchemaMock.js
  tests/mocks/supertestMock.js
  tests/mocks/testUtils.js
  tests/mocks/unified-database-mock.ts
  tests/mocks/wouterMock.js
  tests/unit/demands/demand-comment-schema.test.ts.disabled
  tests/unit/demands/demands-schema.test.ts.disabled
  tests/unit/minimal.test.ts
Due: eslint --fix, prettier --write

Add a new dropdown menu for selecting property types
  package-lock.json
Due: prettier --write

Improve test reliability and mock configurations for better accuracy
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/26/jestsetup_26deb88c5e2564859499c60c9de0d359
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/26/jestsetup_26deb88c5e2564859499c60c9de0d359.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7f/documentmanagementcomprehensivetest_7f153436330af74066988fa4b28305db
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7f/documentmanagementcomprehensivetest_7f153436330af74066988fa4b28305db.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/8d/jestsetup_8daea069bf32e97ecc5750a184cc3d0b
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/8d/jestsetup_8daea069bf32e97ecc5750a184cc3d0b.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/91/routertestutils_91f31390647113799b715ef089c9f00a
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/91/routertestutils_91f31390647113799b715ef089c9f00a.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d7/wouter_d744e4014ddd64b62640ad403e9af1b4
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  tests/unit/document-submission-security.test.ts
  tests/unit/invitation/invitation-integration.test.ts
Due: eslint --fix, prettier --write

Improve test stability by updating mocks and cache configurations
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/63/wouter_635ceecc385deb9178ee39a59d05e349
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/80/documentmanagementcomprehensivetest_801bacfc27f53a1deb541dd584566529
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/80/documentmanagementcomprehensivetest_801bacfc27f53a1deb541dd584566529.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  tests/integration/document-management-comprehensive.test.tsx
Due: eslint --fix, prettier --write

Update tests for improved performance and accuracy
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/3d/schema_3d7999d90560689e8e737388f7dd4a75
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/3d/schema_3d7999d90560689e8e737388f7dd4a75.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/85/invitationintegrationtest_855845e6ac4d8f1cb9c7c74e0d52c692
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/85/invitationintegrationtest_855845e6ac4d8f1cb9c7c74e0d52c692.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b7/documentsubmissionsecuritytest_b777eaacef40bd62f9721a4fcfcc244c
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b7/documentsubmissionsecuritytest_b777eaacef40bd62f9721a4fcfcc244c.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
Due: none

Improve database mocking and test isolation for invitation functionality
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0f/db_0f2f7f2256d7f6feda1b6e85e7fe3ea1
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0f/db_0f2f7f2256d7f6feda1b6e85e7fe3ea1.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/1d/invitationintegrationtest_1dca81bb84d391bac225b55f78945640
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/1d/invitationintegrationtest_1dca81bb84d391bac225b55f78945640.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/31/routertestutils_31ee30e98fcbae55abd537f922257d69
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/31/routertestutils_31ee30e98fcbae55abd537f922257d69.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/3c/core_3c9670fc478d977af4bb4cade749a046
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/3c/core_3c9670fc478d977af4bb4cade749a046.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/53/documentmanagementcomprehensivetest_53118a0f99fb8945aa1322c39dfd3141
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/53/documentmanagementcomprehensivetest_53118a0f99fb8945aa1322c39dfd3141.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/61/invitationintegrationtest_61a11b93d14fc510948604004ad66d5e
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/61/invitationintegrationtest_61a11b93d14fc510948604004ad66d5e.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/a5/autogeneratedcomprehensivetranslationtest_a5cac90369b1fb77a7114fa51d95562c
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/a5/autogeneratedcomprehensivetranslationtest_a5cac90369b1fb77a7114fa51d95562c.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/a6/operations_a6623a187c945ca7689040c6a87e3b37
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/a6/operations_a6623a187c945ca7689040c6a87e3b37.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c5/buildingresidencemanagementtest_c5d1457ee2a253f60e2b5717c51948d9
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c5/buildingresidencemanagementtest_c5d1457ee2a253f60e2b5717c51948d9.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e1/i18n_e19a6c870c5b32bd294738ac91cb43d5
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e1/i18n_e19a6c870c5b32bd294738ac91cb43d5.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ed/schema_ed80ec68e08927d725851c68232d271c
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ed/schema_ed80ec68e08927d725851c68232d271c.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/f8/invitationintegrationtest_f84e4564eefcf259f799483c65c9c389
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/f8/invitationintegrationtest_f84e4564eefcf259f799483c65c9c389.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/fd/wouter_fd3f4cf22c927c48237689ef2a3b0498
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  __mocks__/enhanced-database-mock.js
  tests/unit/invitation/invitation-integration.test.ts
Due: eslint --fix, prettier --write

Update mock database functions for improved testing
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  __mocks__/drizzle-orm/index.js
  __mocks__/enhanced-database-mock.js
Due: eslint --fix, prettier --write

Add debugging and logging utility for server-side operations
  server/utils/debug-logger.ts
Due: eslint --fix, prettier --write

Update database schema to include missing tables and columns
  migrations/schema.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md,yml,yaml})
