Repository kevinhervieux-koveo/koveo-gestion-saas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Allow users to book 30-minute time slots for common spaces
  client/src/pages/residents/common-spaces.tsx
Due: eslint --fix, prettier --write

Improve booking availability to exclude end-of-day reservations
  attached_assets/image_1759552463913.png
  attached_assets/image_1759552533540.png
  client/src/pages/residents/common-spaces.tsx
Due: eslint --fix, prettier --write

Improve calendar to show user's bookings in green
  replit.md
Due: prettier --write

Improve opening hours check to accurately assess booking times
  attached_assets/image_1759576912508.png
  attached_assets/image_1759576921186.png
  server/api/common-spaces.ts
Due: eslint --fix, prettier --write

Update opening hours check to account for specific time zones
  attached_assets/image_1759578262656.png
  server/api/common-spaces.ts
Due: eslint --fix, prettier --write

Improve time zone accuracy for opening hours validation
  replit.md
Due: prettier --write

Add debug logs to manager section pages
  attached_assets/image_1759578744031.png
  client/src/pages/manager/BuildingDocuments.tsx
  client/src/pages/manager/ModularBuildingDocuments.tsx
  client/src/pages/manager/ResidenceDocuments.tsx
  client/src/pages/manager/bills.tsx
  client/src/pages/manager/budget.tsx
  client/src/pages/manager/buildings.tsx
  client/src/pages/manager/common-spaces-stats.tsx
  client/src/pages/manager/demands.tsx
  client/src/pages/manager/invoices.tsx
  client/src/pages/manager/maintenance/inventory/InventoryPage.tsx
  client/src/pages/manager/maintenance/projects/ProjectsHeader.tsx
  client/src/pages/manager/maintenance/projects/ProjectsPage.tsx
  client/src/pages/manager/residences.tsx
  client/src/pages/manager/user-management.tsx
Due: eslint --fix, prettier --write

Separate user building assignments from residence assignments
  server/api/users.ts
  server/optimized-db-storage.ts
  shared/schemas/property.ts
Due: eslint --fix, prettier --write

Restrict manager access to view only assigned buildings
  attached_assets/image_1759580816132.png
Due: none

Saved your changes before starting work
  attached_assets/image_1759581309692.png
  attached_assets/image_1759582279993.png
  attached_assets/image_1759582585867.png
  attached_assets/image_1759584462939.png
Due: none

Restrict manager building view to assigned properties and hide organization button for single org users
  client/src/pages/manager/buildings.tsx
  server/api/buildings.ts
Due: eslint --fix, prettier --write

Fix user management and building access issues for managers
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-buildings-DWHBkvnq-js-1-1759586039931_1759586039931.txt
  attached_assets/image_1759586033483.png
  client/src/pages/manager/user-management.tsx
  replit.md
Due: eslint --fix, prettier --write

Add bulk document deletion functionality for buildings
  client/src/components/document-management/DocumentCard.tsx
  client/src/pages/manager/ModularBuildingDocuments.tsx
Due: eslint --fix, prettier --write

Add bulk document deletion to manager buildings page
  replit.md
Due: prettier --write

Enable selection mode for document management to allow bulk editing
  attached_assets/image_1759592090436.png
  client/src/pages/manager/ModularBuildingDocuments.tsx
Due: eslint --fix, prettier --write

Add functionality to select and delete multiple documents at once
  attached_assets/image_1759592340148.png
  attached_assets/image_1759592345289.png
  client/src/components/common/ModularDocumentPageWrapper.tsx
Due: eslint --fix, prettier --write

Enable bulk document selection and deletion on the building management page
  client/src/components/common/ModularDocumentPageWrapper.tsx
  client/src/pages/manager/ModularBuildingDocuments.tsx
Due: eslint --fix, prettier --write

Improve document management and clean up duplicate pages
  replit.md
Due: prettier --write

Organize application pages and ensure all pages exist only once
  client/src/pages/Documents.tsx
  client/src/pages/ManagerDemandsPage.tsx
  client/src/pages/ModularDocuments.tsx
  client/src/pages/admin/suggestions-with-filter.tsx
  client/src/pages/index.ts
Due: eslint --fix, prettier --write

Remove duplicate and unused pages from the application codebase
  replit.md
Due: prettier --write

Saved your changes before starting work
  attached_assets/image_1759594614786.png
Due: none

Update residence card text to fit within its boundaries
  attached_assets/image_1759594757154.png
  attached_assets/image_1759594763129.png
  client/src/components/residences/ResidenceCard.tsx
Due: eslint --fix, prettier --write

Restrict manager access to only assigned residences and buildings
  client/src/pages/manager/residences.tsx
Due: eslint --fix, prettier --write

Restrict building access for managers to only those they manage
  attached_assets/image_1759595247776.png
  client/src/components/hoc/withHierarchicalSelection.tsx
  server/api/users.ts
Due: eslint --fix, prettier --write

Improve error handling for user management data loading
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-QsXTVvTP-js-380--1759595598965_1759595598965.txt
  attached_assets/image_1759595583695.png
  client/src/pages/manager/user-management.tsx
Due: eslint --fix, prettier --write

Adjust building visibility for specific user accounts
  attached_assets/image_1759595822710.png
Due: none

Update user interface and system functionalities to improve overall platform efficiency
  attached_assets/image_1759596627073.png
Due: none

Improve text fitting within cards to prevent overflow
  client/src/components/common/StandardCard.tsx
  client/src/components/residences/ResidenceCard.tsx
Due: eslint --fix, prettier --write

Improve test execution speed and reliability
  jest.config.cjs
Due: none

Add mock for relations to facilitate schema testing
  __mocks__/drizzle-orm.ts
Due: eslint --fix, prettier --write

Update tests and mock API calls for communication preferences
  tests/integration/document-management-comprehensive.test.tsx
  tests/unit/communication/communication-page.test.tsx
Due: eslint --fix, prettier --write

Improve communication page tests and refine test suite
  replit.md
Due: prettier --write

Saved your changes before starting work
  attached_assets/image_1759604620081.png
Due: none

Fix error preventing user management page from loading correctly
  client/src/pages/manager/user-management.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md,yml,yaml})
