Repository kevinhervieux-koveo/koveo-gestion-saas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings 0",
    "prettier --write"
  ],
  "*.{json,css,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{ts,tsx}": [
    "bash -c 'npm run typecheck'"
  ]
}

Ensure demo organizations exist for production deployment
  attached_assets/Pasted-2025-08-26-05-54-40-76-bb8d457f-User-9-54-40-AM-express-Residence-routes-registered-2025-08--1756202112103_1756202112104.txt
  server/services/demo-management-service.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve data retrieval speed by adding database indexes and views
  attached_assets/Pasted-2025-08-26-05-58-10-46-bb8d457f-User-Applied-CREATE-INDEX-CONCURRENTLY-IF-NOT-EXISTS-idx-maint-1756202303491_1756202303492.txt
  attached_assets/image_1756202257980.png
Due: none

Add a visually engaging illustration to the platform's assets
  attached_assets/image_1756202364814.png
Due: none

Introduce Gemini AI to power intelligent property management workflows
  attached_assets/image_1756202406528.png
Due: none

Add visual documentation for an issue
  attached_assets/image_1756202577483.png
Due: none

Add images to showcase platform features and user interface
  attached_assets/image_1756203069237.png
  attached_assets/image_1756203084373.png
Due: none

Improve demo data creation by cleaning existing records first
  attached_assets/image_1756203286653.png
  scripts/create-comprehensive-demo.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Ensure all application routes and background tasks are properly initialized
  attached_assets/Pasted-2025-08-26-06-24-14-23-7c6d6569-User-10-24-14-AM-express-Demand-routes-registered-2025-08-26-1756203961251_1756203961251.txt
  attached_assets/image_1756203939662.png
Due: none

Make user accounts unique by adding a number to duplicate usernames
  attached_assets/Pasted-2025-08-26-06-34-14-11-ca424250-User-true-2025-08-26-06-34-14-11-ca424250-User-2025-08-26-1756204483130_1756204483130.txt
  attached_assets/image_1756204403996.png
  attached_assets/image_1756204411474.png
  server/services/comprehensive-demo-sync-service.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Remove all references to the money flow feature
  attached_assets/image_1756205153206.png
  server/api/money-flow.ts
  server/index.ts
  server/jobs/index.ts
  server/jobs/money_flow_job.ts
  server/routes-minimal.ts
  server/services/money-flow-automation.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve server response speed for deployment health checks
  server/health-check.ts
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Optimize server startup by deferring database and other heavy imports
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Speed up server health checks and streamline deployment
  server/health-check.ts
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve server startup to load full features in development
  server/health-check.ts
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Skip non-essential background tasks during development initialization
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve error handling to gracefully manage missing middleware
  attached_assets/image_1756207297139.png
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update startup sequence to prevent background job timeouts
  attached_assets/image_1756207401119.png
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve deployment reliability with faster health checks
  server/health-check.ts
  server/index.ts
  server/ultra-health.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Streamline server startup for faster deployment health checks
  server/index.ts
  server/minimal-server.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve property management by adding a new AI-powered feature
  attached_assets/image_1756208456944.png
Due: none

Add new image assets to support current features
  attached_assets/image_1756208548533.png
Due: none

Enable frontend development server and update application loading
  server/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Enable login by processing request data before setting up routes
  server/index.ts
  server/routes-minimal.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Fix login attempts that failed due to authorization issues
  attached_assets/Pasted-use-auth-tsx-57-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756209149858_1756209149858.txt
  attached_assets/image_1756209145318.png
  cookies.txt
Due: none

Fix login issues preventing users from accessing their accounts
  attached_assets/Pasted-use-auth-tsx-57-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756209284610_1756209284610.txt
  attached_assets/image_1756209278770.png
Due: none

Fix login issues by correcting authorization problems
  attached_assets/Pasted-use-auth-tsx-57-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756209368448_1756209368448.txt
  attached_assets/image_1756209344666.png
Due: none

Enable credentials to be sent with login requests to allow access
  attached_assets/Pasted-use-auth-tsx-57-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756209667822_1756209667822.txt
  attached_assets/image_1756209658639.png
  client/src/hooks/use-auth.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Ensure secure cookies are used only in production environments
  attached_assets/Pasted-index-Ccr2I2Lt-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756210133994_1756210133994.txt
  attached_assets/image_1756210114466.png
  server/auth.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Saved your changes before starting work
  attached_assets/Pasted-index-Ccr2I2Lt-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756210833690_1756210833691.txt
  attached_assets/image_1756210823978.png
  attached_assets/image_1756210870222.png
  attached_assets/image_1756210895873.png
Due: none

Enhance access control to ensure proper data visibility for users
  server/rbac.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update building data fetching for manager pages
  client/src/pages/manager/bills.tsx
  client/src/pages/manager/budget.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve component documentation and update testing setup for better clarity
  client/src/components/BillEditForm.tsx
  client/src/components/BuildingSelectionGrid.tsx
  client/src/components/ObjectUploader.tsx
  jest.config.js
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve component documentation and error handling
  client/src/components/BillCreateForm.tsx
  client/src/components/BillEditForm.tsx
  client/src/components/BuildingSelectionGrid.tsx
  client/src/components/ObjectUploader.tsx
  client/src/components/ui/toaster.tsx
  client/src/components/ui/trial-request-form.tsx
  client/src/pages/manager/bills.tsx
  jest.config.js
  scripts/run-quality-check.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Fix error when finding buildings in the billing section of the app
  attached_assets/Pasted-bills-tsx-292-Uncaught-TypeError-buildings-find-is-not-a-function-at-Bills-bills-tsx-292-38--1756212340210_1756212340211.txt
Due: none

Improve bill management by showing loading and error states
  client/src/pages/manager/bills.tsx
  package.json
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Refine form components and update development tools
  client/src/components/BillCreateForm.tsx
  client/src/components/BillEditForm.tsx
  client/src/components/BuildingSelectionGrid.tsx
  client/src/components/ObjectUploader.tsx
  package-lock.json
  package.json
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update building types and adjust test imports for better clarity
  server/tests/database/database-integrity.test.ts
  server/tests/database/orphan-detection.test.ts
  server/tests/monthly-budget-service.test.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Display all property buildings on the management dashboard
  attached_assets/image_1756213323006.png
  attached_assets/image_1756213333477.png
Due: none

Adjust tests and ignore some files for better stability
  client/src/components/BillCreateForm.tsx
  jest.config.js
  server/tests/database/database-integrity.test.ts
  server/tests/database/orphan-detection.test.ts
  server/tests/delayed-update-service.test.ts
  server/tests/monthly-budget-service.test.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update test configuration to simplify Jest setup
  jest.config.js
  package-lock.json
  package.json
Due: eslint --fix --max-warnings 0, prettier --write
