Repository kevinhervieux-koveo/koveo-gestion-saas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,css,md,yml,yaml}": ["prettier --write"]
}

Fix error when displaying opening hours for common spaces
  attached_assets/Pasted-index-RS4LOZyo-js-25-TypeError-i-openingHours-map-is-not-a-function-at-common-spaces-CPgx3a8C--1757190104283_1757190104284.txt
Due: none

Fix error in resident demands page when user is not defined
  client/src/pages/ResidentDemandsPage.tsx
Due: eslint --fix, prettier --write

Improve handling of user data in resident demands
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-BwTVbc8h-js-136-R-1757190798043_1757190798043.txt
  attached_assets/image_1757190794543.png
  client/src/pages/ResidentDemandsPage.tsx
Due: eslint --fix, prettier --write

Add initial project setup files and configurations
  attached_assets/image_1757191203045.png
Due: none

Enhance authentication and session management for improved security and stability
  client/src/hooks/use-auth.tsx
  server/auth.ts
Due: eslint --fix, prettier --write

Improve logout functionality by refining cookie handling
  server/auth.ts
Due: eslint --fix, prettier --write

Update demand deletion permissions to include admins and managers
  attached_assets/image_1757192318539.png
  server/api/demands.ts
Due: eslint --fix, prettier --write

Add script to validate production database schema against application definitions
  validate-production-schema.js
Due: eslint --fix, prettier --write

Verify production database tables match the expected schema definitions
  schema-validation-report.md
Due: prettier --write

Ensure production database tables and columns match the defined schema
  validate-production-schema.js
Due: eslint --fix, prettier --write

Update database schema to match production environment
  attached_assets/image_1757192922916.png
Due: none

Improve security by restricting access to demand details
  server/api/demands.ts
Due: eslint --fix, prettier --write

Update tests to include author information for comments
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .replit
  tests/unit/forms/demand-comment-form.test.tsx
Due: eslint --fix, prettier --write

Improve form validation standards and testing setup
  .replit
  jest.config.simple.cjs
  jest.setup.simple.ts
  tests/unit/form-consistency-validation.test.ts
Due: eslint --fix, prettier --write

Improve form validation messages to be more helpful and specific
  tests/unit/form-consistency-validation.test.ts
Due: eslint --fix, prettier --write

Update security scan date and add basic tests
  reports/security-summary.json
  tests/minimal.test.ts
Due: eslint --fix, prettier --write

Update tests to use mocked dashboard components for stability
  tests/unit/dashboard-components.test.tsx
Due: eslint --fix, prettier --write

Improve clarity and helpfulness of form error messages
  tests/unit/form-consistency-validation.test.ts
Due: eslint --fix, prettier --write

Improve test configurations and compatibility for JavaScript files
  jest.config.simple.cjs
  jest.setup.simple.ts
  tests/minimal.test.ts
Due: eslint --fix, prettier --write

Add mocks for server API and schema validation to improve test reliability
  jest.config.simple.cjs
  jest.setup.simple.ts
  tests/mocks/configMock.js
  tests/mocks/schemaMock.js
  tests/mocks/serverApiMock.js
Due: eslint --fix, prettier --write

Add mocks for database and routes to improve testing
  jest.config.simple.cjs
  tests/mocks/serverDbMock.js
  tests/mocks/serverRoutesMock.js
Due: eslint --fix, prettier --write

Enhance documentation and testing infrastructure across the application
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/PROJECT_STATUS.md
  docs/README.md
  docs/guides/TESTING_STRATEGY.md
  replit.md
Due: prettier --write

Update project roadmap and documentation with current status and testing details
  ROADMAP.md
  docs/DOCUMENTATION_UPDATE_SUMMARY.md
  docs/QUALITY_SYSTEM_OVERVIEW.md
  docs/references/DEVELOPMENT_WORKFLOW.md
  docs/references/PROJECT_STRUCTURE_GUIDE.md
Due: prettier --write

Update test configurations and mocks for improved testing accuracy
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5d/formconsistencyvalidationtest_5dde4fcad727de3311499160c18d5c2f
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5d/formconsistencyvalidationtest_5dde4fcad727de3311499160c18d5c2f.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/62/dashboardcomponentstest_62447fa7865d82724290705b69d5eef5
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/62/dashboardcomponentstest_62447fa7865d82724290705b69d5eef5.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  .replit
  jest.config.simple.cjs
  reports/security-summary.json
  tests/mocks/serverAuthMock.js
  tests/mocks/serverMiddlewareMock.js
  tests/mocks/serverUniversalMock.js
Due: eslint --fix, prettier --write

Add user preference settings for language and theme
  .replit
Due: none

Update mock server files for improved testing and mock data
  .replit
  reports/security-summary.json
  tests/mocks/serverAuthMock.js
  tests/mocks/serverMiddlewareMock.js
  tests/mocks/serverUniversalMock.js
Due: eslint --fix, prettier --write

Improve test stability by mocking router and fixing test data
  jest.config.simple.cjs
  tests/mocks/wouterMock.js
  tests/unit/forms/demand-comment-form.test.tsx
Due: eslint --fix, prettier --write

Improve test mocks to support Drizzle ORM database operations
  jest.config.simple.cjs
  tests/mocks/drizzleMock.js
  tests/mocks/globalMocks.js
  tests/mocks/pgCoreMock.js
  tests/mocks/schemaMock.js
  tests/mocks/serverUniversalMock.js
  tests/mocks/sharedSchemaMock.js
  tests/mocks/testUtils.js
Due: eslint --fix, prettier --write

Add mock for JSONB data type to aid in testing
  tests/mocks/testUtils.js
Due: eslint --fix, prettier --write

Update test configurations and mocks for better Drizzle ORM support
  jest.config.simple.cjs
  tests/mocks/drizzleMock.js
  tests/mocks/testUtils.js
Due: eslint --fix, prettier --write
