Repository kevinhervieux-koveo/koveo-gestion-saas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings 0",
    "prettier --write"
  ],
  "*.{json,css,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{ts,tsx}": [
    "bash -c 'npm run typecheck'"
  ]
}

Update demand permissions to restrict editing and deletion
  client/src/components/demands/demand-details-popup.tsx
  client/src/lib/validations.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add hot reload system for faster development workflows
  replit.md
  scripts/dev-hot-reload.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve demand creation form validation and data handling
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/16/documents_167a19b800fa8150615f350e8a3e2101
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/16/documents_167a19b800fa8150615f350e8a3e2101.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/44/formvalidationfixestest_44d246494ac2d25ea538b4754c8aee37
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/44/formvalidationfixestest_44d246494ac2d25ea538b4754c8aee37.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/45/formsubmissionteststest_45097ea65a5d1190c622b5182af9acb8
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/45/formsubmissionteststest_45097ea65a5d1190c622b5182af9acb8.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5a/validations_5ac94b1a132deabd43113dbd4eb6c187
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5a/validations_5ac94b1a132deabd43113dbd4eb6c187.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/9a/infrastructure_9a7db5fb20696eb04dcb3861486c7720
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/9a/infrastructure_9a7db5fb20696eb04dcb3861486c7720.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b3/property_b37f999b5058c4919786f682ca31de2b
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b3/property_b37f999b5058c4919786f682ca31de2b.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c0/index_c06cd92aa057dbf1b052318c6b050710
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c0/index_c06cd92aa057dbf1b052318c6b050710.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ec/schema_ec548d30fc818842f909790ccab6843a
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ec/schema_ec548d30fc818842f909790ccab6843a.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  server/api/demands.ts
  shared/schemas/operations.ts
  tests/integration/form-submission-tests.test.ts
  tests/unit/form-validation-fixes.test.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add comprehensive tests for all application forms
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0e/comprehensiveformteststest_0e4c22fd98c01fa8bf31289ff67379f8
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0e/comprehensiveformteststest_0e4c22fd98c01fa8bf31289ff67379f8.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/15/comprehensiveformteststest_158a72aefb481b2d1ed9788c08905bf7
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/15/comprehensiveformteststest_158a72aefb481b2d1ed9788c08905bf7.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/51/comprehensiveformsubmissionteststest_5126908a11e80c319e67721f01f185af
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/51/comprehensiveformsubmissionteststest_5126908a11e80c319e67721f01f185af.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/a0/comprehensiveformsubmissionteststest_a0b2212bf596785d8c59d676c52aa563
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/a0/comprehensiveformsubmissionteststest_a0b2212bf596785d8c59d676c52aa563.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/f3/comprehensiveformteststest_f3f13b5bab81d562fa38b75bc28b5cd2
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/f3/comprehensiveformteststest_f3f13b5bab81d562fa38b75bc28b5cd2.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  tests/unit/comprehensive-form-submission-tests.test.tsx
  tests/unit/comprehensive-form-tests.test.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update project configuration to include new ports and test cache management
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/14/index_14e6eb980907194b51e04ee3a662d771
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/14/index_14e6eb980907194b51e04ee3a662d771.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/43/formvalidationfixestest_4321ded81a0ee5458d3eeec03ea56b7f
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/43/formvalidationfixestest_4321ded81a0ee5458d3eeec03ea56b7f.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/53/formactionbuttonstest_531ef8d5f226eb272e3500ccfa6cc627
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/53/formactionbuttonstest_531ef8d5f226eb272e3500ccfa6cc627.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/57/operations_57146b0810f6c038acdbc1dcfa4893a5
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/57/operations_57146b0810f6c038acdbc1dcfa4893a5.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/9c/validations_9c477bf5f85f44b549cc6aff77bce554
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/9c/validations_9c477bf5f85f44b549cc6aff77bce554.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/cf/demands_cfcd9657e4728b7c89ff7de59d72e6b0
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/cf/demands_cfcd9657e4728b7c89ff7de59d72e6b0.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  .replit
Due: none

Saved your changes before starting work
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
Due: none

Improve testing setup for database interactions and code imports
  jest.config.cjs
  jest.global-setup.js
  jest.setup.ts
  shared/schema.ts
  tests/mocks/database.js
  tests/unit/demands/demands-schema.test.ts
  tests/unit/form-validation-fixes.test.ts
  tsconfig.test.json
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Refactor document pages to use a reusable wrapper component
  client/src/components/BillCreateForm.tsx
  client/src/components/BillEditForm.tsx
  client/src/components/common/DocumentPageWrapper.tsx
  client/src/lib/queryClient.ts
  client/src/pages/Documents.tsx
  client/src/pages/manager/BuildingDocuments.tsx
  client/src/pages/manager/ResidenceDocuments.tsx
  client/src/pages/manager/user-management-simple.tsx
  client/src/pages/residents/BuildingDocuments.tsx
  client/src/pages/residents/ResidenceDocuments.tsx
  client/src/utils/form-validation-helpers.ts
  tests/unit/demands/demands-schema.test.ts
  tests/unit/form-validation-fixes.test.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve component usability and error handling throughout the application
  client/src/components/admin/send-invitation-dialog.tsx
  client/src/components/auth/registration-wizard.tsx
  client/src/components/auth/steps/token-validation-step.tsx
  client/src/components/common-spaces/common-space-calendar.tsx
  client/src/components/common-spaces/user-calendar.tsx
  client/src/components/common/AuthErrorBoundary.tsx
  client/src/components/common/DialogWrapper.tsx
  client/src/components/common/IconButton.tsx
  client/src/components/common/form-wrappers/SelectFieldWrapper.tsx
  client/src/components/common/form-wrappers/TextAreaFieldWrapper.tsx
  client/src/components/common/form-wrappers/TextFieldWrapper.tsx
  client/src/components/common/form-wrappers/index.ts
  client/src/components/dialogs/delete-confirmation-dialog.tsx
  client/src/components/forms/feature-form.tsx
  client/src/components/layout/sidebar.tsx
  client/src/components/ui/trial-request-form.tsx
  client/src/hooks/use-auth.tsx
  client/src/hooks/use-fullscreen.ts
  client/src/lib/style-constants.ts
  client/src/pages/admin/roadmap.tsx
  client/src/pages/auth/invitation-acceptance.tsx
  client/src/pages/auth/login.tsx
  client/src/pages/dashboard/calendar.tsx
  client/src/pages/manager/common-spaces-stats.tsx
  client/src/pages/manager/demands.tsx
  client/src/pages/residents/common-spaces.tsx
  client/src/utils/component-loader.ts
  client/src/utils/memory-monitor.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Saved your changes before starting work
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  attached_assets/image_1756983405419.png
Due: none

Improve component loading error logging for better debugging
  client/src/utils/component-loader.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve residence assignment tests for demo users
  attached_assets/image_1756984009895.png
  tests/integration/sophie-residence-assignment.test.ts
  tests/unit/residence-assignment-solution-guide.test.ts
  tests/unit/residence-assignment-validation.test.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update invitation schema for better data handling and security
  shared/schemas/core.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update all primary keys from UUID to VARCHAR for improved data handling
  shared/schemas/core.ts
  shared/schemas/development.ts
  shared/schemas/financial.ts
  shared/schemas/infrastructure.ts
  shared/schemas/monitoring.ts
  shared/schemas/operations.ts
  shared/schemas/property.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add advanced database migration script and guide
  package.json
  scripts/MIGRATION_GUIDE.md
  scripts/advanced-database-migration.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update demo organization search to use type filter
  server/api/demo-management.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Update demo user passwords for easier system access
  attached_assets/image_1756994993658.png
  scripts/update-demo-passwords.js
Due: eslint --fix --max-warnings 0, prettier --write

Set a default password for all demo user accounts
  scripts/update-demo-passwords.js
  server/optimized-db-storage.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add file attachment functionality to forms across the application
  client/src/components/common/BillForm.tsx
  client/src/components/forms/feature-form.tsx
  client/src/components/ui/file-upload.tsx
  client/src/pages/settings/bug-reports.tsx
  server/auth.ts
  shared/schemas/documents.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Fix bug report form submission and priority handling
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1757002364176_1757002364176.txt
  attached_assets/image_1757002337021.png
  client/src/pages/settings/bug-reports.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add file upload and paste functionality to the idea box
  .replit
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1757002658870_1757002658870.txt
  attached_assets/image_1757002444717.png
  attached_assets/image_1757002638538.png
  client/src/pages/settings/idea-box.tsx
  package-lock.json
  package.json
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add ability to paste images into bug reports and improve error handling
  client/src/pages/settings/bug-reports.tsx
  server/api/bugs.ts
  server/routes.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Fix issue preventing users from uploading images in bug reports
  attached_assets/image_1757002846489.png
Due: none

Allow viewing and downloading feature request attachments in the idea box
  client/src/pages/settings/idea-box.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add ability to attach images to bug reports and view them
  attached_assets/image_1757003210732.png
  client/src/pages/settings/bug-reports.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve file handling and simplify idea box settings for users
  client/src/pages/settings/idea-box.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Allow users to upload documents and images with feature requests
  .replit
  attached_assets/image_1757003475998.png
  client/src/pages/settings/idea-box.tsx
  server/storage.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Correctly submit file attachments for bug reports and feature requests
  .replit
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1757003883703_1757003883703.txt
  attached_assets/image_1757003858460.png
  client/src/pages/settings/idea-box.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Fix feature creation and ensure correct file uploads
  .replit
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1757004029743_1757004029743.txt
  attached_assets/image_1757004026072.png
  client/src/pages/settings/idea-box.tsx
  uploads/general/85c2ccfb-b900-44ad-ade0-08381052553f-image.png
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Fix issue with image display and delete button functionality
  .replit
  attached_assets/image_1757004247538.png
  client/src/pages/settings/idea-box.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve development experience with faster hot reloading
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1757004465232_1757004465232.txt
  attached_assets/image_1757004460938.png
  scripts/dev-fast.js
  scripts/dev-watch.js
  uploads/general/5abdda3b-9454-41ab-94a4-bd8cd05c66a3-cdd.txt
Due: eslint --fix --max-warnings 0, prettier --write

Add document association to specific records
  server/api/documents.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve feature submission by adding attachment details and debug logging
  .replit
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1757004886980_1757004886981.txt
  attached_assets/image_1757004880929.png
  server/api/documents.ts
  uploads/general/04def497-44d9-444b-ba50-90a1256ff40b-sefs.txt
  uploads/general/bb3e57ad-de1b-4ab3-bded-e353517c8e54-sefs.txt
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Add ability to associate files with feature requests and view them
  attached_assets/image_1757005057401.png
  server/api/documents.ts
  server/optimized-db-storage.ts
  uploads/general/60386fde-0243-4e09-82d2-0866e1a98d9b-image.png
  uploads/general/70956cd2-3e7a-44b2-8ae7-af2c70c7c198-sefs.txt
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Improve application startup by reordering integrations
  .replit
  attached_assets/image_1757005317157.png
  attached_assets/image_1757005359637.png
  uploads/general/276771ff-837e-492f-a9e1-53fa7cb96678-image.png
  uploads/general/82642a31-cdcd-450b-a7d1-e0c3949e32cd-fichier texte (7).txt
Due: none

Improve feature request visibility and management
  attached_assets/image_1757005498954.png
Due: none

Add debugging logs for attachment counts in feature requests
  server/optimized-db-storage.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'

Enhance feature request viewing and editing functionality
  .replit
  attached_assets/image_1757005648128.png
  attached_assets/image_1757005653784.png
  client/src/pages/settings/idea-box.tsx
  server/optimized-db-storage.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run typecheck'
