Repository kevinhervieux-koveo/koveo-gestion-saas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,css,md,yml,yaml}": ["prettier --write"]
}

Improve user management to fix editing issues and handle data
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1759605369962_1759605369962.txt
  attached_assets/image_1759605354122.png
  client/src/pages/manager/user-management.tsx
Due: eslint --fix, prettier --write

Ensure user data is safely processed when mapping assignments
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1759605611628_1759605611629.txt
  client/src/pages/manager/user-management.tsx
Due: eslint --fix, prettier --write

Fix error when editing users by ensuring user data is properly loaded
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1759605801018_1759605801018.txt
  client/src/pages/manager/user-management.tsx
Due: eslint --fix, prettier --write

Improve data handling and validation on user management page
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1759606104214_1759606104215.txt
  attached_assets/image_1759606112307.png
  client/src/pages/manager/user-management.tsx
Due: eslint --fix, prettier --write

Saved your changes before starting work
  attached_assets/image_1759607703443.png
Due: none

Allow managers to view and edit user organization and building assignments
  client/src/pages/manager/user-management.tsx
Due: eslint --fix, prettier --write

Improve user management page to always show user assignments
  replit.md
Due: prettier --write

Update navigation buttons to correctly link back to buildings
  attached_assets/image_1759608338067.png
  client/src/pages/manager/budget.tsx
Due: eslint --fix, prettier --write

Add debug logs to user management data fetching
  client/src/pages/manager/user-management.tsx
  server/api/users.ts
Due: eslint --fix, prettier --write

Improve user assignment visibility and data fetching on the user management page
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1759609111502_1759609111504.txt
  attached_assets/image_1759609157227.png
  client/src/pages/manager/user-management.tsx
  replit.md
  server/api/users.ts
Due: eslint --fix, prettier --write

Add French translations and improve bill form UI elements
  client/src/components/bill-management/ModularBillForm.tsx
Due: eslint --fix, prettier --write

Improve bill management and fix related issues
  attached_assets/Pasted-Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-1759666320097_1759666320097.txt
  attached_assets/image_1759666312206.png
  client/src/lib/i18n.ts
  client/src/pages/manager/bills.tsx
  server/api/bills.ts
Due: eslint --fix, prettier --write

Restrict maintenance access based on user roles and building assignments
  server/api/maintenance.ts
Due: eslint --fix, prettier --write

Update access controls for maintenance inventory and projects
  replit.md
Due: prettier --write

Restrict manager building access to assigned buildings
  server/api/organizations.ts
  server/api/users.ts
Due: eslint --fix, prettier --write

Update bill forms to improve payment management and add French translations
  client/src/components/bill-management/ModularBillForm.tsx
Due: eslint --fix, prettier --write

Update bill forms with French translations and dynamic total calculation
  client/src/components/bill-management/ModularBillForm.tsx
Due: eslint --fix, prettier --write

Update bill forms with French translations and improved payment calculations
  client/src/components/bill-management/ModularBillForm.tsx
  client/src/lib/i18n.ts
Due: eslint --fix, prettier --write

Update bill generation to create single payment bills from recurrent templates
  server/services/bill-generation-service.ts
  server/services/consolidated-financial-service.ts
Due: eslint --fix, prettier --write

Add robust financial management and bill generation capabilities
  replit.md
Due: prettier --write

Add a note to draft bills indicating exclusion from budget
  client/src/components/bill-management/ModularBillForm.tsx
  client/src/lib/i18n.ts
Due: eslint --fix, prettier --write

Update bill extraction and AI model usage for improved payment handling
  attached_assets/image_1759969382127.png
  attached_assets/image_1759969461762.png
  client/src/components/bill-management/GeminiBillExtractor.tsx
  server/services/consolidated-ai-service.ts
  server/services/gemini-bill-analyzer.ts
Due: eslint --fix, prettier --write

Translate existing English fields to French across the application
  client/src/lib/i18n.ts
Due: eslint --fix, prettier --write

Translate English fields in French mode to French
  client/src/pages/manager/bills.tsx
Due: eslint --fix, prettier --write

Translate UI text to French for better internationalization
  client/src/pages/manager/budget.tsx
  client/src/pages/manager/buildings.tsx
  client/src/pages/manager/demands.tsx
  client/src/pages/manager/invoices.tsx
  client/src/pages/manager/residences.tsx
  client/src/pages/manager/user-management.tsx
  client/src/pages/settings/bug-reports.tsx
  client/src/pages/settings/idea-box.tsx
Due: eslint --fix, prettier --write

Organize all application choice bundles alphabetically for user clarity
  shared/schemas/financial.ts
Due: eslint --fix, prettier --write

Organize all user-facing choice bundles alphabetically
  shared/schemas/operations.ts
  shared/schemas/property.ts
Due: eslint --fix, prettier --write

Update bill categories to include construction and legal services
  shared/schemas/financial.ts
Due: eslint --fix, prettier --write

Add new categories for bill and invoice management
  client/src/lib/i18n.ts
  client/src/pages/manager/bills.tsx
Due: eslint --fix, prettier --write

Organize dropdowns alphabetically for better user experience
  replit.md
Due: prettier --write

Add ability to auto-generate bills for the next year
  attached_assets/image_1760190636884.png
  attached_assets/image_1760190654451.png
  client/src/components/bill-management/ModularBillForm.tsx
Due: eslint --fix, prettier --write

Improve bill generation to automatically create next year's bills
  replit.md
Due: prettier --write

Improve auto-generated bill identification and payment scheduling
  attached_assets/image_1760191366193.png
  server/services/bill-generation-service.ts
Due: eslint --fix, prettier --write

Update auto-generated bills to mark single payments and set next payment date
  server/services/bill-generation-service.ts
Due: eslint --fix, prettier --write

Improve auto-generated bills identification and payment scheduling
  replit.md
Due: prettier --write
